.root {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 30px 26px 30px;
  border-bottom: 1px solid var(--coal);
  border-left: 1px solid var(--coal);

  @media (max-width: $tablet-portrait) {
    min-height: auto;
    padding: 16px 25px 20px 25px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  margin-bottom: 14px;
}

.title {
  @mixin headline;
  @mixin headline7;

  margin-bottom: 15px;

  @media (max-width: $tablet-portrait) {
    margin-bottom: 8px;
  }
}

.description {
  @mixin text;
  @mixin textSmall;

  margin-left: 30px;

  @media (max-width: $tablet-portrait) {
    margin-bottom: 20px;
    margin-left: 16px;
  }
}

.text {
  @mixin text;
  @mixin textSmall;

  margin-right: 8px;
}

.link {
  margin-top: auto;
}
