.root {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  padding: scale(15px 30px 26px 30px);
  border-bottom: scale(1px) solid var(--coal);
  border-left: scale(1px) solid var(--coal);

  @media (max-width: $tablet-portrait) {
    min-height: auto;
    padding: scale(16px 25px 20px 25px);
  }
}

.icon {
  width: scale(24px);
  height: scale(24px);
  margin-bottom: scale(14px);
}

.title {
  @mixin headline;
  @mixin headline7;

  margin-bottom: scale(15px);

  @media (max-width: $tablet-portrait) {
    margin-bottom: scale(8px);
  }
}

.description {
  @mixin text;
  @mixin textSmall;

  margin-left: scale(30px);

  @media (max-width: $tablet-portrait) {
    margin-bottom: scale(20px);
    margin-left: scale(16px);
  }
}

.text {
  @mixin text;
  @mixin textSmall;

  margin-right: scale(8px);
}

.link {
  margin-top: auto;
}
