.hero {
  display: grid;
  padding: 58px 270px 117px 120px;
  background-color: var(--beige);
  column-gap: 213px;
  grid-template-areas:
    ".       title"
    "contact description";
  grid-template-columns: repeat (2, 1fr);
  row-gap: 32px;

  @media (max-width: $tablet-portrait) {
    padding-top: 11px;
    padding-bottom: 100px;
    padding-left: 23px;
    gap: 0;
    grid-template-areas:
      "title"
      "description"
      "contact";
    grid-template-columns: 1fr;
  }
}

.heroTitle {
  grid-area: title;

  @media (max-width: $tablet-portrait) {
    margin-bottom: 24px;
  }
}

.heroDescription {
  grid-area: description;

  @media (max-width: $tablet-portrait) {
    margin-bottom: 56px;
  }
}

.heroPrContact {
  grid-area: contact;
}
