.default-padding {
  padding: scale(0 32px);
}

.root {
  padding: scale(98px 0);
}

.section {
  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  @mixin headline;
  @mixin headline4;

  max-width: scale(716px);
  margin: 0 auto;
}

.plain-text,
.html-markup {
  composes: section default-padding;
  max-width: scale(716px);
  margin: scale(0 auto 98px);
}

.events {
  composes: section default-padding;
  margin-bottom: scale(94px);
}

.plays,
.persons,
.videos {
  composes: section default-padding;
}

.persons {
  margin-bottom: scale(112px);

  .title {
    margin-bottom: scale(58px);
  }
}

.plays {
  margin-bottom: scale(124px);

  .title {
    margin-bottom: scale(48px);
  }
}

.videos {
  margin-bottom: scale(144px);

  .title {
    margin-bottom: scale(44px);
  }
}

.images {
  composes: section;
  margin-bottom: scale(122px);

  .title {
    margin-bottom: scale(42px);
  }
}

.link {
  composes: section;
  padding: scale(70px 270px 140px 362px);
  margin-bottom: scale(74px);
  background-color: var(--light-green);

  @media (max-width: $tablet-portrait) {
    padding: scale(56px 26px 72px);
  }

  .title {
    margin-bottom: scale(20px);

    @media (max-width: $tablet-portrait) {
      margin-bottom: scale(16px);
    }
  }
}
