.default-padding {
  padding: 64px 32px;

  @media (max-width: $tablet-portrait) {
    padding: 56px 24px;
  }
}

.root {
  background-color: var(--white);
}

.title {
  @mixin headline;
  @mixin headline4;

  max-width: 720px;
  margin: 0 auto 48px;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    margin: 0 0 34px;
  }
}

.section {
  &:not(.darkened):not(.brand) + &:not(.darkened):not(.brand) {
    padding-top: 0;
  }
}

.default {
  composes: section default-padding;
}

.darkened {
  background-color: var(--beige);
}

.brand {
  background-color: var(--light-green);
}

.event {
  composes: section default-padding;

  .title {
    flex: 1 0 450px;
    margin: 0 60px 0 0;
  }

  .inner {
    display: flex;
    max-width: 930px;
    margin: 0 auto;
  }
}

.events {
  composes: section;
  padding: 64px 0;

  .title {
    padding: 0 32px;
  }
}

.link {
  composes: section brand;
  padding: 70px 270px 140px 362px;

  @media (max-width: $tablet-portrait) {
    padding: 56px 26px 72px;
  }

  .inner {
    max-width: 808px;
    margin: 0 auto;
  }

  .title {
    max-width: 468px;
    margin: 0 0 20px;

    @media (max-width: $tablet-portrait) {
      margin-bottom: 16px;
    }
  }
}

.html-markup {
  composes: section default-padding;

  @media (max-width: $tablet-portrait) {
    padding-right: 0;
    padding-left: 0;
  }
}

.image {
  composes: section default-padding;

  .inner {
    max-width: 660px;
    margin: 0 auto;
  }

  .title {
    @mixin visually-hidden;
  }

  img {
    max-width: 100%;
  }
}

.image-carousel {
  composes: section default-padding;

  .inner {
    max-width: 716px;
    margin: 0 auto;
  }

  .title {
    @mixin visually-hidden;
  }
}

.image-gallery {
  padding: 64px 0;
}

.plays,
.persons {
  composes: section darkened default-padding;
}
