.default-padding {
  padding: scale(0 32px);
}

.root {
  background-color: var(--white);
}

.section {
  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  @mixin headline;
  @mixin headline4;

  max-width: scale(716px);
  margin: 0 auto;
}

.html-markup {
  composes: section default-padding;
  margin-bottom: scale(98px);

  &:first-child {
    padding-top: scale(72px);
  }
}

.events {
  composes: section default-padding;
  margin-bottom: scale(94px);
}

.plays,
.persons,
.videos {
  composes: section default-padding;
}

.plays,
.persons {
  padding: scale(120px 0);
  background-color: var(--beige);
}

.persons {
  .title {
    margin-bottom: scale(58px);
  }
}

.plays {
  .title {
    margin-bottom: scale(48px);
  }
}

.videos {
  .title {
    margin-bottom: scale(44px);
  }
}

.link {
  composes: section;
  padding: scale(70px 270px 140px 362px);
  margin-bottom: scale(74px);
  background-color: var(--light-green);

  @media (max-width: $tablet-portrait) {
    padding: scale(56px 26px 72px);
  }

  .title {
    margin-bottom: scale(20px);

    @media (max-width: $tablet-portrait) {
      margin-bottom: scale(16px);
    }
  }
}

.photo-carousel {
  composes: section;
  max-width: scale(716px);
  margin: scale(0 auto 80px);

  .title {
    @mixin visually-hidden;
  }
}

.html-markup-content {
  h3,
  h4,
  p,
  ul,
  ol {
    max-width: scale(840px);
    margin-right: auto;
    margin-left: auto;
  }
}
