.default-padding {
  padding: 0 32px;
}

.root {
  padding: 98px 0;
}

.section {
  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  @mixin headline;
  @mixin headline4;

  max-width: 716px;
  margin: 0 auto;
}

.html-markup {
  composes: section default-padding;
  margin-bottom: 98px;
}

.events {
  composes: section default-padding;
  margin-bottom: 94px;
}

.plays,
.persons,
.videos {
  composes: section default-padding;
}

.persons {
  margin-bottom: 112px;

  .title {
    margin-bottom: 58px;
  }
}

.plays {
  margin-bottom: 124px;

  .title {
    margin-bottom: 48px;
  }
}

.videos {
  margin-bottom: 144px;

  .title {
    margin-bottom: 44px;
  }
}

.photo-gallery {
  composes: section;
  margin-bottom: 122px;

  .title {
    margin-bottom: 42px;
  }
}

.link {
  composes: section;
  padding: 70px 270px 140px 362px;
  margin-bottom: 74px;
  background-color: var(--light-green);

  @media (max-width: $tablet-portrait) {
    padding: 56px 26px 72px;
  }

  .title {
    margin-bottom: 20px;

    @media (max-width: $tablet-portrait) {
      margin-bottom: 16px;
    }
  }
}

.html-markup-content {
  h3,
  h4,
  p,
  ul,
  ol {
    max-width: 716px;
    margin-right: auto;
    margin-left: auto;
  }
}
