.root {
  position: relative;
}

.popup {
  @mixin hide-scrollbars;

  position: absolute;
  z-index: 1;
  display: none;
  width: 100%;
  max-height: 260px;
  box-sizing: border-box;
  border: 1px solid var(--coal);
  border-top: 0;
  background-color: var(--white);
  overflow-y: auto;
}

.opened {
  .popup {
    display: block;
  }
}
