.section {
  position: relative;
  display: grid;
  width: 100%;
  min-height: 1074px;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: blue;
  grid-area: events;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, max-content);
  justify-items: center;
  row-gap: 48px;

  &::before {
    position: absolute;
    top: 4px;
    left: 50%;
    width: 1px;
    height: calc(100% - 10px);
    background-color: #242424;
    content: '';
  }

  @media screen and (max-width: $tablet-landscape) {
    grid-template-columns: 100%;
    row-gap: 32px;

    &::before {
      display: none;
    }
  }
}
