.events {
  width: 100%;
  padding: 110px 0 114px;
  grid-area: events;
}

.content {
  position: relative;
  display: grid;
  width: 100%;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, max-content);
  justify-items: center;
  row-gap: 48px;

  @media screen and (max-width: $tablet-portrait) {
    grid-template-columns: 100%;
    row-gap: 32px;

    &::before {
      display: none;
    }
  }

  &::before {
    position: absolute;
    top: 4px;
    left: 50%;
    width: 1px;
    height: calc(100%);
    background-color: var(--coal);
    content: '';
  }
}
