.overlayNav {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: var(--beige);
}

.container {
  display: flex;
  flex-direction: column;
}

.logotype {
  align-self: start;
  margin: 48px 0 0 58px;
}

.menu {
  margin: 32px 0 0 40px;
}

.actions {
  margin: 58px 0 0 54px;
}

.social-links {
  margin: 70px 0 0;
}
