@value tablet-portrait from 'shared/styles/media.module.css';

$page-margin-tablet-portrait: 120px;
$page-margin-smartphone: 24px;

.root {
  display: grid;
  padding: 0 $page-margin-tablet-portrait 220px;
  background-color: var(--white);
  grid-auto-columns: auto;
  grid-template-areas:
    "title   title   image"
    "filter  actions ."
    "content content content";
  grid-template-columns: auto auto 1fr;

  @media tablet-portrait {
    display: block;
    padding: 44px $page-margin-smartphone 150px;
  }
}

.filter {
  margin: 32px 30px 0 0;
  grid-area: filter;

  @media tablet-portrait {
    margin-right: 0;
    margin-bottom: 28px;
  }
}

.year {
  max-width: 148px;

  @media tablet-portrait {
    max-width: initial;
  }
}

.additional-note {
  @media tablet-portrait {
    @mixin visually-hidden;
  }
}

.title {
  align-self: flex-end;
  padding: 32px 0;
  grid-area: title;
}

.image {
  position: relative;
  min-width: calc(720px - $page-margin-smartphone);
  height: 268px;
  margin-right: calc(-1 * $page-margin-tablet-portrait);
  grid-area: image;

  @media tablet-portrait {
    min-width: initial;
    margin: 0 -$page-margin-smartphone;
  }
}

.content {
  max-width: 840px;
  margin: 64px auto 0;
  grid-area: content;
}

.actions {
  align-self: flex-end;
  grid-area: actions;
}
