@import "./press-release-layout.vars.module";

.root {
  display: grid;
  padding: scale(0 $page-margin-tablet-portrait scale(220px));
  background-color: var(--white);
  grid-auto-columns: auto;
  grid-template-areas:
    "title   title   cover"
    "filter  actions ."
    "content content content";

  @media (max-width: $tablet-portrait) {
    display: block;
    padding: scale(44px $page-margin-smartphone scale(150px));
  }
}

.title {
  grid-area: title;
}

.filter {
  margin: scale(32px 30px 0 0);
  grid-area: filter;

  @media (max-width: $tablet-portrait) {
    margin-right: 0;
    margin-bottom: scale(28px);
  }
}

.year {
  max-width: scale(148px);

  @media (max-width: $tablet-portrait) {
    max-width: initial;
  }
}

.additional-note {
  @media (max-width: $tablet-portrait) {
    @mixin visually-hidden;
  }
}
