.iconArrowDown {
  width: 25px;
  height: 25px;
  margin-right: 9px;
  transform: rotate(0deg);
  transition: .3s transform;
}

.rotateUp {
  transform: rotate(-180deg);
}

.container {
  position: relative;
  z-index: 99;
  display: flex;
  min-height: 44px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--coal);
  border-top: none;
  background-color: transparent;
  color: var(--coal);
  cursor: pointer;
  transition: background-color .4s ease-out, color .2s ease;

  &:hover {
    background-color: var(--coal);
    color: var(--beige);
  }

  &:hover .iconArrowDown {
    fill: var(--white);
  }
}

.dark {
  background-color: var(--coal);
  color: var(--beige);
}

.text {
  @mixin textLarge;
  @mixin text;

  margin-left: 15px;
  color: inherit;
  text-transform: capitalize;
}
