.root {
  padding: 60px;

  @media (max-width: $tablet-portrait) {
    padding: 32px 24px;
  }
}

.heading {
  margin-bottom: 110px;
  margin-left: 380px;

  @media (max-width: $tablet-portrait) {
    margin-left: 0;
  }
}

.title {
  @mixin headline;
  @mixin headline2;

  display: inline;
  margin-right: 15px;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;
  }
}

.description {
  @mixin text;
  @mixin textLarge;

  margin-top: 10px;
  margin-left: 132px;

  @media (max-width: $tablet-portrait) {
    display: none;
  }
}
