.root {
  padding: 60px;

  @media (max-width: $tablet-portrait) {
    padding: 32px 0;
  }
}

.heading {
  margin: 0 0 110px 380px;

  @media (max-width: $tablet-portrait) {
    margin: 0 24px 32px;
  }
}

.title {
  @mixin headline;
  @mixin headline2;

  display: inline;
  margin-right: 15px;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;
  }
}

.description {
  @mixin text;
  @mixin textLarge;

  margin-top: 10px;
  margin-left: 132px;

  @media (max-width: $tablet-portrait) {
    display: none;
  }
}
