.header {
  display: block;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: -200px;
  background-color: #b7c09d;
}

.menu {
  margin: 40px 0 70px 70px;
}

.title {
  @mixin headline;
  @mixin headline2;

  max-width: 924px;
  margin-bottom: 53px;
  margin-left: 62px;
}

.containerText {
  display: flex;
  max-width: 520px;
  flex-direction: column;
  align-self: end;
  margin: 0 110px 215px 85px;
}

.desc {
  @mixin headline;
  @mixin textLarge;

  margin-bottom: 20px;
  line-height: 24px;

  &:last-of-type {
    margin: 0;
  }
}

.container {
  position: relative;
  z-index: 100;
  max-width: 720px;
  margin-bottom: -220px;
}

.img {
  @mixin img;

  margin-left: -24px;
}

@media all and (max-width: 601px) {
  .content {
    margin-bottom: -114px;
  }

  .menu {
    margin: 26px 0 32px 24px;
  }

  .title {
    @mixin headline4;

    margin: 0 24px 30px 24px;
  }

  .containerText {
    margin: 0 24px 188px 85px;
  }
}
