.header {
  display: block;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #b7c09d;
}

.menu {
  margin: scalesize(40px 0 70px 70px);
}

.title {
  @mixin headline;
  @mixin headline2;

  max-width: scalesize(924px);
  margin-bottom: scalesize(53px);
  margin-left: scalesize(62px);
}

.containerText {
  display: flex;
  max-width: scalesize(520px);
  flex-direction: column;
  align-self: end;
  margin: scalesize(0 110px 15px 85px);
}

.desc {
  @mixin headline;
  @mixin textLarge;

  margin-bottom: scalesize(20px);
  line-height: scalesize(1.5rem);

  &:last-of-type {
    margin: scalesize(0);
  }
}

.container {
  position: relative;
  display: flex;
}

.img {
  @mixin img;

  width: calc(100% - scalesize(24px));
  max-width: scalesize(720px);
}

.containerSpace {
  width: 100%;
}

.containerSpaceUp {
  width: 100%;
  min-width: scalesize(24px);
  height: 47%;
  background-color: var(--light-green);
}

.containerSpaceDown {
  width: 100%;
  min-width: scalesize(24px);
  height: 53%;
  background-color: var(--beige);
}

@media (max-width: $tablet-portrait) {
  .menu {
    margin: scalesize(26px 0 32px 24px);
  }

  .title {
    @mixin headline4;

    margin: scalesize(0 24px 30px 24px);
  }

  .containerText {
    margin: scalesize(0 24px 72px 85px);
  }
}
