.image {
  position: sticky;
  top: 0;
  width: 660px;
  height: 100vh;

  @media (max-width: $tablet-portrait) {
    position: relative;
    width: calc(100% + 24px);
    height: 152px;
    margin-top: 10px;
  }
}
