.partners {
  width: calc(100% - scale(270px));
  box-sizing: border-box;
  padding: scale(120px 60px 180px);
  background-color: var(--beige);
  grid-area: partners;

  @media (max-width: $tablet-portrait) {
    width: 100%;
    padding: scale(56px 24px) 0;
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
