@define-mixin headline {
  margin: 0;
  color: var(--coal);
  font-family: "PP Neue Machina", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -.01em;
}

@define-mixin headline1 {
  font-size: scale(72px);
  line-height: scale(70px);
}

@define-mixin headline2 {
  font-size: scale(64px);
  line-height: scale(60px);
}

@define-mixin headline3 {
  font-size: scale(56px);
  line-height: scale(56px);
}

@define-mixin headline4 {
  font-size: scale(40px);
  line-height: scale(40px);
}

@define-mixin headline5 {
  font-size: scale(36px);
  line-height: scale(38px);
}

@define-mixin headline6 {
  font-size: scale(28px);
  line-height: scale(32px);
}

@define-mixin headline7 {
  font-size: scale(20px);
  line-height: scale(24px);
}
