@define-mixin headline {
  margin: 0;
  color: var(--coal);
  font-family: "PP Neue Machina", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -.01em;
}

@define-mixin headline1 {
  font-size: scalesize(72px);
  line-height: scalesize(70px);
}

@define-mixin headline2 {
  font-size: scalesize(64px);
  line-height: scalesize(60px);
}

@define-mixin headline3 {
  font-size: scalesize(56px);
  line-height: scalesize(56px);
}

@define-mixin headline4 {
  font-size: scalesize(40px);
  line-height: scalesize(40px);
}

@define-mixin headline5 {
  font-size: scalesize(36px);
  line-height: scalesize(38px);
}

@define-mixin headline6 {
  font-size: scalesize(28px);
  line-height: scalesize(32px);
}

@define-mixin headline7 {
  font-size: scalesize(20px);
  line-height: scalesize(24px);
}
