@define-mixin text {
  margin: 0;
  color: var(--coal);
  font-family: 'Formular', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}

@define-mixin textLarge {
  font-size: scale(20px);
  letter-spacing: -.01em;
  line-height: scale(28px);
}

@define-mixin textMedium {
  font-size: 18px;
  line-height: 23px;
}

@define-mixin textSmall {
  font-size: scale(16px);
  line-height: scale(22px);
}

@define-mixin textCaption {
  font-size: 14px;
  line-height: 17px;
}

@define-mixin textButton {
  text-transform: uppercase;
}

@define-mixin textSmallButton {
  font-size: scale(16px);
  line-height: scale(14px);
}

@define-mixin textLargeButton {
  @mixin textSmall;
}

@define-mixin textPartners {
  font-size: scale(14px);
  line-height: scale(20px);
}

@define-mixin textHistorySmall {
  font-size: 16px;
  line-height: 24px;
}
