@define-mixin text {
  margin: 0;
  color: var(--coal);
  font-family: 'Formular', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}

@define-mixin text_large {
  font-size: 20px;
  letter-spacing: -.01em;
  line-height: 28px;
}

@define-mixin text_medium {
  font-size: 18px;
  line-height: 23px;
}

@define-mixin text_small {
  font-size: 16px;
  line-height: 22px;
}

@define-mixin text_caption {
  font-size: 14px;
  line-height: 17px;
}
