@define-mixin text {
  margin: 0;
  color: var(--coal);
  font-family: "Formular", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}

@define-mixin textNeueMachina {
  margin: 0;
  color: var(--coal);
  font-family: "PP Neue Machina", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@define-mixin textSuperLarge {
  font-size: 28px;
  letter-spacing: -.01em;
  line-height: 32px;
}

@define-mixin textVerySuperLarge {
  font-size: 40px;
  letter-spacing: -.01em;
  line-height: 40px;
}

@define-mixin textLarge {
  font-size: 20px;
  letter-spacing: -.01em;
  line-height: 28px;
}

@define-mixin textMedium {
  font-size: 18px;
  line-height: 23px;
}

@define-mixin textSmall {
  font-size: 16px;
  line-height: 22px;
}

@define-mixin textCaption {
  font-size: 14px;
  line-height: 17px;
}

@define-mixin textButton {
  text-transform: uppercase;
}

@define-mixin textSmallButton {
  font-size: 16px;
  line-height: 14px;
}

@define-mixin textLargeButton {
  @mixin textSmall;
}

@define-mixin textPartners {
  font-size: 14px;
  line-height: 20px;
}

@define-mixin textHistory {
  font-size: 36px;
  letter-spacing: -.01em;
  line-height: 38px;
}

@define-mixin textHistorySmall {
  font-size: 16px;
  line-height: 24px;
}
