.button {
  position: relative;
  width: scale(72px);
  height: scale(72px);
  padding: 0;
  border: 0;
  margin: 0;
  background-color: var(--coal);

  &::before {
    position: absolute;
    top: scale(28px);
    left: 50%;
    width: scale(20px);
    height: scale(2px);
    background-color: var(--beige);
    box-shadow: scale(0 6px 0 0) var(--beige), scale(0 12px 0 0) var(--beige);
    content: "";
    transform: translateX(-50%);
  }
}

.open {
  &::before,
  &::after {
    position: absolute;
    top: scale(35px);
    left: 50%;
    width: scale(24px);
    height: scale(2px);
    background-color: var(--beige);
    box-shadow: none;
    content: "";
  }

  &::before {
    transform: translateX(-50%) rotate(45deg);
  }

  &::after {
    transform: translateX(-50%) rotate(-45deg);
  }
}
