.slider {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--true-black-60);
  opacity: 0;
  transition: visibility .5s, opacity .5s linear;
  visibility: hidden;
}

.isOpen {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.slide {
  position: relative;
  width: 100%;
  height: auto;
}

.container {
  @mixin hide-scrollbars;

  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  overflow: auto;
  max-height: 95vh;
  flex-direction: column;
  padding: 48px 56px 71px;
  background-color: var(--beige);
  transform: translateY(-50%) translateX(-50%);

  @media (max-width: 728px) {
    width: 100%;
    height: 100vh;
    padding: 80px 24px 156px;
  }
}

.image {
  width: 76px;
  height: 76px;
  align-self: center;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  @mixin headline;
  @mixin headline6;

  align-self: center;
  margin-top: 16px;
}

.title {
  @mixin text;
  @mixin textLarge;

  margin-top: 32px;
}

.text {
  @mixin text;
  @mixin textLarge;

  margin-top: 50px;

  @media (max-width: 728px) {
    overflow-y: scroll;
  }
}

.arrow {
  position: absolute;
  top: 60px;
  width: 48px;
  height: 48px;

  @media (max-width: 728px) {
    top: 90px;
  }
}

.arrowLeft {
  left: 8%;
}

.arrowRight {
  right: 8%;
}

.dots {
  margin-top: 51px;

  @media (max-width: 728px) {
    margin-top: 16px;
  }
}

.close {
  position: absolute;
  top: 32px;
  right: 32px;
}

.closeButton {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;

  @mixin sliderButtonAnimationBase;
}
