.slider {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--true-black-60);
  opacity: 0;
  transition: visibility .5s, opacity .5s linear;
  visibility: hidden;
}

.isOpen {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.slide {
  position: relative;
  width: 100%;
  height: auto;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  padding: scale(48px) scale(56px) scale(71px);
  background-color: var(--beige);
  transform: translateY(-50%) translateX(-50%);

  @media (max-width: 728px) {
    width: 100%;
    height: 100vh;
    padding: scale(80px) scale(24px) scale(156px);
  }
}

.image {
  width: scale(76px);
  height: scale(76px);
  align-self: center;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  @mixin headline;
  @mixin headline6;

  align-self: center;
  margin-top: scale(16px);
}

.title {
  @mixin text;
  @mixin textLarge;

  margin-top: scale(32px);
}

.text {
  @mixin text;
  @mixin textLarge;

  margin-top: scale(50px);

  @media (max-width: 728px) {
    overflow-y: scroll;
  }
}

.arrow {
  position: absolute;
  top: scale(60px);
  width: scale(48px);
  height: scale(48px);

  @media (max-width: 728px) {
    top: scale(90px);
  }
}

.arrowLeft {
  left: 8%;
}

.arrowRight {
  right: 8%;
}

.dots {
  margin-top: scale(51px);

  @media (max-width: 728px) {
    margin-top: scale(16px);
  }
}

.close {
  position: absolute;
  top: scale(32px);
  right: scale(32px);
}

.closeButton {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;

  @mixin sliderButtonAnimationBase;
}
