.link {
  display: inline-flex;
  color: inherit;
  place-content: center;
}

.image {
  width: 43px;
  height: 34px;

  @media (min-width: $tablet-portrait) {
    width: calc(var(--vw-multiplier-tablet-portrait) * 43);
    height: calc(var(--vw-multiplier-tablet-portrait) * 35);
  }

  @media (min-width: 1440px) {
    width: 43px;
    height: 35px;
  }
}
