.link {
  display: inline-flex;
  color: inherit;
  place-content: center;
}

.image {
  width: 43px;
  height: 34px;

  @media (min-width: $tablet-portrait) {
    width: scale(43px);
    height: scale(35px);
  }
}
