.link {
  display: inline-flex;
  color: inherit;
  place-content: center;
}

.image {
  width: 43px;
  height: 35px;
}

.full {
  .image {
    width: 123px;
    height: 104px;

    @media (max-width: $tablet-portrait) {
      width: 91px;
      height: 78px;
    }
  }
}
