@value expanded from './../page/header/page-header.module.css';

.link {
  display: inline-flex;
  color: inherit;
  place-content: center;
}

.image {
  width: scale(43px);
  height: scale(35px);
}

.expanded {
  & .image {
    width: scale(123px);
    height: scale(104px);

    @media (max-width: $tablet-portrait) {
      width: scale(91px);
      height: scale(78px);
    }
  }
}
