$padding-bottom: 82px;

.title {
  @mixin headline;
  @mixin headline3;

  max-width: 570px;
  grid-area: title;
  word-break: break-word;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    max-width: 366px;
  }
}

.description {
  @mixin headline;
  @mixin headline6;

  max-width: 480px;
  margin: 0 0 0 60px;
  grid-area: description;
  word-break: break-word;

  @media (max-width: $tablet-portrait) {
    @mixin headline7;

    max-width: 305px;
  }
}

.date {
  @mixin text;
  @mixin textSmall;

  align-self: center;
  grid-area: date;
  justify-self: center;

  @media (max-width: $tablet-portrait) {
    padding-left: 60px;
    justify-self: start;
  }
}

.author {
  align-self: center;
  padding: 0;
  padding-left: 4px;
  grid-area: author;
  justify-self: center;

  @media (max-width: $tablet-portrait) {
    margin: 0 0 0 60px;
    justify-self: start;
  }
}

.cover {
  position: relative;
  width: 690px;
  height: 421px;
  margin: 0 0 -$padding-bottom;
  grid-area: cover;

  @media (max-width: $tablet-portrait) {
    width: 357px;
    height: 218px;
    margin: 0 0 0 30px;
    justify-self: end;
  }
}

.common {
  display: grid;
  box-sizing: border-box;
  padding: 18px 0 $padding-bottom 150px;
  color: var(--coal);
  grid-column-gap: 30px;
  grid-template-areas:
    "title       title       ."
    "description description cover"
    "date        author      cover";
  grid-template-columns: 1fr 1fr min-content;
  row-gap: 28px;

  @media (max-width: $tablet-portrait) {
    padding-left: 24px;
    grid-column-gap: 0;
    grid-template-areas:
      "cover"
      "date"
      "title"
      "description"
      "author";
    grid-template-columns: 1fr;
  }
}

.blog {
  composes: common;
}

.news {
  composes: common;

  @media (max-width: $tablet-portrait) {
    padding: 32px 0 75px 24px;
  }

  .date {
    padding-left: 60px;
    justify-self: start;
  }
}
