.grid {
  @mixin hideScrollbar;

  --card-width: scale(210px);
  --column-gap: scale(30px);
  --row-gap: scale(36px);
  --columns-count: 4;
  --padding: scale(60px);

  display: grid;
  max-width: calc((var(--card-width) * var(--columns-count)) + (var(--column-gap) * (var(--columns-count) - 1)) + (var(--padding) * 2));
  box-sizing: border-box;
  justify-content: center;
  padding: 0 var(--padding);
  margin: 0 auto;
  column-gap: var(--column-gap);
  grid-template-columns: repeat(auto-fit, scale(210px));
  row-gap: var(--row-gap);
  scroll-behavior: smooth;

  @media (max-width: $tablet-portrait) {
    --card-width: scale(213px);
    --row-gap: 0;
    --padding: scale(24px);

    overflow: auto;
    justify-content: start;
    grid-auto-columns: var(--card-width);
    grid-auto-flow: column;
    scroll-padding-left: var(--padding);
    scroll-snap-type: x mandatory;

    & > * {
      scroll-snap-align: start;

      &:last-child {
        padding-right: var(--padding);
        margin-right: calc(var(--padding) * -1);
      }
    }
  }
}

.expanded {
  --column-gap: scale(60px);
  --row-gap: scale(72px);

  @media (max-width: $tablet-portrait) {
    --column-gap: scale(30px);
    --row-gap: 0;
  }
}
