.anotherPlays {
  display: grid;
  padding: calc(var(--scale) * 85) calc(var(--scale) * 120);
  grid-template-columns: 1fr 3fr 6fr;
  grid-template-rows: auto;

  @media (max-width: 959px) {
    padding: calc(var(--scale) * 85) calc(var(--scale) * 40) calc(var(--scale) * 85) 0;
  }

  @media (max-width: $tablet-portrait) {
    padding: calc(var(--scale) * 56) calc(var(--scale) * 25);
    grid-template-columns: 10fr;
  }
}

.heading {
  @mixin headline;
  @mixin headline4;

  max-width: calc(var(--scale) * 490);
  grid-column: 2/3;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    grid-column: 1/1;
  }
}

.blocks {
  padding: 0;
  margin: calc(var(--scale) * 70) 0 0;
  list-style-type: none;

  @media (max-width: $tablet-portrait) {
    margin: calc(var(--scale) * 24) 0 0;
  }
}

.block {
  display: flex;
  width: 100%;
  max-width: calc(var(--scale) * 751);
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid var(--coal);
}

.paragraph {
  @mixin headline;
  @mixin headline6;

  max-width: calc(var(--scale) * 500);
  margin: calc(var(--scale) * 16) 0  calc(var(--scale) * 15);

  @media (max-width: $tablet-portrait) {
    @mixin headline7;
  }
}

.downloadButton {
  margin: calc(var(--scale) * 5) 0;
  text-decoration: none;
}
