.root {
  display: grid;
  padding: scale(60px 90px 200px);
  grid-template:
    ".    title"
    ".    filter"
    "list list"
    /1fr  1fr;

  @media (max-width: $tablet-portrait) {
    display: block;
    padding: scale(0 24px 52px);
  }
}

.title {
  width: min-content;
  margin-bottom: scale(16px);
  grid-area: title;
}

.filter {
  margin-bottom: scale(40px);
  grid-area: filter;
}

.month-field {
  max-width: scale(240px);
}

.year-field {
  max-width: scale(150px);
}

.no-result {
  @mixin text;
  @mixin textLarge;

  grid-area: list;
  text-align: center;
}

.list {
  width: 100%;
  max-width: scale(900px);
  margin: 0 auto !important;
  grid-area: list;
}
