.selection {
  padding: scale(64px 120px 68px 64px);
  background-color: var(--beige);

  @media (max-width: $tablet-portrait) {
    padding: scale(40px 24px 0 24px);
  }
}

.mainTitle {
  @mixin headline;
  @mixin headline3;

  max-width: scale(540px);
  margin: 0 scale(120px 56px) auto;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    margin: 0;
    margin-bottom: scale(24px);
  }
}

.list {
  display: grid;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: scale(68px);
  column-gap: scale(90px);
  grid-template-columns: repeat(auto-fit, scale(358px));
  list-style: none;
  row-gap: scale(64px);

  @media (max-width: $tablet-portrait) {
    margin-bottom: scale(72px);
    grid-template-columns: none;
  }
}

.item {
  display: grid;
  align-content: start;
  row-gap: scale(24px);

  @media (max-width: $tablet-portrait) {
    row-gap: 0;
  }
}

.number {
  @mixin headline;
  @mixin headline1;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;
  }
}

.title {
  @mixin headline;
  @mixin headline6;

  min-height: scale(96px);

  @media (max-width: $tablet-portrait) {
    min-height: 0;
    margin-bottom: scale(24px);
  }
}

.container {
  display: grid;
  row-gap: scale(24px);
  margin-left: scale(64px);

  @media (max-width: $tablet-portrait) {
    margin-left: scale(60px);
  }
}

.desc {
  @mixin text;
  @mixin textSmall;

  max-width: scale(280px);
}

.strong {
  @mixin text;
  @mixin textLarge;

  font-weight: 400;
  display: block;
}
