.selection {
  padding: scale(54px 60px 45px);
  background-color: var(--beige);
}

.mainTitle {
  @mixin headline;
  @mixin headline3;

  max-width: scale(540px);
  margin: 0 scale(180px 56px) auto;
}

.list {
  display: grid;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: scale(68px);
  column-gap: scale(90px);
  grid-template-columns: repeat(auto-fit, minmax(scale(350px), max-content));
  list-style: none;
  row-gap: scale(64px);
}

.item {
  display: grid;
  align-content: start;
  row-gap: scale(24px);
}

.number {
  @mixin headline;
  @mixin headline1;
}

.title {
  @mixin headline;
  @mixin headline6;

  min-height: scale(96px);
}

.desc {
  @mixin text;
  @mixin textSmall;
}

.poster {
  display: grid;
  max-width: scale(1320px);
  justify-content: space-evenly;
  padding: 0 scale(24px 64px);
  margin: 0 auto;
  background-color: var(--light-green);
  column-gap: scale(20px);
  grid-template-columns: repeat(auto-fit, minmax(scale(305px), max-content));
}

.posterTitle {
  @mixin headline;
  @mixin headline6;

  display: flex;
  max-width: scale(468px);
  flex-direction: column;
  margin-top: scale(64px);
}

.ampersand {
  @mixin headline;
  @mixin headline1;

  margin-bottom: scale(16px);
}

.posterDesc {
  @mixin text;
  @mixin textSmall;

  max-width: scale(485px);
  margin: scale(220px) 0 0 auto;
}

@media (max-width: $tablet-portrait) {
  .selection {
    padding: scale(40px) 0 0;
  }

  .mainTitle {
    @mixin headline4;

    padding: 0 scale(24px);
    margin: 0;
    margin-bottom: scale(24px);
  }

  .list {
    padding: 0 scale(24px);
    margin-bottom: scale(72px);
    grid-template-columns: none;
  }

  .item {
    row-gap: 0;
  }

  .number {
    @mixin headline4;
  }

  .title {
    min-height: 0;
    margin-bottom: scale(24px);
  }

  .desc {
    max-width: scale(280px);
    align-self: right;
    margin: 0 scale(24px 24px) auto;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .poster {
    padding-bottom: scale(72px);
  }

  .posterDesc {
    max-width: scale(305px);
    margin-top: scale(24px);
  }
}
