.selection {
  padding: 64px 120px 68px 64px;
  background-color: var(--beige);

  @media (max-width: $tablet-portrait) {
    padding: 40px 24px 0 24px;
  }
}

.mainTitle {
  @mixin headline;
  @mixin headline3;

  max-width: 540px;
  margin: 0 120px 56px auto;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    margin: 0;
    margin-bottom: 24px;
  }
}

.list {
  display: grid;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 68px;
  column-gap: 90px;
  grid-template-columns: repeat(auto-fit, 358px);
  list-style: none;
  row-gap: 64px;

  @media (max-width: $tablet-portrait) {
    margin-bottom: 72px;
    grid-template-columns: none;
  }
}

.item {
  display: grid;
  align-content: start;
  row-gap: 24px;

  @media (max-width: $tablet-portrait) {
    row-gap: 0;
  }
}

.number {
  @mixin headline;
  @mixin headline1;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;
  }
}

.title {
  @mixin headline;
  @mixin headline6;

  min-height: 96px;

  @media (max-width: $tablet-portrait) {
    min-height: 0;
    margin-bottom: 24px;
  }
}

.container {
  display: grid;
  margin-left: 64px;
  row-gap: 24px;

  @media (max-width: $tablet-portrait) {
    margin-left: 60px;
  }
}

.desc {
  @mixin text;
  @mixin textSmall;

  max-width: 280px;
}

.strong {
  @mixin text;
  @mixin textLarge;

  display: block;
  font-weight: 400;
}
