.container {
  display: grid;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 32px 0 0 30px;
  margin: 0 auto;
  grid-column-gap: 30px;
  grid-template-areas:
    'button a a a'
    'b title title c'
    'b description description img'
    'b date author img';
  grid-template-columns: min-content 1fr 1fr 2.555fr;

  @media (max-width: 900px) {
    max-width: 414px;
    padding: 32px 0 0 24px;
    grid-template-areas:
      'button'
      'img'
      'date'
      'title'
      'description'
      'author';
    grid-template-columns: 1fr;
  }
}

.backButton {
  grid-area: button;

  @media (max-width: 900px) {
    left: 60px;
  }
}

.title {
  @mixin headline;
  @mixin headline3;

  max-width: 570px;
  margin-top: 18px;
  grid-area: title;
  word-break: break-word;

  @media (max-width: 900px) {
    @mixin headline4;

    max-width: 366px;
  }
}

.description {
  @mixin headline;
  @mixin headline6;

  max-width: 480px;
  margin-top: 22px;
  margin-left: 60px;
  grid-area: description;
  word-break: break-word;

  @media (max-width: 900px) {
    @mixin headline7;

    max-width: 305px;
    margin-top: 22px;
  }
}

.date {
  @mixin text;
  @mixin textSmall;

  align-self: center;
  grid-area: date;
  justify-self: center;

  @media (max-width: 900px) {
    padding-top: 24px;
    padding-left: 60px;
    justify-self: start;
  }
}

.dateNews {
  padding-left: 60px;
}

.author {
  @mixin text;
  @mixin textSmall;

  align-self: center;
  grid-area: author;
  justify-self: center;

  @media (max-width: 900px) {
    padding-top: 24px;
    padding-left: 60px;
    justify-self: start;
  }
}

.img {
  width: 100%;
  max-height: 421px;
  padding-top: 30px;
  grid-area: img;
  object-fit: cover;

  @media (max-width: 900px) {
    max-height: 218px;
    padding-top: 40px;
    padding-left: 30px;
  }
}
