.title {
  @mixin headline;
  @mixin headline3;

  max-width: 570px;
}

.description {
  @mixin headline;
  @mixin headline6;

  max-width: 480px;
  margin-top: 22px;
}

.date {
  @mixin text;
  @mixin textSmall;
}

.img {
  width: 690px;
  height: 421px;
  object-fit: cover;
}
