.container {
  display: grid;
  box-sizing: border-box;
  padding: scale(32px 0 0 30px);
  margin: 0 auto;
  grid-column-gap: scale(30px);
  grid-template-areas:
    'button a a a'
    'b title title c'
    'b description description img'
    'b date author img';
  grid-template-columns: min-content 1fr 1fr 2.555fr;

  @media (max-width: $tablet-portrait) {
    padding: scale(32px 0 0 24px);
    grid-template-areas:
      'button'
      'img'
      'date'
      'title'
      'description'
      'author';
    grid-template-columns: 1fr;
  }
}

.backButton {
  grid-area: button;

  @media (max-width: $tablet-portrait) {
    left: scale(60px);
  }
}

.title {
  @mixin headline;
  @mixin headline3;

  max-width: scale(570px);
  margin-top: scale(18px);
  grid-area: title;
  word-break: break-word;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    max-width: scale(366px);
  }
}

.description {
  @mixin headline;
  @mixin headline6;

  max-width: scale(480px);
  margin-top: scale(22px);
  margin-left: scale(60px);
  grid-area: description;
  word-break: break-word;

  @media (max-width: $tablet-portrait) {
    @mixin headline7;

    max-width: scale(305px);
    margin-top: scale(22px);
  }
}

.date {
  @mixin text;
  @mixin textSmall;

  align-self: center;
  grid-area: date;
  justify-self: center;

  @media (max-width: $tablet-portrait) {
    padding-top: scale(24px);
    padding-left: scale(60px);
    justify-self: start;
  }
}

.dateNews {
  padding-left: scale(60px);
}

.author {
  align-self: center;
  grid-area: author;
  justify-self: center;

  @media (max-width: $tablet-portrait) {
    margin: scale(24px 0 75px 60px) !important;
    justify-self: start;
  }
}

.img {
  width: 100%;
  max-height: scale(421px);
  padding-top: scale(30px);
  grid-area: img;
  object-fit: cover;

  @media (max-width: $tablet-portrait) {
    max-height: scale(218px);
    padding-top: scale(40px);
    padding-left: scale(30px);
  }
}
