node_modules

storybook-static

.next

.env*.local

.stylelintcache
.eslintcache

.vscode
.idea
.prettierrc
.DS_Store

tsconfig.tsbuildinfo

screenshots

/test-results/
/playwright-report/
/playwright/.cache/
