.list {
  display: grid;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: $tablet-portrait) {
    gap: 2px 3px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.title {
  @mixin headline;
  @mixin headline4;

  max-width: 568px;
  margin: 0 auto 40px 362px;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    max-width: 369px;
    margin: 0 22px 34px;
  }
}

.item {
  position: relative;
  overflow: hidden;

  &::before {
    display: block;
    padding-top: 70%;
    content: "";
  }
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: transparent;
}
