.title {
  @mixin headline;
  @mixin headline4;

  .links {
    position: relative;
    top: calc(-1 * 22px);
    display: inline-flex;
  }
}

.s {
  .title {
    @media (max-width: $tablet-portrait) {
      @mixin headline6;

      display: inline-flex;
      flex-wrap: wrap;
    }
  }

  .innerContainer {
    @media (max-width: $tablet-portrait) {
      display: flex;
      min-height: 48px;
      flex-wrap: wrap;
      align-items: flex-end;
    }
  }

  .links {
    @media (max-width: $tablet-portrait) {
      top: 0;
      right: 0;
      align-self: flex-start;
    }
  }
}

.l {
  .links {
    @media (max-width: $tablet-portrait) {
      top: 0;
      right: 4px;
    }
  }
}

.lineBreak {
  display: block;
}
