.container {
  position: relative;
  line-height: 0;
}

.containerVolunteer {
  width: 180px;

  @media (max-width: $tablet-portrait) {
    width: 213px;
  }

  @media (min-width: $desktop) {
    width: scale(180px);
  }
}

.containerParticipant {
  width: 210px;

  @media (max-width: $tablet-portrait) {
    width: 213px;
  }

  @media (min-width: $desktop) {
    width: scale(210px);
  }
}

.imgVolunteer {
  width: 100%;
  height: 228px;
  object-fit: cover;

  @media (max-width: $tablet-portrait) {
    height: 265px;
  }

  @media (min-width: $desktop) {
    height: scale(228px);
  }
}

.imgParticipant {
  width: 100%;
  height: 265px;
  object-fit: cover;

  @media (min-width: $desktop) {
    height: scale(265px);
  }
}

.comment {
  position: absolute;
  top: 170px;
  left: 14px;
  display: flex;
  width: 45px;
  height: 45px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  background-color: var(--beige);
  border-radius: 50%;
  cursor: pointer;
  transition: width 400ms cubic-bezier(.6, 0, .5, 1), height 400ms cubic-bezier(.6, 0, .5, 1), top 400ms cubic-bezier(.6, 0, .5, 1), left 400ms cubic-bezier(.6, 0, .5, 1);

  @media (max-width: $tablet-portrait) {
    top: 208px;
    left: 16px;
  }

  @media (min-width: $desktop) {
    top: scale(170px);
    left: scale(14px);
    width: scale(45px);
    height: scale(45px);
  }
}

.comment:focus-visible {
  outline: none;
}

.comment:hover {
  top: 165px;
  left: 9px;
  width: 55px;
  height: 55px;

  @media (max-width: $tablet-portrait) {
    top: 203px;
    left: 11px;
  }

  @media (min-width: $desktop) {
    top: scale(165px);
    left: scale(9px);
    width: scale(55px);
    height: scale(55px);
  }
}

.name {
  @mixin headline;

  display: -webkit-box;
  overflow: hidden;
  margin-top: 16px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow-wrap: break-word;
  word-break: break-word;

  @media (min-width: $desktop) {
    margin-top: scale(16px);
  }
}

.nameVolunteer {
  @mixin headline7;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;
  }
}

.nameParticipant {
  @mixin headline6;
}

.about {
  @mixin text;
  @mixin textSmall;

  display: -webkit-box;
  overflow: hidden;
  margin-top: 8px;
  margin-left: 33px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow-wrap: break-word;
  word-break: break-word;

  @media (min-width: $desktop) {
    margin-top: scale(8px);
    margin-left: scale(33px);
  }
}
