.container {
  position: relative;
  line-height: 0;
}

.containerVolunteer {
  width: scale(180px);

  @media (max-width: $tablet-portrait) {
    width: scale(210px);
  }
}

.containerParticipant {
  width: scale(210px);
}

.imgVolunteer {
  width: 100%;
  height: scale(228px);
  object-fit: cover;

  @media (max-width: $tablet-portrait) {
    height: scale(265px);
  }
}

.imgParticipant {
  width: 100%;
  height: scale(265px);
  object-fit: cover;
}

.comment {
  position: absolute;
  top: scale(170px);
  left: scale(14px);
  display: flex;
  width: scale(45px);
  height: scale(45px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  background-color: var(--beige);
  border-radius: 50%;
  cursor: pointer;
  transition: width 400ms cubic-bezier(.6, 0, .5, 1), height 400ms cubic-bezier(.6, 0, .5, 1), top 400ms cubic-bezier(.6, 0, .5, 1), left 400ms cubic-bezier(.6, 0, .5, 1);

  @media (max-width: $tablet-portrait) {
    top: scale(208px);
    left: scale(16px);
  }
}

.comment:focus-visible {
  outline: none;
}

.comment:hover {
  top: scale(165px);
  left: scale(9px);
  width: scale(55px);
  height: scale(55px);

  @media (max-width: $tablet-portrait) {
    top: scale(203px);
    left: scale(11px);
  }
}

.name {
  @mixin headline;

  display: -webkit-box;
  overflow: hidden;
  margin-top: scale(16px);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow-wrap: break-word;
  word-break: break-word;
}

.nameVolunteer {
  @mixin headline7;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;
  }
}

.nameParticipant {
  @mixin headline6;
}

.about {
  @mixin text;
  @mixin textSmall;

  display: -webkit-box;
  overflow: hidden;
  margin-top: scale(8px);
  margin-left: scale(33px);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow-wrap: break-word;
  word-break: break-word;
}
