.container {
  position: relative;
  line-height: 0;
}

.containerVolunteer {
  width: 180px;

  @media (max-width: $tablet-portrait) {
    width: 213px;
  }
}

.containerParticipant {
  width: 210px;

  @media (max-width: $tablet-portrait) {
    width: 213px;
  }
}

.imgVolunteer {
  position: relative;
  width: 100%;
  height: 228px;

  @media (max-width: $tablet-portrait) {
    height: 265px;
  }
}

.imgParticipant {
  position: relative;
  width: 100%;
  height: 265px;
}

.defaultImage {
  display: flex;
  box-sizing: border-box;
  padding: 35%;
  background-color: var(--light-green);
}

.logo {
  color: var(--beige);
}

.comment {
  position: absolute;
  top: 170px;
  left: 14px;
  display: flex;
  width: 45px;
  height: 45px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 0;
  border-radius: 50%;
  background-color: var(--beige);
  cursor: pointer;
  transition:
    padding 400ms cubic-bezier(.6, 0, .5, 1),
    width 400ms cubic-bezier(.6, 0, .5, 1),
    height 400ms cubic-bezier(.6, 0, .5, 1),
    top 400ms cubic-bezier(.6, 0, .5, 1),
    left 400ms cubic-bezier(.6, 0, .5, 1);

  @media (max-width: $tablet-portrait) {
    top: 208px;
    left: 16px;
  }
}

.comment:focus-visible {
  outline: none;
}

.comment:hover {
  top: 165px;
  left: 9px;
  width: 55px;
  height: 55px;
  padding: 15px;

  @media (max-width: $tablet-portrait) {
    top: 203px;
    left: 11px;
  }
}

.name {
  @mixin headline;

  display: -webkit-box;
  overflow: hidden;
  margin-top: 16px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow-wrap: break-word;
  word-break: break-word;
}

.nameVolunteer {
  @mixin headline7;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;
  }
}

.nameParticipant {
  @mixin headline6;
}

.about {
  @mixin text;
  @mixin textSmall;

  display: -webkit-box;
  overflow: hidden;
  margin-top: 8px;
  margin-left: 33px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow-wrap: break-word;
  word-break: break-word;
}
