.container {
  position: relative;
  box-sizing: border-box;
  padding: 0 100px;

  @media (max-width: $tablet-portrait) {
    padding: 0;
  }
}

.slide {
  position: relative;

  &::before {
    display: block;
    width: 100%;
    padding-top: calc((5 / 7) * 100%);
    content: "";
  }
}

.image {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 42px;
  height: 42px;
}

.closeButton {
  width: 100%;
  height: 100%;

  @mixin sliderButtonAnimationBase;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  padding: 9px;
  background-color: var(--beige);
  border-radius: 50%;
  transform: translateY(-50%);

  @media (max-width: $tablet-portrait) {
    z-index: 10;
    top: auto;
    right: 16px;
    width: 42px;
    height: 42px;
    padding: 0;
    background-color: unset;
    border-radius: 0;
    transform: translateY(0);
  }
}

.arrowLeft {
  left: 0;

  @media (max-width: $tablet-portrait) {
    bottom: 66px;
    left: auto;
  }
}

.arrowRight {
  right: 0;

  @media (max-width: $tablet-portrait) {
    right: 16px;
    bottom: 16px;
  }
}

.arrowButton {
  position: relative;
  width: 100%;
  height: 100%;

  @mixin sliderButtonAnimationBase;
  @mixin sliderButtonAnimationOutline;

  @media (max-width: $tablet-portrait) {
    &::before,
    &::after {
      display: none;
    }
  }
}
