.fieldset {
  padding: 0;
  border: 0;
  margin: 0;

  &:not(:first-of-type) {
    margin-top: scalesize(72px);

    @media (max-width: $tablet-portrait) {
      margin-top: scalesize(90px);
    }
  }
}

.legend {
  @mixin headline;
  @mixin headline4;

  padding: 0;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;
  }
}

.container {
  margin-top: scalesize(15px);
  margin-left: scalesize(61px);

  @media (max-width: $tablet-portrait) {
    margin-left: 0;
  }
}
