.footnote {
  @mixin text;
  @mixin textCaption;

  display: flex;
  align-items: flex-start;

  @media (max-width: $tablet-portrait) {
    @mixin textCaption;

    flex-direction: column;
    padding: 32px 28px 63px;
  }
}

.copyright {
  margin: 0 32px 0 0;

  @media (max-width: $tablet-portrait) {
    margin: 0 0 10px;
  }
}

.footnoteLink.footnoteLink {
  padding: 0;

  @media (max-width: $tablet-portrait) {
    border-bottom-color: var(--coal);
  }
}

.credits {
  display: flex;
  margin: 0 0 0 374px;

  @media (max-width: $tablet-portrait) {
    width: 254px;
    flex-direction: column;
    margin: 59px 0 0;
  }

  dt {
    &::after {
      display: inline;
      content: " –";
    }
  }

  dd {
    margin: 0;
  }
}

.shishki {
  display: grid;
  margin-right: 44px;
  grid-template:
    "logo text"
    "logo text" 1fr / min-content 1fr;

  @media (max-width: $tablet-portrait) {
    margin-right: 0;
    margin-bottom: 16px;
  }

  &::before {
    display: block;
    width: 27px;
    height: 25px;
    margin-right: 4px;
    background-image: url("./footer-copyright.assets/shishki.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    grid-area: logo;

    @media (max-width: $tablet-portrait) {
      margin-top: 6px;
      margin-right: 9px;
    }
  }
}
