.root {
  position: relative;
  box-sizing: border-box;
  padding: 0 98px;
  margin: 0 -98px;
}

.slide {
  &::before {
    display: block;
    width: 100%;
    padding-top: calc((5 / 7) * 100%);
    content: "";
  }
}

.control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.backward {
  composes: control;
  left: 0;
}

.forward {
  composes: control;
  right: 0;
}
