/* stylelint-disable no-descending-specificity */

.common {
  @mixin text;
  @mixin textLarge;

  big {
    margin: 24px 0;
    font-size: 28px;
    line-height: 32px;
  }

  p {
    margin: 16px 0;
  }

  p:not(:first-of-type) {
    text-indent: 16px;
  }

  h3 {
    margin: 24px 0;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;

    @media (max-width: $tablet-portrait) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  h4 {
    margin: 24px 0;
    font-weight: 400;
  }

  ul {
    padding: 0 0 0 60px;
    margin: 24px 0;

    li {
      margin: 16px 0;
    }
  }

  p + h3 {
    margin-top: 64px;
  }

  blockquote {
    @mixin headline;
    @mixin headline6;

    position: relative;
    padding: 56px 270px 72px 450px;
    margin: 55px auto;
    background-color: var(--light-green);
    word-break: break-word;

    @media (max-width: $tablet-portrait) {
      @mixin headline7;

      padding: 56px 54px 72px 85px;
      margin: 72px auto 0;
    }

    ::before {
      position: absolute;
      top: 56px;
      bottom: 72px;
      left: 420px;
      width: 1px;
      background-color: var(--coal);
      content: '';

      @media (max-width: $tablet-portrait) {
        top: 66px;
        left: 0;
        width: 56px;
        height: 1px;
      }
    }

    > p {
      margin: 0;
    }
  }
}

.default {
  composes: common;
}

.centered {
  composes: common;

  > *:not(blockquote) {
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: $tablet-portrait) {
    > *:not(blockquote) {
      max-width: 366px;
    }
  }
}
