.root {
  @mixin text;
  @mixin textLarge;

  big {
    margin: 24px 0;
    font-size: 28px;
    line-height: 32px;
  }

  p {
    margin: 16px 0;
  }

  p:not(:first-of-type) {
    text-indent: 16px;
  }

  h3 {
    margin: 24px 0;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
  }

  ul {
    padding: 0 0 0 60px;
    margin: 24px 0;

    li {
      margin: 16px 0;
    }
  }

  p + h3 {
    margin-top: 64px;
  }

  blockquote {
    @mixin headline;
    @mixin headline6;

    position: relative;
    width: 45.83%;
    padding: 56px 18.75% 72px 31.25%;
    margin: 55px auto;
    background-color: var(--light-green);
    white-space: pre-wrap;
    word-break: break-word;

    @media (max-width: $tablet-portrait) {
      @mixin headline7;

      width: 66.4%;
      padding: 56px 13% 72px 20.5%;
      margin: 72px auto 0;
    }
  }

  blockquote::before {
    position: absolute;
    width: 0;
    height: calc(100% - 56px - 72px);
    border-left: 1px solid black;
    margin-left: -30px;
    content: '';

    @media (max-width: $tablet-portrait) {
      top: 66px;
      left: 0;
      width: 20.5%;
      border-top: 1px solid black;
      border-left: 0;
    }
  }
}
