.events {
  width: calc(100% - scale(270px));
  padding-top: scale(110px);
  grid-area: events;

  @media (max-width: $tablet-portrait) {
    padding: scale(38px 0 42px);
    width: 100%;
  }
}

.content {
  position: relative;
  display: grid;
  justify-content: center;
  padding: 0;
  margin: 0;
  column-gap: 120px;
  grid-row-gap: 48px;
  grid-template-columns: repeat(2, minmax(364px, max-content));
  list-style: none;
  row-gap: 74px;

  @media (max-width: 960px) {
    grid-template-columns: repeat(1, minmax(320px, max-content));

    &::before {
      display: none;
    }
  }

  @media (max-width: $tablet-portrait) {
    row-gap: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: calc(100%);
    background-color: var(--coal);
    content: '';
  }
}
