@import './homepage-layout.vars.module.css';

.root {
  display: grid;
  grid-template-areas:
    "headline headline"
    "events   feed"
    "content  feed";
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr;

  @media (max-width: $tablet-portrait) {
    display: block;
  }
}

.headline {
  min-height: calc(100vh - var(--head-banner-height-tablet-portrait) - var(--page-navbar-extended-height));
  grid-area: headline;

  @media (max-width: $tablet-portrait) {
    min-height: initial;
  }
}
