.section {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--coal);

  @media (max-width: $tablet-portrait) {
    height: 60px;
    padding-right: 0;
    margin-right: 0;
  }
}

.opened {
  align-self: flex-end;
  padding: 5px 25px;
  margin: 0 90px 0 0;
  background-color: var(--coal);
  color: var(--white);

  @mixin text;
  @mixin textMedium;

  @media (max-width: $tablet-portrait) {
    margin: 0 auto;
  }
}

.closed {
  max-width: 202px;
  align-self: center;

  @mixin text;
  @mixin textSmall;

  @media (max-width: $tablet-portrait) {
    margin: 0 auto;
    text-align: center;
  }
}

.event {
  padding: 0 90px 0 60px;

  @media (max-width: $tablet-portrait) {
    padding: 0 24px 0 24px;
  }
}
