.section {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: calc(var(--scale) * 1) solid var(--coal);

  @media (max-width: $tablet-portrait) {
    height: calc(var(--scale) * 60);
    padding-right: 0;
    margin-right: 0;
  }
}

.opened {
  align-self: flex-end;
  padding: calc(var(--scale) * 5) calc(var(--scale) * 25);
  margin: 0 calc(var(--scale) * 90) 0 0;
  background-color: var(--coal);
  color: var(--white);

  @mixin text;
  @mixin textMedium;

  @media (max-width: $tablet-portrait) {
    margin: 0 auto;
  }
}

.closed {
  max-width: calc(var(--scale) * 202);
  align-self: center;

  @mixin text;
  @mixin textSmall;

  @media (max-width: $tablet-portrait) {
    margin: 0 auto;
    text-align: center;
  }
}

.event {
  padding: 0 calc(var(--scale) * 90) 0 calc(var(--scale) * 60);

  @media (max-width: $tablet-portrait) {
    padding: 0 calc(var(--scale) * 24) 0 calc(var(--scale) * 24);
  }
}
