.root {
  display: block;
  border-top: 1px solid var(--coal);

  @media (max-width: $tablet-portrait) {
    min-width: 302px;
    border-top: 0;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}
