.authors {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: scalesize(86px 24px 0);
}

.title {
  @mixin headline;
  @mixin headline5;

  max-width: scalesize(600px);
  margin: scalesize(0 120px 82px) auto;
}

.list {
  display: grid;
  width: 100%;
  justify-content: center;
  padding: scalesize(0);
  margin: scalesize(0);
  margin-bottom: scalesize(150px);
  column-gap: scalesize(62px);
  grid-template-columns: repeat(auto-fill, minmax(15rem, max-content));
  list-style: none;
  row-gap: scalesize(6px);
}

.item {
  @mixin headline;
  @mixin textLarge;

  line-height: 1.5rem;
}

@media (max-width: $tablet-portrait) {
  .authors {
    padding-top: scalesize(56px);
  }

  .title {
    @mixin headline6;

    margin: scalesize(0);
    margin-bottom: scalesize(40px);
  }

  .list {
    margin-bottom: scalesize(72px);
  }
}
