.card {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  background: transparent;
}

.img_container {
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.author {
  align-self: flex-start;
  padding: 16px 0 16px;
  margin: 0;
  font-family: 'Formular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25;
}

.heading {
  color: var(--coal);
  font-family: 'PP Neue Machina', Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.14;
}

.description {
  color: var(--coal);
  font-family: 'Formular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.37;
}
