.cardLinkWrapper {
  color: inherit;
  text-decoration: none;

  @media (max-width: $tablet-portrait) {
    padding: scale(0 13px 0 15px);
  }
}

.regular:nth-child(1) {
  grid-column: auto;
}

.big:nth-child(1) {
  grid-column: span 2;

  @media (max-width: 1024px) {
    grid-column: auto;
  }
}

.card {
  position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  background: transparent;
}

.imgContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: scale(343px);
  object-fit: cover;
  transition: transform 400ms cubic-bezier(.6, 0, .5, 1);
}

.cardLinkWrapper:hover .img {
  transform: scale(120%);
}

.content {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  word-break: break-word;
}

.author {
  @mixin text;
  @mixin textSmall;

  align-self: flex-start;
  padding: scale(16px 0 16px);

  @media (max-width: 576px) {
    padding-left: scale(30px);
  }

  @media (max-width: $tablet-portrait) {
    @mixin textBlogAuthor;
  }
}

.heading {
  align-self: flex-start;
  padding: 0;
  padding-bottom: scale(16px);
  margin: 0;

  @mixin headline;
  @mixin headline5;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;
  }
}

.description {
  padding: scale(0 2px 0 31px);

  @mixin text;
  @mixin textSmall;
}
