.authors {
  font-style: normal;
}

.title {
  @mixin headline;
  @mixin headline4;
}

.paragraph {
  @mixin text;
  @mixin textLarge;

  max-width: scale(390px);
  margin: scale(16px 0 0 60px);
}

.emailContainer {
  margin-top: scale(24px);
}

.email {
  @mixin headline;
  @mixin headline6;
}
