.root {
  display: grid;
  padding: scale(60px 90px 200px);
  grid-template:
    ".              title"
    "description    filter"
    "call-to-action filter"
    "main           main"
    /1fr            1fr;

  @media (max-width: $tablet-portrait) {
    display: block;
    padding: scale(24px 24px 102px);
  }
}

.month-field {
  max-width: scale(240px);
}

.year-field {
  max-width: scale(150px);
}

.spinner {
  width: scale(64px);
  margin: 0 auto;
}
