.root {
  display: grid;
  padding: scale(60px 90px 200px);
  grid-template:
    ".              title"
    "description    filter"
    "call-to-action filter"
    "main           main"
    /1fr            1fr;
}

.month-field {
  max-width: scale(240px);
}

.year-field {
  max-width: scale(150px);
}
