.root {
  display: grid;
  padding: 60px 90px 200px;
  grid-template:
    ".              title"
    "description    filter"
    "call-to-action filter"
    "main           main"
    /1fr            1fr;

  @media (max-width: $tablet-portrait) {
    display: block;
    padding: 24px 24px 102px;
  }
}

.month-field {
  max-width: 240px;
}

.year-field {
  max-width: 150px;
}

.spinner {
  width: 64px;
  margin: 0 auto;
}

.no-result {
  @mixin text;
  @mixin textLarge;

  grid-area: list;
  text-align: center;
}
