.root {
  display: grid;
  padding: scale(60px 90px 200px);
  grid-template:
    ".              title"
    "description    filter"
    "call-to-action filter"
    "main           main"
    /1fr            1fr;
}

.month-field {
  width: 240px;
}

.year-field {
  width: 150px;
}
