@value partners from '../partners/footer-partners.module.css';

.projects {
  margin-top: scalesize(50px);
  grid-area: projects;

  @media (max-width: $tablet-portrait) {
    padding: scalesize(0 55px);
    margin-top: scalesize(46px);
    margin-bottom: scalesize(36px);
  }
}

.partners ~ .projects {
  margin-top: scalesize(62px);
}
