@value partners from '../partners/footer-partners.module.css';

.projects {
  margin-top: 50px;
  grid-area: projects;

  @media (max-width: $tablet-portrait) {
    padding: 0 56px;
    margin: 46px 0 26px;
  }
}

.partners ~ .projects {
  margin-top: 62px;
}
