.root {
  display: block;

  &:not(:last-child) {
    margin-bottom: 38px;
  }
}

.date {
  @mixin headline;
  @mixin headline6;

  display: block;
  margin-bottom: 16px;
}

.action {
  min-width: 280px;

  @media (max-width: $tablet-portrait) {
    min-width: 240px;
  }
}

.timeZone {
  @mixin text;
  @mixin textLarge;

  margin-left: 5px;
  font-weight: normal;
  line-height: 1;
  vertical-align: super;
}
