.droplist {
  position: relative;
  display: block;
}

.droplistWidth {
  width: 100%;
  max-width: scale(300px);
}

.container {
  width: inherit;
  max-width: inherit;
}

.list {
  position: absolute;
  overflow: auto;
  width: inherit;
  max-height: 0;
  box-sizing: border-box;
  padding: 0;
  border: scale(1px) solid var(--coal);
  border-top: none;
  margin: 0;
  background-color: var(--beige);
  list-style: none;
  transition: all .2s ease-out;
  visibility: hidden;

  &::-webkit-scrollbar {
    width: scale(4px);
    height: scale(92px);
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    height: scale(92px);
    background-color: var(--coal);
  }
}

.active {
  display: block;
  max-height: scale(310px);
  visibility: visible;
}
