.droplist {
  position: relative;
  width: 100%;
}

.droplistWidth {
  max-width: scale(300px);
}

.form {
  position: absolute;
  width: inherit;
  max-width: inherit;
}

.list {
  overflow: auto;
  max-height: 0;
  border: scale(1px) solid var(--coal);
  border-top: none;
  background-color: var(--beige);
  transition: all .1s ease-out;
  visibility: hidden;

  &::-webkit-scrollbar {
    width: scale(4px);
    height: scale(92px);
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    height: scale(92px);
    background-color: var(--coal);
  }
}

.active {
  display: block;
  max-height: scale(310px);
  visibility: visible;
}
