.header {
  display: block;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--light-green);
}

.menu {
  padding: scale(40px 0 67px 60px);
  background-color: var(--light-green);

  @media (max-width: $tablet-portrait) {
    padding: scale(2px 0 32px 24px);
  }
}

.title {
  @mixin headline;
  @mixin headline2;

  max-width: scale(924px);
  margin: 0 0 scale(53px 62px);

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    margin: 0 scale(24px 30px 24px);
  }
}

.containerText {
  display: flex;
  max-width: scale(520px);
  flex-direction: column;
  align-self: end;
  margin: 0 scale(110px 15px 85px);

  @media (max-width: $tablet-portrait) {
    margin: 0 scale(24px 72px 85px);
  }
}

.desc {
  @mixin headline;
  @mixin textLarge;

  margin-bottom: scale(20px);
  line-height: scale(24px);

  &:last-of-type {
    margin: 0;
  }
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: scale(720px) 1fr;

  @media (max-width: $tablet-portrait) {
    grid-template-columns: 1fr scale(24px);
  }
}

.wrapper {
  position: relative;
  width: scale(720px);
  height: scale(414px);

  @media (max-width: $tablet-portrait) {
    width: 100%;
    height: scale(224px);
  }
}

.containerSpace {
  width: 100%;
}

.containerSpaceUp {
  width: 100%;
  min-width: scale(24px);
  height: 47%;
  background-color: var(--light-green);
}

.containerSpaceDown {
  width: 100%;
  min-width: scale(24px);
  height: 53%;
  background-color: var(--beige);
}
