.firstScreen {
  height: 53vh;
  box-sizing: border-box;
  padding: scale(66px 80px 66px);

  @media (max-width: $tablet-portrait) {
    height: 44vh;
    padding: scale(32px 24px) 0;
  }
}

.container {
  max-width: scale(882px);
  margin-left: auto;

  @media (max-width: $tablet-portrait) {
    max-width: scale(305px);
    margin-left: initial;
  }
}

.title {
  @mixin headline;
  @mixin headline1;

  max-width: scale(800px);
  margin-bottom: scale(15px);
  color: var(--coal);

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    max-width: scale(305px);
    margin-bottom: scale(12px);
  }
}

.wrapper {
  width: scale(360px);
  height: scale(56px);

  @media (max-width: $tablet-portrait) {
    width: scale(244px);
  }
}

.button > svg {
  min-width: scale(25px);
  height: scale(25px);
}

.button > span {
  @mixin limitText;

  -webkit-line-clamp: 1;

  @media (max-width: $tablet-portrait) {
    -webkit-line-clamp: 2;
  }
}
