.droplist {
  display: flex;
  flex-direction: row;
  padding: scale(16px 300px 39px 720px);

  @media (max-width: $tablet-portrait) {
    padding: scale(10px 0 18px 24px);
  }
}

.droplistMonths {
  z-index: 1;
  max-width: scale(240px);
  margin-right: scale(30px);

  @media (max-width: $tablet-portrait) {
    z-index: 3;
    max-width: scale(183px);
    margin-right: scale(15px);
  }
}

.droplistYears {
  z-index: 1;
  max-width: scale(150px);

  @media (max-width: $tablet-portrait) {
    z-index: 3;
    max-width: scale(152px);
  }
}
