.banners {
  display: grid;
  width: calc(100% - scale(270px));
  box-sizing: border-box;
  padding: 0 scale(32px);
  grid-area: banners;
  padding-top: scale(114px);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  border-top: scale(1px) solid var(--coal);
}

.title {
  @mixin headline;
  @mixin headline6;

  max-width: scale(570px);
  padding: scale(20px 56px);
}

.container {
  display: grid;
  justify-content: space-between;
  column-gap: scale(16px);
  grid-template-columns: repeat(auto-fit, minmax(scale(468px), max-content));
  row-gap: scale(16px);
}

.content {
  padding-left: scale(56px);
}

.desc {
  @mixin text;
  @mixin textLarge;

  max-width: scale(384px);
  margin: 0 0 scale(24px 62px);
}

.img {
  @mixin img;

  display: flex;
  max-width: scale(486px);
}

.icon > svg {
  width: scale(24px);
  height: scale(24px);
}

@media (max-width: $tablet-portrait) {
  .banners {
    width: 100%;
    padding-top: scale(24px);
  }

  .title {
    padding: scale(16px) 0;
  }

  .content {
    padding: scale(0);
  }

  .desc {
    max-width: scale(318px);
    margin: 0;
    margin-bottom: scale(28px);

    @mixin textMedium;
  }

  .container {
    grid-template-columns: repeat(auto-fit, minmax(scale(320px), max-content));
  }
}
