.banners {
  display: grid;
  width: calc(100% - scale(270px));
  box-sizing: border-box;
  padding: scale(114px 32px) 0;
  grid-area: banners;

  @media (max-width: $tablet-portrait) {
    width: auto;
    padding: scale(56px 24px) 0;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  border-top: 1px solid var(--coal);
}

.title {
  @mixin headline;
  @mixin headline6;

  position: sticky;
  z-index: 1;
  top: calc(var(--scale) * var(--page-header-height));
  box-sizing: border-box;
  padding: scale(20px 480px 20px 50px);
  background-color: var(--beige);

  @media (max-width: $tablet-portrait) {
    width: auto;
    padding: scale(16px 16px 16px) 0;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr scale(486px);

  @media (max-width: $tablet-portrait) {
    display: grid;
    grid-template-columns: 1fr;

    @media (max-width: $tablet-portrait) {
      padding-bottom: scale(24px);
    }
  }
}

.item:last-of-type .container {
  padding-bottom: scale(56px);

  @media (max-width: $tablet-portrait) {
    padding-bottom: scale(48px);
  }
}

.content {
  padding-left: scale(50px);
}

.desc {
  @mixin text;
  @mixin textLarge;
  @mixin limitText;

  max-width: scale(384px);
  margin: 0 0 scale(24px 62px);
  -webkit-line-clamp: 15;

  @media (max-width: $tablet-portrait) {
    @mixin textMedium;

    margin: 0;
    margin-bottom: scale(28px);
  }
}

.button {
  z-index: auto;
  margin-bottom: scale(20px);

  > svg {
    width: scale(24px);
    height: scale(24px);
  }

  @media (max-width: $tablet-portrait) {
    margin: 0 scale(20px 16px) auto;
  }
}

.link {
  list-style: none;
  transition: all .3s;

  &:hover {
    opacity: .9;
  }
}
