.banners {
  padding: 0 scale(32px 50px);
  grid-area: banners;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* .hideContainer {
  overflow: hidden;
  max-height: 0;
} */

@media (max-width: $tablet-portrait) {
  .banners {
    padding-top: scale(56px);
  }
}
