.root {
  display: block;
  padding: 36px 60px;

  &:nth-child(odd) {
    border-right: 1px solid var(--coal);
  }

  @media (max-width: $tablet-portrait) {
    padding: 36px 60px;
    padding: 0;
    border-top: var(--coal) solid 1px;

    &:nth-child(odd) {
      border-right: 0;
    }
  }
}
