@import '../performance-layout.vars.module.css';

.root {
  min-width: 0;
  margin: 0 -$page-padding-tablet-portrait 112px;
  grid-area: media-reviews;

  @media (max-width: $tablet-portrait) {
    margin: 0 -$page-padding-smartphone 76px;
  }
}
