.root {
  padding: scale(60px 56px);
}

.heading {
  display: flex;
  min-height: scale(145px);
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: scale(36px);

  @media (max-width: $tablet-portrait) {
    min-height: 0;
    margin-bottom: scale(56px);
  }
}

.action {
  width: scale(156px);
  padding-left: scale(40px);

  @media (max-width: $tablet-portrait) {
    padding-left: 0;
  }
}

.list {
  padding: 0;
  list-style-type: none;

  @media (max-width: $tablet-portrait) {
    display: grid;
    width: 100%;
    margin-right: scale(24px);
    column-gap: 32px;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, scale(304px));
    overflow-x: scroll;
  }
}

.item {
  display: flex;
  margin-bottom: scale(72px);

  &:last-of-type {
    padding-bottom: scale(60px);
    margin-bottom: 0;
  }

  @media (max-width: $tablet-portrait) {
    width: scale(304px);
    margin: 0;

    &:last-of-type {
      padding: 0;
      padding-right: scale(24px);
    }
  }
}

.title {
  @mixin headline;
  @mixin headline4;

  display: -webkit-box;
  max-width: scale(204px);
  margin-bottom: 20px;

  @media (max-width: $tablet-portrait) {
    @mixin headline5;
  }
}

.icon > svg {
  width: scale(25px);
  height: scale(25px);
  margin-right: scale(9px);
}
