@value partners from '../partners/footer-partners.module.css';

.navigation {
  margin-top: 50px;
  margin-right: scale(56px);
  grid-area: navigation;
}

.partners ~ .navigation {
  margin-top: scale(62px);
}
