@value partners from '../partners/footer-partners.module.css';

.navigation {
  margin: scale(50px 50px 102px 0);
  grid-area: navigation;

  @media (max-width: $tablet-portrait) {
    padding: scale(0 55px);
    margin: scale(56px 0 0 0);
  }
}

.partners ~ .navigation {
  margin: scale(62px 50px 0 0);
}
