@value partners from '../partners/footer-partners.module.css';

.navigation {
  margin-top: scalesize(50px);
  margin-right: scalesize(56px);
  grid-area: navigation;

  @media (max-width: $tablet-portrait) {
    padding: scalesize(0 55px);
    margin-top: scalesize(56px);
    margin-right: 0;
  }
}

.partners ~ .navigation {
  margin-top: scalesize(62px);
}
