.root {
  @mixin text;
  @mixin textLarge;

  position: relative;
  max-width: 500px;
  padding-left: 25px;
  margin-top: 8px;
  grid-area: description;

  @media (max-width: $tablet-portrait) {
    @mixin textSmall;

    max-width: initial;
    padding-top: 25px;
    padding-left: 32px;
    margin-top: 24px;
  }

  &::before {
    position: absolute;
    top: -25px;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    background-color: var(--coal);
    content: "";
    mask: url("../../../shared/icons/asterisk.svg") no-repeat 100% 100%;
    mask-size: cover;

    @media (max-width: $tablet-portrait) {
      top: 0;
      left: 0;
    }
  }
}
