.container {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  padding: 107px 0 179px calc(60 * var(--vw-size-multiplier));
  background-color: orange;
  grid-area: partners;
  grid-template-columns: max-content;
  grid-template-rows: repeat(2, max-content);

  @media screen and (max-width: $tablet-portrait) {
    padding-left: 24px;
  }
}

.title {
  width: clamp(298px, 100%, 640px);
  text-align: center;

  @mixin text;
  @mixin headline1;
}
