@import '../homepage-layout.vars.module.css';

.root {
  position: sticky;
  z-index: 1;
  top: 0;
  width: scale($aside-visible-width);
  height: 100vh;
  background-color: var(--light-green);
  grid-area: feed;
  -ms-overflow-style: none;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: margin, width;
  transition-duration: .2s;

  @media (min-width: $tablet-portrait) {
    &:hover {
      width: scale($aside-width);
      margin-left: calc(scale($aside-visible-width) - scale($aside-width));
    }
  }

  @media (max-width: $tablet-portrait) {
    position: static;
    width: initial;
    height: initial;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.inner {
  width: scale($aside-width);
  overflow-y: auto;

  @media (max-width: $tablet-portrait) {
    width: initial;
  }
}
