@import '../homepage-layout.vars.module.css';

.root {
  position: sticky;
  top: 0;
  width: scale($aside-visible-width);
  height: 100vh;
  background-color: var(--light-green);
  grid-area: aside;
  -ms-overflow-style: none;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: margin, width;
  transition-duration: .2s;

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    width: scale($aside-width);
    margin-left: calc(scale($aside-visible-width) - scale($aside-width));
  }
}

.inner {
  width: scale($aside-width);
  overflow-y: auto;
}
