@import '../performance-layout.vars.module.css';

.root {
  display: inline-block;
  width: $right-column-width-tablet-portrait;
  margin-bottom: 144px;

  @media (max-width: $tablet-portrait) {
    display: block;
    width: auto;
    order: 6;
    margin-bottom: 100px;
  }
}
