.photos {
  display: grid;
  box-sizing: border-box;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: $tablet-portrait) {
    gap: scalesize(2px 3px);
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  position: relative;
  overflow: hidden;

  &::before {
    display: block;
    padding-top: 70%;
    content: "";
  }
}

.photo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(-50%) translateX(-50%);
}
