.container {
  display: grid;
  background-color: var(--beige);
  gap: scalesize(0 120px);
  grid-template-areas:
    ". title"
    "intro image";
  grid-template-columns: 1fr 50%;
  grid-template-rows: repeat(2, min-content);

  @media (max-width: $tablet-portrait) {
    grid-template-areas:
      "title"
      "intro"
      "image";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content) scalesize(450px);
  }
}

.title {
  @mixin headline;
  @mixin headline1;

  margin: scalesize(0 30px 63px 0);
  grid-area: title;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    margin: scalesize(0 24px 22px);
  }
}

.intro {
  @mixin headline;
  @mixin headline6;

  max-width: scalesize(420px);
  margin: 0 0 0 auto;
  font-weight: 300;
  grid-area: intro;

  @media (max-width: $tablet-portrait) {
    @mixin headline7;

    max-width: scalesize(304px);
    margin: scalesize(0 24px 36px auto);
  }
}

.image {
  @mixin img;

  grid-area: image;

  @media (max-width: $tablet-portrait) {
    height: 100%;
  }
}
