.container {
  display: grid;
  background-color: var(--beige);
  gap: scale(0 120px);
  grid-template-areas:
    ". title"
    "intro image";
  grid-template-columns: 1fr 50%;
  grid-template-rows: repeat(2, min-content);

  @media (max-width: $tablet-portrait) {
    grid-template-areas:
      "title"
      "intro"
      "image";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content) scale(450px);
  }
}

.title {
  @mixin headline;
  @mixin headline1;

  margin: scale(0 30px 63px 0);
  grid-area: title;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    margin: scale(0 24px 22px);
  }
}

.intro {
  @mixin headline;
  @mixin headline6;

  max-width: scale(420px);
  margin: 0 0 0 auto;
  font-weight: 300;
  grid-area: intro;

  @media (max-width: $tablet-portrait) {
    @mixin headline7;

    max-width: scale(304px);
    margin: scale(0 24px 36px auto);
  }
}

.image {
  @mixin img;

  grid-area: image;

  @media (max-width: $tablet-portrait) {
    height: 100%;
  }
}

.button {
  position: absolute;
  top: scale(33px);
  left: scale(30px);
  width: scale(120px);
  height: scale(32px);

  @media (max-width: $tablet-portrait) {
    display: none;
  }
}
