.container {
  display: grid;
  background-color: var(--beige);
  gap: scale(0 120px);
  grid-template-columns: 1fr 50%;
  grid-template-rows: repeat(2, min-content);
}

.title {
  @mixin headline;
  @mixin headline1;

  max-width: scale(450px);
  margin: scale(0 0 63px);
  grid-area: 1 / 2 / 2 / 3;
}

.desc {
  @mixin headline;
  @mixin headline6;

  max-width: scale(420px);
  margin-left: auto;
  font-weight: 300;
  grid-area: -1 / 1 / -2 / 2;
}

.desc-addon {
  display: none;

  @media (max-width: $tablet-portrait) {
    display: inline;
  }
}

.image {
  @mixin img;

  grid-area: -1 / -1 / -2 / -2;
}
