.section {
  display: flex;
  flex-direction: column;
}

.paginationContainer {
  padding: 15px;
}

.paginationItem {
  width: 100%;
  text-align: center;
}

.preloaderContainer {
  width: 100px;
}

.spinner {
  width: 64px;
  margin: 0 auto;
}
