.section {
  display: flex;
  flex-direction: column;
}

.paginationContainer {
  padding: scale(15px);
}

.paginationItem {
  width: 100%;
  text-align: center;
}

.preloaderContainer {
  width: 100px;
}

.spinner {
  width: scale(64px);
  margin: 0 auto;
}
