.archive {
  width: 100%;
  padding-top: scalesize(68px);
  padding-bottom: scalesize(108px);
  background-color: var(--light-green);
  grid-area: archive;
}

.content {
  width: 100%;
  max-width: scalesize(866px);
  margin-bottom: scalesize(14px);
}

.title {
  @mixin headline;
  @mixin headline2;

  margin-bottom: scalesize(18px);
  margin-left: scalesize(150px);
}

.text {
  display: inline-block;
  overflow: hidden;
  max-width: scalesize(480px);
  margin: scalesize(0);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link {
  position: relative;
  bottom: scalesize(42px);
  display: inline-block;
  margin: scalesize(0 20px 0 6px);
}

.desc {
  @mixin text;
  @mixin textLarge;

  max-width: scalesize(432px);
  margin-left: scalesize(210px);
}

.video {
  width: 100%;
  max-width: 33.75rem;
  height: 16.125rem;
  margin: scalesize(0) auto;
}

@media (min-width: $desktop) {
  .video {
    max-width: scalesize(540px);
    height: scalesize(258px);
  }
}

@media (max-width: $tablet-portrait) {
  .archive {
    padding-top: scalesize(75px);
    padding-bottom: scalesize(100px);
  }

  .title {
    @mixin headline4;

    margin-left: scalesize(24px);
  }

  .text {
    max-width: scalesize(260px);
    text-overflow: clip;
  }

  .link {
    bottom: scalesize(32px);
    display: inline-block;
    margin: scalesize(0);
    margin-left: scalesize(2px);
  }

  .desc {
    margin: scalesize(0 24px 34px 85px);
  }

  .video {
    margin-right: scalesize(0);
    margin-left: auto;
  }
}

@media (max-width: 415px) {
  .video {
    max-width: scalesize(540px);
    height: scalesize(258px);
  }
}
