.section {
  display: grid;
  padding: 58px 0 112px;
  grid-template-areas: '. title''discussion entrance';
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 7px;

  @media (max-width: $tablet-portrait) {
    padding: 0 24px 30px;
    grid-template-areas: 'title''entrance''discussion';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 24px;
  }
}

.title {
  @mixin headline;
  @mixin headline1;

  max-width: 542px;
  grid-area: title;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    max-width: 298px;
  }
}

.discussionInfo {
  display: flex;
  flex-direction: column;
  padding-left: 125px;
  grid-area: discussion;

  @media (max-width: $tablet-portrait) {
    max-width: 261px;
    padding-left: 0;
  }
}

.discussion {
  @mixin text;
  @mixin textSmall;

  max-width: 325px;
  padding-left: 25px;

  @media (max-width: $tablet-portrait) {
    padding-left: 20px;
  }
}

.info {
  @mixin text;
  @mixin textLarge;

  @media (max-width: $tablet-portrait) {
    @mixin textSmall;
  }
}

.entranceInfo {
  display: flex;
  max-width: 477px;
  flex-direction: column;
  padding: 25px 0 0 65px;
  gap: 16px;
  grid-area: entrance;

  @media (max-width: $tablet-portrait) {
    max-width: 255px;
    padding: 0;
    gap: 0;
    justify-self: flex-end;
  }
}
