.link {
  display: flex;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  height: 24px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 0;
  padding-right: 10px;
  border-bottom: 1px solid var(--coal);
  border-left: 1px solid var(--coal);
  margin: 0;
  background-color: var(--white);
  cursor: pointer;
  letter-spacing: -.01em;
  text-decoration: none;
  transition: filter .5s ease-in;

  @mixin text;
  @mixin textSmallButton;

  &:hover {
    filter: invert(100%);
  }
}
