.card {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  min-height: scale(300px);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-green);

  @media (max-width: $tablet-portrait) {
    min-height: scale(340px);
  }
}

.buttonCustom {
  height: scale(56px);
  opacity: 0;
  transition: visibility .5s ease-in-out, opacity .5s ease-in-out;
  visibility: hidden;

  @media (max-width: $tablet-portrait) {
    opacity: 1;
    visibility: visible;
  }
}

.container:hover .buttonCustom {
  opacity: 1;
  visibility: visible;
}

.title {
  @mixin headline;
  @mixin headline7;
  @mixin truncated-text 6;

  margin: scale(24px 31px auto 24px);

  @media (max-width: $tablet-portrait) {
    margin: scale(16px 46px auto 16px);
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: scale(16px 0 auto);

  @media (max-width: $tablet-portrait) {
    margin-top: scale(24px);
  }
}

.author {
  display: inline;
  max-width: scale(190px);
  padding: 2px 4px;
  margin: -2px -4px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.authorMultiple {
  max-width: scale(238px);
}

.authorName {
  @mixin headline;
  @mixin headline7;
}

.authorName:hover {
  background-color: var(--coal);
  color: var(--white);
  cursor: pointer;
}

.city {
  @mixin text;
  @mixin textSmall;

  margin: 0;
  margin-top: scale(4px);

  @media (max-width: $tablet-portrait) {
    margin-top: scale(8px);
  }
}

.year {
  @mixin text;
  @mixin textSmall;

  margin: 0;
}

.hiddenText {
  @mixin visually-hidden;
}
