.card {
  display: flex;
  max-width: 240px;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (max-width: $mobile-landscape) {
    max-width: 244px;
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  50% { opacity: 50%; }
  100% { opacity: 100%; }
}

.container {
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-green);
}

.buttonCustom {
  visibility: hidden;

  @media (max-width: $mobile-landscape) {
    visibility: visible;
  }
}

.container:hover .buttonCustom {
  animation: fade-in .5s ease-in;
  visibility: visible;
}

.title {
  @mixin headline;
  @mixin headline7;

  display: -webkit-box;
  overflow: hidden;
  margin: 24px 31px auto 24px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px 0 auto;
}

.author {
  @mixin headline;
  @mixin headline7;

  display: inline-block;
  max-width: 190px;
}

.author:hover {
  background-color: var(--coal);
  color: var(--white);
  cursor: pointer;
}

.authorName {
  /* @mixin headline;
  @mixin headline7; */

  margin: 0;
}

/* .authorName:hover {
  background-color: var(--coal);
  color: var(--white);
  cursor: pointer;
} */

.city {
  @mixin text;
  @mixin textSmall;

  margin: 0;
  margin-top: 4px;
}

.year {
  @mixin text;
  @mixin textSmall;

  margin: 0;
}
