.container {
  width: scale(269px);
}

.title {
  @mixin headline;
  @mixin headline7;

  margin-bottom: scale(16px);
}

.years {
  margin-bottom: scale(38px);
}

.programmesList {
  display: grid;
  padding: 0;
  margin: 0 0 scale(75px);
  list-style: none;
  row-gap: scale(13px);
}

.programme {
  &:hover {
    cursor: pointer;
  }
}
