.banner {
  overflow: hidden;
  width: 100%;
  max-width: scale(1100px);
  border-top: scale(1px) solid var(--coal);
  margin-bottom: scale(50px);
}

.title {
  @mixin headline;
  @mixin headline6;

  max-width: scale(570px);
  padding: scale(20px 56px);
}

.container {
  display: grid;
  justify-content: space-between;
  column-gap: scale(16px);
  grid-template-columns: repeat(auto-fit, minmax(scale(468px), max-content));
  row-gap: scale(16px);
}

.content {
  padding-left: scale(56px);
}

.desc {
  @mixin text;
  @mixin textLarge;

  max-width: scale(384px);
  margin: scale(0 0 24px 62px);
}

.img {
  @mixin img;

  display: flex;
  max-width: scale(486px);
}

@media (max-width: $tablet-portrait) {
  .banners {
    padding: scale(0 24px);
  }

  .title {
    padding: scale(16px 0);
  }

  .content {
    padding: scale(0);
  }

  .desc {
    max-width: scale(318px);
    margin: scale(0);
    margin-bottom: scale(28px);

    @mixin textMedium;
  }

  .container {
    grid-template-columns: repeat(auto-fit, minmax(scale(366px), max-content));
  }
}
