.banner {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: scale(1100px);
  flex-direction: column;
  justify-content: space-between;

  /* min-height: scale(343px); */
  border-top: scale(1px) solid var(--coal);
}

.title {
  @mixin headline;
  @mixin headline6;

  max-width: scale(570px);
  padding: scale(20px 56px);
}

.container {
  display: grid;
  max-height: scale(300px);
  justify-content: space-between;
  column-gap: scale(16px);
  grid-template-columns: repeat(auto-fit, minmax(scale(486px), max-content));
  row-gap: scale(16px);
  transition: all .4s ease-out;
}

.content {
  padding-left: scale(56px);
}

.desc {
  @mixin text;
  @mixin textLarge;

  max-width: scale(384px);
  margin: scale(0 0 24px 62px);
}

.img {
  @mixin img;

  display: flex;
  max-width: scale(486px);
  height: scale(228px);
}

@media (max-width: $tablet-portrait) {
  .banners {
    padding: scale(0 24px);
  }

  .title {
    padding: scale(16px 0);
  }

  .content {
    padding: 0;
  }

  .desc {
    max-width: scale(318px);
    margin: 0;
    margin-bottom: scale(28px);

    @mixin textMedium;
  }

  .container {
    max-height: scale(452px);
    grid-template-columns: repeat(auto-fit, minmax(scale(366px), max-content));
  }
}
