.container {
  background-color: var(--beige);
}

.letters {
  display: flex;
  border-bottom: 1px solid var(--coal);
  list-style: none;
}

.letter {
  @mixin headline;
  @mixin headline7;

  position: relative;
  width: 36px;
  height: 46px;
  margin-right: 12px;
}

.letterActive {
  background-color: var(--coal);
  color: var(--white);
}

.letter:last-child {
  margin-right: 0;
}

.label {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label:hover {
  cursor: pointer;
}

.inputRadio {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 24px;
  margin: 0;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.authors {
  display: flex;
  max-width: 812px;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
}

.authorsList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 53px 0 0;
  list-style: none;
}

.author {
  margin-bottom: 12px;
}

.author:last-child {
  margin-bottom: 0;
}

.link {
  @mixin text;
  @mixin textLarge;

  padding: 1px 8px 3px;
  color: var(--coal);
  text-decoration: none;
}

.link:active {
  background-color: var(--coal);
  color: var(--white);
}

.chosenLetter {
  position: relative;
  margin: 309px 20px 0 0;
}

.bigLetter {
  @mixin headline;

  font-size: 100px;
  line-height: 100px;
}

.authorsQuantity {
  @mixin text;
  @mixin textLarge;

  position: absolute;
  top: -8px;
  right: -7px;
}
