.partnersContainer {
  background-color: #ecebe8;
}

.partners {
  padding: scalesize(70px 210px 138px 210px);

  @media (max-width: $tablet-portrait) {
    padding: scalesize(80px 24px 100px 24px);
  }
}
