@keyframes emergence {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.wrap {
  position: relative;
}

.filtersButton {
  display: none;

  @media (max-width: $tablet-portrait) {
    position: fixed;
    z-index: 1;
    top: scale(32px);
    right: scale(24px);
    display: flex;
    width: scale(45px);
    height: scale(45px);
    align-items: center;
    justify-content: center;
    background-color: var(--light-green);
  }
}

.topWrap {
  position: absolute;
  z-index: -1;
  top: calc(scale(91px) * -1);
  left: 0;
  width: 100%;
  height: 0;

  @media (max-width: $tablet-portrait) {
    height: 90%;
  }
}

.top {
  position: sticky;
  top: calc(scale(50px) * -1);
  width: 100%;
  height: 0;
  background-color: var(--white);

  @media (max-width: $tablet-portrait) {
    height: scale(140px);
  }
}

.content {
  position: relative;
  z-index: 0;
  display: flex;
  max-width: 100%;
  min-height: calc(100vh - scale(61px));
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;

  @media (max-width: $tablet-portrait) {
    display: block;
  }
}

.sidebar {
  position: sticky;
  z-index: 1;
  top: 0;
  left: auto;
  box-sizing: border-box;
  padding: scale(21px) 0;

  @media (max-width: $tablet-portrait) {
    position: absolute;
    z-index: -1;
    top: scale(47px);
    left: 0;
    width: 100%;
    height: calc(100% - scale(166px));
    padding: 0;
    pointer-events: none;
  }
}

.sidebar * {
  @media (max-width: $tablet-portrait) {
    pointer-events: all;
  }
}

.menu {
  box-sizing: border-box;
  padding-bottom: scale(17px);
  padding-left: scale(30px);
  border-bottom: 1px solid var(--coal);
  margin: 0 0 scale(30px);

  @media (max-width: $tablet-portrait) {
    position: sticky;
    top: calc(scale(9px) * -1);
    left: auto;
    height: scale(105px);
    padding: scale(48px) 0 0 scale(24px);
    border-bottom: none;
    margin: 0;
    background-color: var(--white);
  }
}

.filter {
  box-sizing: border-box;
  padding-left: scale(30px);

  @media (max-width: $tablet-portrait) {
    display: none;
  }
}

.section {
  position: relative;
  z-index: 0;
  display: flex;
  width: scale(1050px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: scale(58px) scale(29px) scale(163px) auto;
  justify-self: flex-end;

  @media (max-width: $tablet-portrait) {
    width: 100%;
    margin: 0;
  }
}

.title {
  @mixin headline;
  @mixin headline1;

  z-index: 4;
  width: scale(720px);
  box-sizing: border-box;
  align-self: flex-end;
  padding-right: scale(108px);
  margin: 0 0 scale(16px);

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    width: scale(298px);
    align-self: flex-start;
    padding-right: scale(24px);
    margin: 0 0 scale(8px) scale(24px);
  }
}

.search {
  position: sticky;
  z-index: 3;
  top: scale(48px);
  width: 100%;
  box-sizing: border-box;
  background-color: var(--beige);

  &::before {
    position: absolute;
    z-index: 3;
    top: calc(scale(48px) * -1);
    left: 0;
    width: 100%;
    height: scale(48px);
    background-color: var(--beige);
    content: '';
  }

  @media (max-width: $tablet-portrait) {
    position: static;
    padding: 0 scale(24px);
    background-color: var(--white);

    &::before {
      height: 0;
    }
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: scale(50px);

  @media (max-width: $tablet-portrait) {
    display: none;
  }
}

.loaderMobile {
  display: none;

  @media (max-width: $tablet-portrait) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pieces {
  width: calc(100% + scale(48px));
  margin: scale(54px) auto 0 calc(scale(24px) * -1);

  @media (max-width: $tablet-portrait) {
    display: none;
  }
}

.pieces article {
  animation: emergence 1s linear;
}

.piecesMobile {
  display: none;

  @media (max-width: $tablet-portrait) {
    position: relative;
    z-index: -2;
    display: grid;
    box-sizing: border-box;
    padding: scale(56px) scale(85px) scale(100px);
    margin-top: scale(124px);
    row-gap: scale(48px);
  }
}

.piecesMobile article {
  animation: emergence 1s linear;
}

.mobileTags {
  display: none;
  background-color: var(--white);

  @media (max-width: $tablet-portrait) {
    display: flex;
  }
}

.noResult {
  @mixin text;
  @mixin textLarge;

  text-align: center;
}

.tabLink {
  margin: 0;
  opacity: .2;

  &:hover {
    opacity: 1;
  }
}

.active {
  opacity: 1;
}
