.trusteesList * {
  box-sizing: border-box;
}

.trusteesList img {
  max-width: 100%;
}

.flex {
  display: flex;
  max-width: 1440px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  gap: scale(48px) scale(60px);
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, scale(210px));
}

.fiveElements:nth-child(5n+3) {
  display: flex;
  flex-grow: 2;
  justify-content: flex-start;
}

.fiveElements:nth-child(5n+4) {
  display: flex;
  flex-grow: 3;
  justify-content: flex-end;
}

.sixElements:nth-child(6n+3) {
  display: flex;
  flex-grow: 2;
  justify-content: flex-start;
}

.sixElements:nth-child(6n+4) {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
}
