.main {
  position: relative;
  display: grid;
  overflow: hidden;
  width: 100%;
  min-width: var(--page-content-min-width);
  box-sizing: border-box;
  margin: 0 auto;
  grid-template-areas:
    "title ."
    "events ."
    "banners ."
    "platforms platforms"
    "shortList ."
    "archive archive"
    "partners .";
  grid-template-columns: minmax(scale(500px), scale(1108px)) 1fr;
  grid-template-rows: repeat(6, max-content);

  @media screen and (max-width: 1200px) {
    grid-template-areas:
      "title"
      "events"
      "aside"
      "banners"
      "platforms"
      "shortList"
      "archive"
      "partners";
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, max-content);
  }
}
