.playsContainer {
  position: relative;
  display: flex;
  overflow: scroll;
  padding: calc(var(--scale) * 134) calc(var(--scale) * 60);
  background-color: var(--beige);

  &::-webkit-scrollbar {
    width: 0;
    height: calc(var(--scale) * 8);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--beige);
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 calc(var(--scale) * 5) rgba(0, 0, 0, .2);
  }

  @media (max-width: $tablet-portrait) {
    @mixin hideScrollbar;

    padding: calc(var(--scale) * 10) 0 calc(var(--scale) * 80) calc(var(--scale) * 24);
  }
}

.list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: $tablet-portrait) {
    margin: 0 calc(var(--scale) * 24) 0 0;
  }
}

.item {
  width: calc(var(--scale) * 240);
  margin: 0 calc(var(--scale) * 30) 0 0;

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $tablet-portrait) {
    width: calc(var(--scale) * 244);
  }
}
