.playsContainer {
  @mixin hideScrollbar;

  position: relative;
  display: flex;
  padding: calc(var(--scale) * 134) calc(var(--scale) * 60);
  background-color: var(--beige);

  @media (max-width: $tablet-portrait) {
    overflow: scroll;
    padding: scale(10px 0 80px 24px);
  }
}

.list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: $tablet-portrait) {
    margin-right: scale(24px);
  }
}

.item {
  width: scale(240px);
  margin-right: scale(30px);

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $tablet-portrait) {
    width: scale(244px);
  }
}
