.playsContainer {
  position: relative;
  padding: 130px 30px;
  background-color: var(--beige);

  @media (max-width: $tablet-portrait) {
    @mixin hideScrollbar;

    overflow: scroll;
    padding: 10px 0 80px 25px;
    scroll-behavior: smooth;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: $tablet-portrait) {
    flex-wrap: nowrap;
    margin: 0 24px 0 0;
  }
}

.item {
  width: 240px;
  margin: 0 30px 0 0;

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $tablet-portrait) {
    width: 244px;
  }
}
