.container {
  @mixin hideScrollbar;

  position: -webkit-sticky;
  position: sticky;
  z-index: 99;
  top: 0;
  overflow: hidden;
  width: scale(270px);
  height: 100vh;
  margin-left: auto;
  grid-area: aside;
  overflow-y: scroll;
  transition: all .3s ease-in;

  &:hover {
    /* position: fixed; */

    /* transform: translateX(-200px); */
    width: scale(468px);
  }

  @media (max-width: $tablet-portrait) {
    position: initial;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-x: scroll;

    &:hover {
      width: 100%;
    }
  }
}

.aside {
  position: absolute;
  box-sizing: border-box;
  padding: scale(60px 56px 60px 56px);
  background-color: var(--light-green);

  @media (max-width: $tablet-portrait) {
    position: initial;
    z-index: 1;
    width: 100%;
    height: scale(934px);
    padding: scale(36px 0 102px 24px);
    margin-bottom: scale(50px);
    grid-area: aside;
    overflow-y: hidden;
    transform: translate(0, 0);
  }
}

.heading {
  display: flex;
  height: scale(145px);
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: scale(36px);

  @media (max-width: $tablet-portrait) {
    height: scale(124px);
    margin-bottom: scale(66px);
  }
}

.buttonContainer {
  width: scale(156px);
  padding-left: scale(40px);

  @media (max-width: $tablet-portrait) {
    padding-left: 0;
  }
}

.list {
  @mixin hideScrollbar;

  width: scale(270px);
  padding: 0;
  margin: 0 auto;
  list-style-type: none;

  @media (max-width: $tablet-portrait) {
    display: grid;
    width: 100%;
    margin-right: scale(24px);
    column-gap: 32px;
    grid-template-columns: repeat(3, minmax(scale(304px), max-content));
    overflow-x: scroll;
  }
}

.item {
  display: flex;
  margin-bottom: scale(36px);

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (max-width: $tablet-portrait) {
    width: scale(304px);

    &:last-of-type {
      padding-right: scale(24px);
    }
  }
}

.title {
  @mixin headline;
  @mixin headline4;

  display: -webkit-box;

  /* overflow: hidden; */
  width: scale(340px);

  /* -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; */

  @media (max-width: $tablet-portrait) {
    @mixin headline5;
  }
}

.button > svg {
  width: scale(25px);
  height: scale(25px);
}
