.container {
  @mixin hideScrollbar;

  position: -webkit-sticky;
  position: sticky;
  z-index: 99;
  top: 0;
  overflow: hidden;
  width: scale(270px);
  height: 100vh;
  margin-left: auto;
  background-color: var(--light-green);
  grid-area: aside;
  overflow-y: scroll;
  transition: all .3s ease-in;

  &:hover {
    width: scale(468px);
  }

  @media (max-width: $tablet-portrait) {
    position: initial;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-x: scroll;

    &:hover {
      width: 100%;
    }
  }
}

.aside {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--scale) * 468);
  height: 100%;
  box-sizing: border-box;
  padding: scale(60px 56px 0 56px);

  @media (max-width: $tablet-portrait) {
    position: initial;
    z-index: 1;
    width: 100%;
    padding: scale(36px 0 102px 24px);
    grid-area: aside;
    overflow-y: hidden;
    transform: translate(0, 0);
  }
}

.heading {
  display: flex;
  min-height: scale(145px);
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: scale(36px);

  @media (max-width: $tablet-portrait) {
    min-height: scale(124px);
    margin-bottom: scale(56px);
  }
}

.buttonContainer {
  width: scale(156px);
  padding-left: scale(40px);

  @media (max-width: $tablet-portrait) {
    padding-left: 0;
  }
}

.list {
  @mixin hideScrollbar;

  padding: 0;
  margin: 0 auto;
  list-style-type: none;

  @media (max-width: $tablet-portrait) {
    display: grid;
    width: 100%;
    margin-right: scale(24px);
    column-gap: 32px;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, scale(304px));
    overflow-x: scroll;
  }
}

.item {
  display: flex;
  margin-bottom: scale(72px);

  &:last-of-type {
    padding-bottom: scale(60px);
    margin-bottom: 0;
  }

  @media (max-width: $tablet-portrait) {
    width: scale(304px);
    margin-bottom: 0;

    &:last-of-type {
      padding-right: scale(24px);
    }
  }
}

.title {
  @mixin headline;
  @mixin headline4;

  display: -webkit-box;
  max-width: scale(204px);
  margin-bottom: 20px;

  @media (max-width: $tablet-portrait) {
    @mixin headline5;
  }
}

.icon > svg {
  width: scale(25px);
  height: scale(25px);
  margin-right: scale(9px);
}
