.content {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 10;
  top: 40px;
  left: 60px;

  @media (max-width: $tablet-portrait) {
    position: static;
    padding: 2px 0 32px 24px;
  }
}
