.content {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 10;
  top: scale(40px);
  left: scale(70px);

  @media (max-width: $tablet-portrait) {
    position: static;
    margin: scale(2px 11px 32px);
  }
}
