.section {
  width: calc(100% - scale(270px));
  box-sizing: border-box;
  padding: scale(65px 60px 105px 60px);
  background-color: white;
  grid-area: platforms;
}

.titleMain {
  @mixin headline;
  @mixin headline2;

  margin-bottom: scale(74px);
}

.list {
  display: grid;
  padding: 0;
  margin: 0;
  column-gap: scale(60px);
  grid-template-columns: repeat(auto-fit, minmax(scale(300px), max-content));
  list-style: none;
  row-gap: scale(40px);
}

.item {
  display: flex;
  max-width: scale(300px);
  min-height: scale(260px);
  box-sizing: border-box;
  flex-direction: column;
  padding: scale(15px 30px 26px 30px);
  border-bottom: scale(1px) solid var(--coal);
  border-left: scale(1px) solid var(--coal);

  > svg {
    width: scale(24px);
    height: scale(24px);
  }
}

.mapIcon {
  margin-bottom: scale(14px);
}

.title {
  @mixin headline;
  @mixin headline7;

  margin-bottom: scale(15px);
}

.desc {
  @mixin text;
  @mixin textSmall;

  margin-left: scale(30px);
}

.icon {
  display: flex;
  transition: all .3s;

  > svg {
    width: scale(24px);
    height: scale(24px);
  }
}

.link {
  display: flex;
  align-items: center;
  padding: scale(12px) 0;
  margin: 0;
  margin-top: auto;
  text-decoration: none;
  transition: all .3s;

  &:hover {
    opacity: .8;
  }

  &:hover .icon {
    transform: translateX(5px);
  }
}

.text {
  @mixin text;
  @mixin textSmall;

  margin-right: scale(8px);
}

@media (max-width: $tablet-portrait) {
  .section {
    width: 100%;
    padding: scale(56px 55px 100px 55px);
  }

  .titleMain {
    @mixin headline4;

    margin-bottom: scale(40px);
  }

  .list {
    grid-template-columns: 1fr;
  }

  .item {
    min-height: auto;
    padding: scale(16px 25px 20px 25px);
  }

  .title {
    margin-bottom: scale(8px);
  }

  .desc {
    margin-bottom: scale(20px);
    margin-left: scale(16px);
  }

  .link {
    padding-left: scale(16px);
  }
}
