.section {
  width: 100%;
  box-sizing: border-box;
  padding: scale(65px 60px 105px 60px);
  background-color: white;
  grid-area: platforms;
}

.titleMain {
  @mixin text;
  @mixin headline1;

  margin-bottom: scale(74px);
}

.list {
  display: grid;
  padding: scale(0);
  margin: scale(0);
  column-gap: scale(60px);
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  row-gap: scale(40px);
}

.item {
  display: flex;
  max-width: scale(300px);
  min-height: scale(260px);
  box-sizing: border-box;
  flex-direction: column;
  padding: scale(15px 30px 38px 30px);
  border-bottom: scale(1px) solid var(--coal);
  border-left: scale(1px) solid var(--coal);
}

.mapIcon {
  margin-bottom: scale(14px);
}

.title {
  @mixin headline;
  @mixin headline7;

  margin-bottom: scale(15px);
}

.desc {
  @mixin text;
  @mixin textSmall;

  margin-bottom: scale(12px);
  margin-left: scale(30px);
}

.containerLink {
  display: flex;
  margin-top: auto;
}

.link {
  display: flex;
  margin-top: auto;
  text-decoration: none;
}

.text {
  @mixin text;
  @mixin textSmall;

  margin-right: scale(8px);
}
