.container * {
  box-sizing: border-box;
}

.container img {
  max-width: 100%;
}

.container {
  display: grid;
  max-width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 50px 210px 0;
  margin: 0;
  gap: 48px 30px;
  grid-template-columns: repeat(5, 180px);
  list-style: none;
}

.slidesContainer {
  padding-top: 23px;
}
