.textArea {
  @mixin text;
  @mixin textSmall;

  display: block;
  width: 100%;
  height: auto;
  padding: scalesize(8px 0);
  border: 0;
  border-bottom: 1px solid var(--coal);
  background-color: transparent;
  border-radius: 0;

  &::placeholder {
    color: var(--coal);
    opacity: .7;
  }
}

.error {
  border-color: var(--red);
}

.errorMessage {
  @mixin text;
  @mixin textCaption;

  display: inline-block;
  margin-top: scalesize(3px);
  color: var(--red);
}
