.root {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.inner {
  @mixin hide-scrollbars;

  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto 0;
  overflow-y: auto;
  pointer-events: none;

  @media (max-width: $tablet-portrait) {
    display: inline-block;
  }
}

.content {
  pointer-events: auto;
}
