.section {
  display: flex;
  flex-direction: column;
  margin-top: 99px;
  background-color: var (--white);
}

.flex {
  display: flex;
}

.title_flex {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-right: 12.5vw;
}

.image_title {
  margin-right: 12.5vw;
  margin-left: 12.5vw;
  object-fit: cover;
}

.title {
  @mixin textVerySuperGreat;
  @mixin textNeueMachina;
}

.text {
  @mixin textLarge;
  @mixin text;

  padding-left: 4.3vw;
  margin-top: 37px;
}
