.section {
  background-color: var(--beige);
}

.sectionSecond {
  background-color: var(--white);
}

.container {
  position: relative;
  display: flex;
  max-width: 1440px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 127px 70px 165px;
  margin: 0 auto;

  @media (max-width: $laptop) {
    padding: 336px 24px 100px;
  }
}

.containerSecond {
  padding: 93px 70px 267px;

  @media (max-width: $laptop) {
    padding: 228px 24px 150px;
  }
}

.listShiftRight {
  align-self: flex-end;

  @media (max-width: $mobile-landscape) {
    align-self: flex-start;
  }
}

.title {
  @mixin headline;
  @mixin headline2;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;
  }
}

.titleBox {
  width: 448px;
  margin: 0 0 51px 12px;

  @media (max-width: $tablet-portrait) {
    width: 323px;
    margin: 0 0 24px;
  }
}

.paragraph {
  @mixin text;
  @mixin textLarge;
}

.paragraphText {
  margin-top: 36px;
  text-indent: 23px;
}

.paragraphText:first-of-type {
  margin-top: 0;
  text-indent: 0;
}

.numberBox {
  box-sizing: border-box;

  @media (max-width: $tablet-portrait) {
    padding: 0 0 16px 36px;
  }
}

.picture {
  position: absolute;
  overflow: hidden;
  width: 391px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-landscape) {
    width: 420px;
    height: 218px;
  }

  @media (min-width: $desktop) {
    width: 660px;
    height: 330px;
  }
}

.pictureActors {
  top: 268px;
  left: 0;
  background-image: url('./images/actors.jpg');

  @media (max-width: $laptop) {
    top: 99px;
  }
}

.pictureAudience {
  top: 277px;
  right: 0;
  background-image: url('./images/audience.jpg');

  @media (max-width: $laptop) {
    top: 0;
  }
}
