.title {
  max-width: scale(542px);
  padding: scale(59px 287px 16px 720px);

  @mixin headline;
  @mixin headline1;

  @media (max-width: $tablet-portrait) {
    max-width: scale(298px);
    padding: scale(0 92px 32px 24px);

    @mixin headline4;
  }
}
