@keyframes backgroundColor {
  from {
    background-color: transparent;
  }

  to {
    background-color: var(--coal);
  }
}

@keyframes fill {
  from {
    fill: var(--coal);
  }

  to {
    fill: var(--white);
  }
}

.button {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    border: 1px solid var(--coal);
    background-color: transparent;
    border-radius: 50%;
    content: '';
  }

  &:disabled {
    cursor: default;

    &::before,
    &::after {
      border-color: var(--black-15);
    }

    .icon {
      fill: var(--black-15);
    }
  }

  &:hover:enabled,
  &:active:enabled {
    animation: backgroundColor .05s .15s;
    animation-fill-mode: forwards;

    &::after {
      transform: rotate(315deg);
      transition: transform .2s;
    }

    .icon {
      animation: fill .05s .2s;
      animation-fill-mode: forwards;
    }
  }

  &:active:enabled {
    transform: scale(1.1);

    .icon {
      transform: scale(.9);
    }
  }
}

.right {
  &::before,
  &::after {
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(135deg);
  }
}

.left {
  &::before,
  &::after {
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
  }

  &:hover:enabled,
  &:active:enabled {
    &::after {
      transform: rotate(-225deg);
      transition: transform .2s;
    }
  }
}

.popup {
  background-color: var(--beige);
}

.popup.addon {
  .circle {
    display: none;
  }
}

.popup.navigation {
  @media (max-width: $tablet-portrait) {
    .circle {
      display: none;
    }
  }
}
