.section {
  width: 100%;
  height: 97px;
  border-bottom: 1px solid var(--coal);
  background: var(--beige);
}

@media (max-width: $tablet-portrait) {
  .section {
    height: 88px;
    border-bottom: none;
  }
}

.yearsContainer {
  padding-top: scale(35.5px);
  margin: 0;

  @media (max-width: $tablet-portrait) {
    padding-top: scale(22px);
    padding-left: scale(24px);
  }
}
