.section {
  width: 100%;
  border-bottom: 1px solid var(--coal);
  background: var(--beige);
}

@media (max-width: $tablet-portrait) {
  .section {
    height: 88px;
    border-bottom: none;
  }
}

.yearsContainer {
  padding-top: 31px;
  padding-bottom: 25px;
  margin: 0;

  @media (max-width: $tablet-portrait) {
    padding-top: 22px;
    padding-left: 24px;
  }
}
