.searchForm {
  display: flex;
  width: 100%;
  height: 32px;
  border-bottom: 1px solid var(--coal);
}

.searchInput {
  @mixin text;
  @mixin textMedium;

  width: 450px;
  height: 32px;
  box-sizing: border-box;
  padding: 1px 3px 8px;
  border: none;
  border-right: 1px solid var(--coal);
  background: none;
  outline: none;

  &::placeholder {
    opacity: .4;
  }

  &:-webkit-autofill,
  :-webkit-autofill:hover,
  :-webkit-autofill:focus,
  :-webkit-autofill:active {
    transition: background-color 5000s;
  }
}
