.container {
  background-color: var(--beige);
}

.searchForm {
  display: flex;
}

.searchInput {
  @mixin text;
  @mixin textMedium;

  width: 450px;
  height: 32px;
  box-sizing: border-box;
  padding: 1px 3px 8px;
  border: none;
  border-bottom: 1px solid #242424;
  background: none;
  outline: none;

  &::placeholder {
    opacity: .4;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
}
