.header {
  display: flex;
  max-width: 718px;
  align-items: center;
  margin: 0 auto 35px;

  @media (max-width: $tablet-portrait) {
    position: relative;
    align-items: flex-start;
    margin: 0 27px 25px 24px;
  }
}

.slider {
  @media (max-width: $tablet-portrait) {
    max-width: 414px;
  }
}

.title {
  @mixin headline;
  @mixin headline4;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    max-width: 214px;
  }
}

.slide {
  display: flex;
  place-content: stretch;
}

.single {
  .slide {
    opacity: .4;

    @media (min-width: $tablet-portrait) {
      display: block;
    }
  }

  .active {
    opacity: 1;
  }
}

.dots {
  margin-left: auto;

  @media (max-width: $tablet-portrait) {
    position: absolute;
    z-index: 1;
    bottom: -64px;
    left: -2px;
  }
}

.arrows {
  display: flex;
  margin-left: 20px;

  @media (max-width: $tablet-portrait) {
    margin-left: auto;
  }
}

.arrow {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
