.header {
  display: flex;
  max-width: scale(718px);
  align-items: center;
  margin: scale(0 auto 35px);

  @media (max-width: $tablet-portrait) {
    position: relative;
    align-items: flex-start;
    margin: scale(0 27px 25px 24px);
  }
}

.slider {
  @media (max-width: $tablet-portrait) {
    max-width: scale(414px);
  }
}

.title {
  @mixin headline;
  @mixin headline4;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    max-width: scale(214px);
  }
}

.slide {
  display: flex;
  place-content: stretch;
}

.single {
  .slide {
    opacity: .4;

    @media (min-width: $tablet-portrait) {
      display: block;
    }
  }

  .active {
    opacity: 1;
  }
}

.dots {
  margin-left: auto;

  @media (max-width: $tablet-portrait) {
    position: absolute;
    z-index: 1;
    bottom: calc(-1 * scale(64px));
    left: calc(-1 * scale(2px));
  }
}

.arrows {
  display: flex;
  margin-left: scale(21px);

  @media (max-width: $tablet-portrait) {
    margin-left: auto;
  }
}

.arrowRight {
  margin-left: scale(21px);
}
