.intro {
  @mixin headline;
  @mixin headline6;

  max-width: 387px;

  @media (max-width: $tablet-portrait) {
    max-width: 366px;
  }
}

.photo {
  position: relative;
  width: 150px;
  height: 182px;
  margin: 25px auto 32px 31px;

  @media (max-width: $tablet-portrait) {
    margin: 24px auto 24px 63px;
  }
}

.info {
  margin: 0;
}

.email {
  max-width: 479px;
  margin: 0;
  margin-bottom: 8px;

  @media (max-width: $tablet-portrait) {
    max-width: 367px;
  }
}

.description {
  @mixin text;
  @mixin textSmall;
  margin-left: 0;

  max-width: 269px;
}

.hiddenText {
  @mixin visually-hidden;
}

.button {
  padding: 0;
  text-decoration: underline;

  :first-child {
    font-family: "PP Neue Machina", Arial, sans-serif;
    font-weight: 400;
  }
}
