.container * {
  box-sizing: border-box;
}

.container img {
  max-width: 100%;
}

.container {
  display: grid;
  max-width: 1440px;
  box-sizing: border-box;
  justify-content: space-between;
  padding: scale(50px) scale(210px) 0;
  margin: 0;
  gap: scale(48px) scale(30px);
  grid-template-columns: repeat(auto-fit, scale(180px));
  list-style: none;
}

.card {
  max-width: 180px;
}

.slidesContainer {
  padding-top: scale(23px);
}
