.authors {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }
}

.alphabetLetter {
  @mixin headline;
  @mixin headline4;
}

.authorsList {
  padding: 0;
  margin: 0;
  margin-top: 14px;
  list-style: none;
}

.authorsItem {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.authorsLink {
  @mixin text;
  @mixin textLarge;

  padding: 1px 8px 3px;
  color: var(--coal);
  text-decoration: none;

  &:hover {
    background-color: var(--coal);
    color: var(--white);
  }
}
