.root {
  display: grid;
  grid-template-areas:
    "title       title"
    "description image"
    "action      image";
  grid-template-columns: 1fr 486px;

  @media (max-width: $tablet-portrait) {
    display: block;
  }
}

.title {
  @mixin headline;
  @mixin headline6;

  max-width: 570px;
  margin-bottom: 20px;
  background-color: var(--beige);
  grid-area: title;

  @media (max-width: $tablet-portrait) {
    max-width: auto;
    margin-bottom: 16px;
  }
}

.description {
  @mixin text;
  @mixin textLarge;

  max-width: 384px;
  margin: 0 0 24px 62px;
  grid-area: description;

  @media (max-width: $tablet-portrait) {
    @mixin textMedium;

    max-width: auto;
    margin: 0 0 28px;
  }
}

.action {
  grid-area: action;

  @media (max-width: $tablet-portrait) {
    margin: 0 20px 16px auto;
    text-align: right;
  }
}

.image-container {
  grid-area: image;
}
