.card {
  box-sizing: border-box;
  padding: scale(55px 88px 72px);
  background-color: var(--white);

  @media (max-width: $tablet-portrait) {
    padding: scale(78px 26px 72px);
  }
}

.logo {
  display: block;
  max-width: 100%;
  max-height: scale(40px);
  margin-bottom: scale(48px);

  @media (max-width: $tablet-portrait) {
    margin-bottom: scale(36px);
  }
}

.action {
  margin-top: scale(32px);
}

.text {
  @mixin text;
  @mixin textLarge;
}
