.descItem {
  padding: 92px 24px 170px 0;
  background-color: var(--beige);

  @media (max-width: $tablet-portrait) {
    padding: 56px 24px 72px 0;
  }
}

.content {
  display: grid;
  column-gap: 90px;
  row-gap: 24px;

  @media (max-width: $tablet-portrait) {
    grid-template-columns: repeat(auto-fit, minmax(274px, max-content));
  }
}

.acceptance {
  margin: 0 0 190px 120px;
  grid-template-columns: 600px 450px;

  @media (max-width: $tablet-portrait) {
    margin: 0 0 72px 24px;
    grid-template-columns: 1fr;
  }
}

.container {
  max-width: 600px;
}

.mainTitle {
  @mixin headline;
  @mixin headline3;

  margin-bottom: 76px;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    margin-bottom: 24px;
  }
}

.title {
  @mixin headline;
  @mixin headline5;

  margin-bottom: 24px;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;
  }
}

.desc {
  @mixin text;
  @mixin textLarge;

  @media (max-width: $tablet-portrait) {
    @mixin textMedium;
  }
}

.selected {
  margin-bottom: 140px;
  grid-template-columns: 630px 600px;

  @media (max-width: $tablet-portrait) {
    margin-bottom: 72px;
    grid-template-columns: 1fr;
  }
}

.containerSelected {
  margin-top: 20px;

  @media (max-width: $tablet-portrait) {
    margin-top: 0;
    margin-left: 24px;
    grid-row-start: 1;
  }
}

.containerInvite {
  margin-left: 210px;

  @media (max-width: $tablet-portrait) {
    margin-left: 24px;
  }
}

@media (max-width: $tablet-portrait) {
  .titleWidth {
    max-width: 330px;
  }

  .containerImg {
    padding-left: 92px;
  }

  .imgSelected {
    grid-row-start: 2;
  }
}
