.button {
  position: relative;
  z-index: 1;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border: 0;
  background-color: var(--beige);
  cursor: pointer;
  font-size: 16px;
  line-height: 14px;
  outline: 0;
  text-transform: uppercase;

  @mixin text;

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--coal);
    content: '';
    transition: width .2s ease-in, transform .1s linear;
  }

  &:hover {
    color: var(--beige);

    &::before {
      width: 100%;
    }
  }

  &:active::before {
    transform: scale(1.075);
  }

  &:disabled {
    cursor: default;
  }

  &:disabled:hover {
    color: var(--coal);

    &::before {
      width: 0;
    }
  }
}

.addon {
  justify-content: space-between;
}

.l.button,
.l.button.addon {
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 18px 16px;

  @mixin textSmall;
}

.secondary {
  background-color: var(--light-green);
}

.transparent {
  background-color: transparent;
}

.leftAddon.button {
  padding-left: 0;
}

.leftAddon.button.l {
  padding-left: 16px;
}

.topLeft {
  padding: 8px 9px 8px 12px;
  border-top: 1px solid var(--coal);
  border-left: 1px solid var(--coal);
}

.topLeft.addon {
  padding: 0 0 6px 9px;
}

.topLeft.addon .label,
.topRight.addon .label {
  padding-top: 5px;
}

.topRight {
  padding: 8px 9px 8px 12px;
  border-top: 1px solid var(--coal);
  border-right: 1px solid var(--coal);
}

.topRight.addon {
  padding: 0 0 6px 9px;
}

.bottomLeft {
  padding: 7px 12px 9px 9px;
  border-bottom: 1px solid var(--coal);
  border-left: 1px solid var(--coal);
}

.bottomLeft.addon {
  padding: 3px 4px 2px 8px;
}

.bottomLeft.addon.leftAddon {
  padding-right: 12px;
  padding-left: 0;
}

.bottomRight {
  padding: 7px 10px 9px 10px;
  border-right: 1px solid var(--coal);
  border-bottom: 1px solid var(--coal);
}

.bottomRight.addon {
  padding: 2px 0 4px 10px;
}

.top {
  border-top: 1px solid var(--coal);
}

.full {
  border: 1px solid var(--coal);
}

.none {
  padding: 4px 4px 7px 4px;
  border: 0;
}

.none.addon {
  padding: 0;
}

.link {
  display: flex;
  width: min-content;
  text-decoration: none;
}
