.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  width: 100%;

  @media (min-width: $mobile-landscape) {
    width: initial;
  }
}

.primary {
  color: var(--white);
  background-color: var(--blue);
}

.secondary {
  color: var(--black);
  background-color: transparent;
  box-shadow: var(--black-15) 0 0 0 1px inset;
}

.s {
  font-size: 12px;
  padding: 10px 16px;
}

.m {
  font-size: 14px;
  padding: 11px 20px;
}

.l {
  font-size: 16px;
  padding: 12px 24px;
}
