.button {
  @mixin text;
  @mixin textButton;
  @mixin textSmallButton;

  position: relative;
  z-index: 1;
  display: grid;
  box-sizing: border-box;
  align-items: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  grid-template-columns: max-content max-content;
  grid-template-rows: 100%;

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--coal);
    content: '';
    transition: width .2s ease-in, transform .1s linear;
  }

  &:hover {
    color: var(--beige);

    &::before {
      width: 100%;
    }
  }

  &:active::before {
    transform: scale(1.075);
  }

  &:disabled {
    cursor: default;
  }

  &:disabled:hover {
    color: var(--coal);

    &::before {
      width: 0;
    }
  }
}

.l.button,
.l.button.addon {
  @mixin textLargeButton;

  align-items: center;
  justify-content: space-between;
  padding: scale(16px 16px 18px 16px);
}

.secondary {
  background-color: var(--light-green);
}

.left.button.addon {
  padding-left: 0;
}

.left.button.l {
  padding-left: scale(16px);
}

.topLeft {
  padding: scale(8px 9px 8px 12px);
  border-top: 1px solid var(--coal);
  border-left: 1px solid var(--coal);
}

.topLeft.addon {
  padding: scale(0 0 6px 9px);
}

.topLeft.addon .label,
.topRight.addon .label {
  padding-top: scale(5px);
}

.topRight {
  padding: scale(8px 9px 8px 12px);
  border-top: 1px solid var(--coal);
  border-right: 1px solid var(--coal);
}

.topRight.addon {
  padding: scale(0 0 6px 9px);
}

.bottomLeft {
  padding: scale(7px 12px 9px 9px);
  border-bottom: 1px solid var(--coal);
  border-left: 1px solid var(--coal);
}

.bottomLeft.addon {
  @media (max-width: 1440px) {
    padding: scale(3px 4px 2px 8px);
  }
}

.bottomLeft.addon.leftAddon {
  padding-right: 12px;
  padding-left: 0;
}

.bottomRight {
  padding: scale(7px 10px 9px 10px);
  border-right: 1px solid var(--coal);
  border-bottom: 1px solid var(--coal);
}

.bottomRight.addon {
  padding: scale(2px 0 4px 10px);
}

.top {
  border-top: 1px solid var(--coal);
}

.full {
  border: 1px solid var(--coal);
}

.none {
  padding: scale(4px 4px 7px 4px);
  border: 0;
}

.none.addon {
  padding: 0;
}

.link {
  display: flex;
  width: min-content;
  text-decoration: none;
}

.back {
  margin: scale(33px 0 0 31px);

  @media (max-width: $tablet-portrait) {
    position: absolute;
    top: scale(30px);
    left: scale(85px);
    margin: 0;
  }
}
