.button {
  width: 100%;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1;

  @media (min-width: $mobile-landscape) {
    width: initial;
  }
}

.primary {
  background-color: var(--blue);
  color: var(--white);
}

.secondary {
  background-color: transparent;
  box-shadow: var(--black-15) 0 0 0 1px inset;
  color: var(--black);
}

.s {
  padding: 10px 16px;
  font-size: 12px;
}

.m {
  padding: 11px 20px;
  font-size: 14px;
}

.l {
  padding: 12px 24px;
  font-size: 16px;
}
