.button {
  position: relative;
  z-index: 1;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border: 0;
  background: var(--beige);
  color: var(--coal);
  cursor: pointer;
  font-family: Formular, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  outline: 0;
  text-transform: uppercase;

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--coal);
    content: '';
    transition: width .2s ease-in, transform .1s linear;
  }

  &:hover {
    color: var(--beige);

    &::before {
      width: 100%;
    }
  }

  &:active::before {
    transform: scale(1.075);
  }
}

.icon {
  position: absolute;
  box-sizing: border-box;
}

.sizeFixed.m {
  width: 210px;
}

.sizeFixed.s {
  width: 155px;
}

.sizeFixed.l {
  width: 240px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 18px 16px;
  line-height: 22px;
}

.l .icon {
  position: initial;
}

.accent {
  background-color: var(--light-green);
}

.button.iconPlaceRight {
  padding-right: 25px;
}

.button.iconPlaceRight.borderNone {
  padding: 4px 31px 7px 0;
}

.button.iconPlaceLeft {
  padding-left: 28px;
}

.borderTopLeft {
  padding: 10px 12px 8px 9px;
  border-top: 1px solid var(--coal);
  border-left: 1px solid var(--coal);
}

.borderTopRight {
  padding: 10px 9px 8px 12px;
  border-top: 1px solid var(--coal);
  border-right: 1px solid var(--coal);
}

.borderBottomLeft {
  padding: 8px 12px 10px 8px;
  border-bottom: 1px solid var(--coal);
  border-left: 1px solid var(--coal);
}

.borderBottomRight {
  padding: 9px 10px;
  border-right: 1px solid var(--coal);
  border-bottom: 1px solid var(--coal);
}

.borderTop {
  border-top: 1px solid var(--coal);
}

.borderFull {
  border: 1px solid var(--coal);
}

.iconPlaceLeft .icon {
  top: 3px;
  left: 0;
}

.iconPlaceLeft.sizeFixed.button {
  justify-content: flex-end;
}

.iconPlaceRight .icon {
  top: 3px;
  right: 0;
}

.iconPlaceRight.borderTopLeft .icon,
.iconPlaceRight.borderNone .icon {
  top: 0;
}

.borderNone {
  border: 0;
}
