@value tablet-portrait from 'shared/styles/media.module.css';

.common {
  position: relative;
  display: flex;
}

.caption {
  @mixin text;

  display: block;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 24px;
}

.field {
  flex: 1;

  @media tablet-portrait {
    display: flex;
    justify-content: space-between;
  }
}

.field-caption {
  composes: caption;

  @media tablet-portrait {
    max-width: 220px;
    margin-right: 16px;
    margin-bottom: 0;
  }
}

.field-hidden-caption {
  composes: field;

  .field-caption {
    @mixin visually-hidden;
  }
}

.field-control {
  @media tablet-portrait {
    flex-grow: 1;
  }
}

.list {
  min-width: 0;
  padding: 0;
  border: 0;
  margin: 0;
}

.list-caption {
  @mixin text;

  composes: caption;
  display: block;
  margin: 0 0 16px;
  font-size: 20px;
  line-height: 24px;
}

.list-addon {
  padding: 0 8px;
  margin: 8px 0 0;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: stretch;
}

.horizontal {
  composes: common;
  align-items: flex-end;

  .field:not(:last-child),
  .list:not(:last-child) {
    margin-right: 30px;
  }
}

.vertical {
  composes: common;
  flex-direction: column;

  .field:not(:last-child),
  .list:not(:last-child) {
    margin-bottom: 56px;
  }
}
