.section {
  display: flex;
  flex-direction: column;
  padding-top: 99px;
  background: var(--white);
}

.contentTop {
  display: flex;
  margin-bottom: 102px;
}

.contentTopTitle {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-right: 180px;
}

.imageTitle {
  width: 360px;
  margin-right: 180px;
  margin-left: 180px;
  object-fit: contain;
}

.title {
  @mixin headline;

  font-size: 72px;
  line-height: 70px;
}

.text {
  @mixin textLarge;
  @mixin text;

  padding-left: 62px;
  margin-top: 37px;
}

.text1 {
  @mixin headline;
  @mixin headline5;

  max-width: 60.35vw;
  margin-bottom: 57px;
  margin-left: 12.5vw;
}

.text2 {
  @mixin textLarge;
  @mixin text;

  max-width: 49.93vw;
  margin-right: auto;
  margin-bottom: 102px;
  margin-left: auto;
}

.link {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    background-color: var(--coal);
    color: var(--beige);
  }
}

.contentBottom {
  display: flex;
  justify-content: space-around;
  margin-bottom: 89px;
}

.image {
  width: 43.75vw;
  height: 342px;
  object-fit: contain;
}

.imageBottom {
  width: 43.75vw;
  height: 478px;
  padding-bottom: 250px;
  object-fit: contain;
}

@media (max-width: $tablet-portrait) {
  .section {
    margin-top: 56px;
  }

  .title {
    @mixin headline4;
  }

  .contentTop {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 56px;
  }

  .imageTitle {
    width: 88.41vw;
    margin-top: 56px;
    margin-right: 0;
    margin-left: 0;
  }

  .contentTopTitle {
    padding: 0;
    margin-right: 24px;
    margin-left: 24px;
  }

  .text {
    padding-left: 31px;
    margin-top: 24px;
  }

  .text1 {
    @mixin headline6;

    max-width: 88.16vw;
    margin-right: auto;
    margin-bottom: 42px;
    margin-left: auto;
  }

  .text2 {
    max-width: 88.16vw;
    margin-bottom: 56px;
  }

  .contentBottom {
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-bottom: 36px;
    margin-left: auto;
  }

  .image {
    width: 88.4vw;
    height: 199px;
    margin-bottom: 20px;
  }

  .imageBottom {
    max-width: 88.4vw;
    height: 239px;
    padding-bottom: 100px;
  }
}
