.container {
  display: grid;
  box-sizing: border-box;
  padding-top: scale(123px);
  gap: scale(51px);

  @media (max-width: $tablet-portrait) {
    padding-top: scale(34px);
    padding-bottom: scale(100px);
    padding-left: scale(24px);
    gap: scale(33px);
  }
}

.title {
  @mixin headline;
  @mixin headline4;

  position: relative;
  width: scale(606px);
  margin-right: 35%;
  justify-self: end;

  &::after {
    position: absolute;
    bottom: scale(100px);
    left: scale(600px);
    display: block;
    width: scale(152px);
    height: scale(152px);
    box-sizing: border-box;
    border: 1px solid var(--coal);
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 100% 100%;
    content: "";
  }

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    max-width: 16ch;
    padding: 0;
    margin: 0;
    grid-row: 2;
    justify-self: auto;

    &::after {
      display: none;
    }
  }
}

.image {
  width: scale(930px);
  height: 100%;

  @media (max-width: $tablet-portrait) {
    width: scale(390px);
  }
}
