.page {
  display: grid;
  box-sizing: border-box;
  margin: -1rem;
  gap: 51px;

  @media (max-width: $tablet-portrait) {
    padding: 34px 0 100px 24px;
    gap: 33px;
  }
}

.title {
  @mixin headline;
  @mixin headline4;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    max-width: 323px;
    grid-row: 2;
  }
}

.image-conatiner {
  width: 100%;
  max-width: 930px;

  @media (max-width: $tablet-portrait) {
    max-width: 390px;
  }
}

.image {
  width: 100%;
  height: 100%;
}
