.page {
  display: grid;
  max-width: var(--page-content-max-width);
  box-sizing: border-box;
  padding-top: 123px;
  margin: 0 auto; /* Выровнял как header */
  gap: 51px;

  @media (max-width: $tablet-portrait) {
    padding: 34px 0 100px 24px;
    gap: 33px;
  }
}

.title {
  @mixin headline;
  @mixin headline4;

  position: relative;
  max-width: 606px;
  margin-right: 35%;
  justify-self: end;

  &::after {
    position: absolute;
    top: -100px;
    right: -140px;
    display: block;
    width: 152px;
    height: 152px;
    box-sizing: border-box;
    border: 1px solid var(--coal);
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 100% 100%;
    content: "";
  }

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    max-width: 323px;
    padding: 0;
    margin: 0;
    grid-row: 2;
    justify-self: auto;

    &::after {
      display: none;
    }
  }
}

.image-conatiner {
  width: 100%;
  max-width: 930px;

  @media (max-width: $tablet-portrait) {
    max-width: 390px;
  }
}

.image {
  width: 100%;
  height: 100%;
}
