.page {
  padding-top: 65px;
  padding-right: scale(120px);
  padding-bottom: 165px;
  padding-left: scale(120px);

  @media (max-width: $tablet-portrait) {
    padding: 0;
    background-color: var(--white);
  }
}

.buttonWrapper {
  @media (max-width: $tablet-portrait) {
    position: absolute;
    top: scale(32px);
    left: scale(85px);
  }
}

.topWrapper {
  @media (max-width: $tablet-portrait) {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

.formWrapper {
  max-width: scale(507px);

  @media (max-width: $tablet-portrait) {
    order: 1;
    padding-right: scale(24px);
    padding-bottom: scale(30px);
    padding-left: scale(24px);
  }
}

.info {
  @mixin headline;
  @mixin headline3;

  max-width: scale(740px);
  padding-top: 30px;
  padding-bottom: 25px;

  @media (max-width: $tablet-portrait) {
    order: 2;
    padding-top: scale(24px);
    padding-right: scale(24px);
    padding-bottom: 0;
    padding-left: scale(24px);
    background-color: var(--beige);
  }
}

.result {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 66px;
  margin-left: calc(scale(24px) * -1);
  column-gap: scale(70px);

  @media (max-width: $tablet-portrait) {
    flex-direction: column;
    margin: 0;
  }
}

.pieces {
  width: scale(828px);

  @media (max-width: $tablet-portrait) {
    width: 100%;
    order: 2;
    padding-top: scale(100px);
    padding-bottom: scale(100px);
    background-color: var(--beige);
  }
}

.authors {
  flex-grow: 2;

  @media (max-width: $tablet-portrait) {
    width: 100%;
    order: 1;
    padding-top: scale(54px);
    padding-right: scale(87px);
    padding-bottom: 0;
    padding-left: scale(87px);
    background-color: var(--beige);
  }
}

.authorsList {
  padding: 0;
  margin: 0;
  list-style: none;
}
