.pageWrapper {
  @media (max-width: $tablet-portrait) {
    background: linear-gradient(to bottom, var(--white) scale(100px), transparent scale(100px) 100%);
  }
}

.page {
  padding-top: scale(65px);
  padding-right: scale(120px);
  padding-bottom: scale(165px);
  padding-left: scale(120px);

  @media (max-width: $tablet-portrait) {
    padding: 0;
    background-color: var(--white);
  }
}

.buttonWrapper {
  @media (max-width: $tablet-portrait) {
    position: absolute;
    top: scale(32px);
    left: scale(85px);
  }
}

.topWrapper {
  @media (max-width: $tablet-portrait) {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

.formWrapper {
  max-width: scale(507px);

  @media (max-width: $tablet-portrait) {
    order: 1;
    padding-right: scale(24px);
    padding-bottom: scale(30px);
    padding-left: scale(24px);
  }
}

.info {
  @mixin headline;
  @mixin headline3;

  max-width: scale(740px);
  padding-top: scale(30px);
  padding-bottom: scale(25px);

  @media (max-width: $tablet-portrait) {
    order: 2;
    padding-top: scale(24px);
    padding-right: scale(24px);
    padding-bottom: 0;
    padding-left: scale(24px);
    background-color: var(--beige);
  }
}

.noResult {
  @mixin text;
  @mixin textLarge;

  margin-top: scale(33px);

  @media (max-width: $tablet-portrait) {
    display: none;
  }
}

.noResultMobile {
  display: none;

  @media (max-width: $tablet-portrait) {
    @mixin text;
    @mixin textLarge;

    display: block;
    order: 3;
    padding-top: 30px;
    padding-left: scale(60px);
    background-color: var(--beige);
  }
}

.result {
  display: flex;
  flex-wrap: nowrap;
  margin-top: scale(66px);
  margin-left: calc(scale(24px) * -1);
  column-gap: scale(70px);

  @media (max-width: $tablet-portrait) {
    flex-direction: column;
    margin: 0;
  }
}

.pieces {
  width: scale(828px);

  @media (max-width: $tablet-portrait) {
    display: none;
  }
}

.piecesMobile {
  display: none;

  @media (max-width: $tablet-portrait) {
    display: grid;
    width: 100%;
    order: 2;
    padding-top: scale(100px);
    padding-right: scale(85px);
    padding-bottom: scale(100px);
    padding-left: scale(85px);
    background-color: var(--beige);
    row-gap: scale(48px);
  }
}

.authors {
  flex-grow: 2;

  @media (max-width: $tablet-portrait) {
    width: 100%;
    order: 1;
    padding-top: scale(54px);
    padding-right: scale(87px);
    padding-bottom: 0;
    padding-left: scale(87px);
    background-color: var(--beige);
  }
}

.authorsList {
  padding: 0;
  margin: 0;
  list-style: none;
}
