.title {
  @mixin headline;
}

.address {
  font-style: normal;
}

.link {
  color: inherit;

  &:hover {
    background-color: var(--coal);
    color: var(--beige);
  }
}

.contacts {
  .title {
    @mixin headline4;

    margin-bottom: 16px;
  }

  .description {
    @mixin text;
    @mixin textLarge;

    max-width: 390px;
    margin-left: 60px;
  }

  .call-to-action {
    @mixin headline;
    @mixin headline6;

    margin-top: 24px;
  }
}

.author {
  padding-left: 25px;

  .asterisk {
    display: flex;
    width: 25px;
    height: 25px;
    transform: translateX(-25px);
  }

  .description,
  .call-to-action {
    @mixin headline;
    @mixin headline7;

    display: inline;
  }
}

.blog {
  .description,
  .call-to-action {
    @mixin text;
    @mixin textSmall;

    display: inline;

    @media (max-width: $tablet-portrait) {
      @mixin textLarge;
    }
  }
}
