.title {
  @mixin headline;
}

.address {
  font-style: normal;
}

.link {
  color: inherit;

  &:hover {
    background-color: var(--coal);
    color: var(--beige);
  }
}

.contacts {
  .title {
    @mixin headline4;

    margin-bottom: scale(16px);
  }

  .description {
    @mixin text;
    @mixin textLarge;

    max-width: scale(390px);
    margin-left: scale(60px);
  }

  .call-to-action {
    @mixin headline;
    @mixin headline6;

    margin-top: scale(24px);
  }
}

.author {
  padding-left: scale(25px);

  .asterisk {
    display: flex;
    width: scale(25px);
    height: scale(25px);
    transform: translateX(scale(-25px));
  }

  .description,
  .call-to-action {
    @mixin headline;
    @mixin headline7;

    display: inline;
  }
}

.blog {
  .description,
  .call-to-action {
    @mixin text;
    @mixin textSmall;

    display: inline;

    @media (max-width: $tablet-portrait) {
      @mixin textLarge;
    }
  }
}
