.section {
  max-width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--light-green);
  color: var(--coal);
}

.container {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;

  @media (max-width: $tablet-portrait) {
    padding-left: 27px;
  }
}

.title {
  @mixin headline;
  @mixin headline2;

  padding: 125px 0 0 50%;
  margin: 0;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    padding: 56px 0 0;
  }
}

.yearsContainer {
  padding-top: 46.5px;
  margin: 0;

  @media (max-width: $tablet-portrait) {
    padding: 36.5px 0 0;
  }
}

.infoBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 149px;
  margin: 69px 0 0 213px;

  @media (max-width: $tablet-portrait) {
    padding-bottom: 150px;
    margin: 69px 22px 0 0;
  }
}

.asterisk {
  margin: 0;
}

.info {
  @mixin text;
  @mixin textLarge;

  max-width: 426px;
  margin-left: 25px;
}

.indent {
  margin: 0 5px;
}
