.textFieldComponent {
  max-width: 360px;

  @media (min-width: $mobile-landscape) {
    max-width: 365px;
  }
}

.textField {
  @mixin text;
  @mixin textSmall;

  position: relative;
  width: 100%;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid var(--coal);
  margin: 0;
  outline: none;

  /* Атрибут placeholder выводит текст внутри поля формы, который исчезает при получении фокуса.
 Вендорные префиксы убраны, потому что их ставит автопрефиксер */

  &:focus::placeholder {
    color: transparent;
  }
}

.error {
  @mixin text;
  @mixin textCaption;

  position: absolute;
  top: 4px;
  left: 0;
  margin-bottom: 4px;
  background: var(--beige);
  color: var(--red);

  &:last-of-type {
    margin-bottom: 0;
  }
}
