/* добавить глобальные переменные */

.container {
  position: relative;
  line-height: 0;
}

.containerVolunteer {
  width: 180px;

  @media (max-width: $mobile-landscape) {
    width: 213px;
  }
}

.containerParticipant {
  width: 213px;
}

.imgVolunteer {
  width: 100%;
  height: 228px;
  object-fit: cover;

  @media (max-width: $mobile-landscape) {
    height: 265px;
  }
}

.imgParticipant {
  width: 100%;
  height: 265px;
  object-fit: cover;
}

.comment {
  position: absolute;
  top: 170px;
  left: 14px;
  display: flex;
  width: 45px;
  height: 45px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  background-color: #fff; /* var(--beige); */
  border-radius: 50%;
  cursor: pointer;
  transition: width 400ms cubic-bezier(.6, 0, .5, 1), height 400ms cubic-bezier(.6, 0, .5, 1), top 400ms cubic-bezier(.6, 0, .5, 1), left 400ms cubic-bezier(.6, 0, .5, 1);

  @media (max-width: $mobile-landscape) {
    top: 208px;
    left: 16px;
  }
}

.comment:focus-visible {
  outline: none;
}

.comment:hover {
  top: 165px;
  left: 9px;
  width: 55px;
  height: 55px;

  @media (max-width: $mobile-landscape) {
    top: 203px;
    left: 11px;
  }
}

.name {
  display: -webkit-box;
  overflow: hidden;
  margin: 16px 0 0 0;
  -webkit-box-orient: vertical;
  color: var(--coal);
  font-family: 'PP Neue Machina', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  -webkit-line-clamp: 2;
  line-height: 24px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  @media (max-width: $mobile-landscape) {
    font-size: 28px;
    line-height: 32px;
  }
}

.about {
  display: -webkit-box;
  overflow: hidden;
  margin: 8px 0 0 35px;
  -webkit-box-orient: vertical;
  color: var(--coal);
  font-family: 'Formular', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  -webkit-line-clamp: 4;
  line-height: 22px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
