/* добавить глобальные переменные */

.container_volunteer {
  width: 180px;
}

.container_participant {
  width: 213px;
}

.img_container_volunteer {
  position: relative;
  height: 228px;
}

.img_container_participant {
  height: 265px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment {
  position: absolute;
  bottom: 14px;
  left: 14px;
  display: flex;
  width: 45px;
  height: 45px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  background-color: #ecebe8;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.comment:focus-visible {
  outline: none;
}

.comment:hover {
  bottom: 9px;
  left: 9px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.name {
  overflow: hidden;
  margin: 16px 0 0 0;
  color: #242424;
  font-family: 'PP Neue Machina', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  text-overflow: ellipsis;
}

.about {
  overflow: hidden;
  margin: 8px 0 0 35px;
  color: #242424;
  font-family: 'Formular', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  text-overflow: ellipsis;
}

@media (max-width: 414px) {
  .container_volunteer {
    width: 213px;
  }

  .img_container_volunteer {
    position: relative;
    height: 265px;
  }

  .name {
    max-height: 64px;
    font-size: 28px;
    line-height: 32px;
  }
}
