.section {
  box-sizing: border-box;
}

.title {
  @mixin headline;
  @mixin headline4;

  width: scale(568px);
  margin-left: scale(362px);

  @media (max-width: 728px) {
    @mixin headline6;
  }
}

.video {
  .title {
    width: scale(589px);
    margin-top: scale(98px);
    margin-bottom: scale(45px);

    @media (max-width: 728px) {
      width: scale(369px);
      margin: scale(100px 24px 33px 24px);
    }
  }
}

.photo {
  .title {
    margin-top: scale(145px);
    margin-bottom: scale(42px);

    @media (max-width: 728px) {
      width: scale(369px);
      margin: scale(100px 24px 33px 24px);
    }
  }
}

.performances {
  .title {
    margin-top: scale(122px);
    margin-bottom: scale(75px);

    @media (max-width: 728px) {
      width: scale(369px);
      margin: scale(100px 24px 33px 24px);
    }
  }
}

.plays {
  .title {
    width: scale(358px);
    margin-top: scale(93px);
    margin-bottom: scale(48px);

    @media (max-width: 728px) {
      width: scale(369px);
      margin: scale(100px 24px 33px 24px);
    }
  }
}

.person {
  .title {
    width: scale(358px);
    margin-top: scale(123px);
    margin-bottom: scale(58px);

    @media (max-width: 728px) {
      width: scale(369px);
      margin: scale(100px 24px 33px 24px);
    }
  }
}

.cooperation {
  display: flex;
  width: scale(520px);
  flex-direction: column;
  align-self: self-end;
  margin-top: scale(74px);
  margin-right: scale(222px);
  margin-bottom: scale(169px);

  @media (max-width: 728px) {
    width: scale(340px);
    margin: scale(50px 25px 100px 25px);
  }
}

.through-block {
  display: grid;
  padding: scale(100px 270px 141px 360px);
  margin-top: scale(112px);
  background-color: var(--light-green);
  grid-template-areas:
    "title title"
    "desc btn";

  .title {
    margin: 0;
    grid-area: title;
  }

  .desc {
    @mixin text;
    @mixin textLarge;

    max-width: scale(410px);
    margin-top: scale(20px);
    margin-right: scale(100px);
    grid-area: desc;
  }

  @media (max-width: $tablet-portrait) {
    padding: scale(55px 25px 72px);
    margin-top: scale(100px);
    grid-template-areas:
      "title"
      "desc"
      "btn";

    .desc {
      max-width: scale(304px);
      margin-top: scale(16px);
      margin-left: scale(60px);
    }

    .title {
      max-width: scale(303px);
    }
  }
}

.button {
  width: scale(298px);
  height: scale(56px);
  align-self: center;
  grid-area: btn;

  @media (max-width: $tablet-portrait) {
    margin-top: scale(16px);
    margin-left: scale(60px);
  }
}
