.menu {
  padding: 0;
  margin: 0;
  column-count: 2;
  column-gap: scale(56px);

  @media (max-width: $tablet-portrait) {
    column-gap: scale(16px);
  }
}

.item {
  display: block;

  &:not(:first-child) {
    margin-top: scale(15px);

    @media (max-width: $tablet-portrait) {
      margin-top: scale(13px);
    }
  }
}

.link {
  @mixin text;
  @mixin textCaption;

  background-image: linear-gradient(var(--coal), var(--coal));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  text-decoration: none;
  transition: background-size .5s;

  &:hover {
    background-size: 100% 1px;
  }
}
