.menu {
  padding: 0;
  margin: 0;
  column-count: 2;
  column-gap: 56px;

  @media (max-width: $tablet-portrait) {
    column-gap: 16px;
  }
}

.item {
  display: block;

  &:not(:first-child) {
    margin-top: 15px;

    @media (max-width: $tablet-portrait) {
      margin-top: 13px;
    }
  }
}

.link {
  @mixin text;
  @mixin textCaption;

  position: relative;
  color: inherit;
  text-decoration: none;

  &:hover::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    animation: underline .5s;
    background-color: var(--coal);
    content: "";
    transform-origin: 0;
  }
}

@keyframes underline {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
