.menu {
  padding: 0;
  margin: 0;
}

.item {
  display: block;

  &:not(:first-child) {
    margin-top: scale(15px);

    @media (max-width: $tablet-portrait) {
      margin-top: scale(13px);
    }
  }
}

.link {
  @mixin text;

  position: relative;
  text-decoration: none;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: scale(1px);
    background-color: var(--coal);
    content: "";
    transition: width .5s ease-in;
  }

  &:hover::after {
    width: 100%;
  }
}
