.menu {
  padding: 0;
  margin: 0;
}

.item {
  display: block;

  &:not(:first-child) {
    margin-top: 15px;

    @media (max-width: $tablet-portrait) {
      margin-top: 13px;
    }
  }
}

.link {
  @mixin text;
  @mixin textCaption;

  background-image: linear-gradient(var(--coal), var(--coal));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  color: var(--coal);
  text-decoration: none;
  transition: background-size .5s;

  &:hover {
    background-size: 100% 1px;
  }
}
