.menu {
  display: flex;
  overflow: auto;
  padding: scalesize(0);
  margin: scalesize(0);
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: scalesize(0);
  }
}

.item {
  display: block;
  margin-right: scalesize(24px);
}

.link {
  @mixin text;
  @mixin textSmall;

  display: flex;
  align-items: flex-start;
  text-decoration: none;
  white-space: nowrap;

  &::before,
  &::after {
    display: block;
    width: .6em;
    height: 1.6em;
    box-sizing: border-box;
    border: scalesize(1px) solid currentColor;
    content: '';
    visibility: hidden;

    @media (min-width: $desktop) {
      width: scalesize(10px);
      height: scalesize(24px);
    }
  }

  &::before {
    border-right: scalesize(0);
    border-bottom-left-radius: 200% 100%;
    border-top-left-radius: 200% 100%;
  }

  &::after {
    border-left: scalesize(0);
    border-bottom-right-radius: 200% 100%;
    border-top-right-radius: 200% 100%;
  }

  &:hover {
    &::before,
    &::after {
      visibility: visible;
    }
  }

  @media (max-width: $tablet-portrait) {
    @mixin headline;
    @mixin headline6;
  }
}
