.menu {
  display: flex;
  padding: 0;
  margin: 0;
}

.item {
  display: block;

  &:not(:last-child) {
    margin-right: calc(var(--vw-multiplier-tablet-portrait) * 40);
  }
}

.link {
  @mixin textNeueMachina;
  @mixin textSuperLarge;

  display: flex;
  align-items: flex-start;
  color: var(--coal);
  text-decoration: none;
  white-space: nowrap;

  &::before,
  &::after {
    display: block;
    width: .6em;
    height: 1.6em;
    box-sizing: border-box;
    border: 1px solid currentColor;
    content: "";
    visibility: hidden;

    @media (min-width: 1440px) {
      width: 16px;
      height: 41px;
    }
  }

  &::before {
    border-right: 0;
    border-bottom-left-radius: 200% 100%;
    border-top-left-radius: 200% 100%;
  }

  &::after {
    border-left: 0;
    border-bottom-right-radius: 200% 100%;
    border-top-right-radius: 200% 100%;
  }

  &:hover {
    &::before,
    &::after {
      visibility: visible;
    }
  }
}
