.menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-portrait) {
    @mixin hide-scrollbars;

    overflow-y: auto;
  }
}

.item {
  display: block;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.link {
  @mixin headline;
  @mixin headline6;

  display: flex;
  align-items: center;
  color: var(--coal);
  opacity: .2;
  text-decoration: none;
  white-space: nowrap;

  &::before,
  &::after {
    display: block;
    width: .6em;
    height: 1.5em;
    box-sizing: border-box;
    border: 1px solid currentColor;
    content: "";
    visibility: hidden;
  }

  &::before {
    border-right: 0;
    border-bottom-left-radius: 200% 100%;
    border-top-left-radius: 200% 100%;
  }

  &::after {
    border-left: 0;
    border-bottom-right-radius: 200% 100%;
    border-top-right-radius: 200% 100%;
  }

  &:hover {
    opacity: 1;

    &::before,
    &::after {
      visibility: visible;
    }
  }
}

.current {
  .link {
    opacity: 1;

    &::before,
    &::after {
      visibility: visible;
    }
  }
}
