.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
}

.link {
  @mixin text;
  @mixin textSmall;

  display: flex;
  align-items: flex-start;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;

  &::before,
  &::after {
    display: block;
    width: .6em;
    height: 1.6em;
    box-sizing: border-box;
    border: scale(1px) solid currentColor;
    content: '';
    visibility: hidden;
  }

  &::before {
    border-right: 0;
    border-bottom-left-radius: 200% 100%;
    border-top-left-radius: 200% 100%;
  }

  &::after {
    border-left: 0;
    border-bottom-right-radius: 200% 100%;
    border-top-right-radius: 200% 100%;
  }
}

.current .link,
.link:hover {
  &::before,
  &::after {
    visibility: visible;
  }
}
