.menu {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 0;
  border-top: 1px solid var(--coal);
  margin: 0;
  grid-template-columns: repeat(2, 1fr);
}

.item {
  display: block;
  width: 50%;
  box-sizing: border-box;
  border-bottom: 1px solid var(--coal);

  &:nth-child(even) {
    border-right: 1px solid var(--coal);
  }

  &.highlighted {
    width: 100%;
  }
}

.link {
  @mixin text;
  @mixin textSmall;

  display: flex;
  padding: 15px;
  color: var(--coal);
  place-content: center space-between;
  text-decoration: none;
  text-transform: lowercase;
  white-space: nowrap;

  &:active {
    background-color: var(--coal);
    color: var(--beige);
  }
}
