.menu {
  display: flex;
  padding: 0;
  margin: 0;
}

.item {
  display: block;

  &:not(:last-child) {
    margin-right: scalesize(16px);
  }
}

.link {
  @mixin text;

  display: block;
  color: var(--coal);
  font-size: scalesize(16px);
  line-height: scalesize(18px);
  text-decoration: none;
  white-space: nowrap;
}
