.layout {
  margin: scale(58px 0 234px 0);

  @media (max-width: $tablet-portrait) {
    margin: scale(22px 24px 0);
  }
}

.title {
  @mixin headline;
  @mixin headline1;

  margin: scale(0 108px 110px 720px);

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    margin: scale(0 43px 24px 0);
  }
}

.projectList {
  display: flex;
  flex-wrap: wrap;
}
