html {
  font-size: calc(100vw / 1440 * 16);

  @media (max-width: $tablet-portrait) {
    font-size: calc(100vw / 414 * 16);
  }
}

body {
  margin: 0;
  background-color: var(--beige);
  font-family: Formular, sans-serif;
  font-style: normal;
  font-weight: 300;
}

:root {
  --height-navbar-tablet-portrait: $height-navbar-tablet-portrait;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}
