:root {
  --true-black: #000;
  --true-black-60: rgba(0, 0, 0, .6);
  --white: #fff;
  --black: #333;
  --black-15: rgba(51, 51, 51, .15);
  --blue: #1ea7fd;
  --coal: #242424;
  --beige: #ecebe8;
  --light-green: #b7c09d;
  --red: rgba(235, 87, 87, 1);
}
