@value tablet-portrait from "shared/styles/media.module.css";

.common {
  position: relative;
  display: grid;
  column-gap: 30px;
  grid-template-columns: 330px 1fr;
  isolation: isolate;

  --height-library-navigation-menu-tablet-portrait: 80px;

  @media tablet-portrait {
    grid-template-columns: 100%;
  }

  &::before {
    position: sticky;
    z-index: 2;
    top: var(--height-navbar-tablet-portrait);
    display: block;
    height: var(--height-library-navigation-menu-tablet-portrait);
    margin-bottom: calc(-1 * var(--height-library-navigation-menu-tablet-portrait));
    background-color: var(--beige);
    content: "";
    grid-area: backdrop;
  }
}

.heading {
  padding: 60px 0 20px;
  grid-area: heading;

  @media tablet-portrait {
    padding: 0 24px;
    background-color: var(--white);
  }
}

.title {
  @mixin headline;
  @mixin headline1;

  position: relative;
  z-index: 3;
  margin: 0 0 16px;
  text-align: center;

  @media tablet-portrait {
    @mixin headline4;

    z-index: auto;
    margin-bottom: 8px;
    text-align: left;
  }
}

.search {
  position: sticky;
  z-index: 3;
  padding: 0 30px 0 0;
  grid-area: search;

  @media tablet-portrait {
    position: static;
    z-index: auto;
    padding: 0 24px;
    background-color: var(--white);
  }
}

.navigation {
  position: sticky;
  z-index: 3;
  top: var(--height-navbar-tablet-portrait);
  display: flex;
  height: var(--height-library-navigation-menu-tablet-portrait);
  padding: 0 0 0 30px;
  grid-area: navigation;

  @media tablet-portrait {
    z-index: 1;
    top: 0;
    border-bottom: 1px solid var(--coal);
    background-color: var(--white);
  }
}

.content {
  z-index: 1;
  grid-area: content;

  @media tablet-portrait {
    z-index: auto;
  }
}

.pagination {
  position: sticky;
  z-index: 3;
  top: calc(var(--height-navbar-tablet-portrait) + var(--height-library-navigation-menu-tablet-portrait));
  display: flex;
  border-bottom: 1px solid var(--coal);
  margin: 20px 0 52px;
  background-color: var(--beige);
  grid-area: pagination;
  place-content: center;

  @media tablet-portrait {
    @mixin hide-scrollbars;

    top: var(--height-library-navigation-menu-tablet-portrait);
    display: block;
    margin: 0 0 56px;
    background-color: var(--white);
    overflow-x: auto;
  }
}

.authors {
  composes: common;
  grid-template-areas:
    "backdrop   backdrop"
    "navigation heading"
    ".          heading"
    ".          search"
    "pagination pagination"
    "content    content";
  grid-template-rows: repeat(5, auto) 1fr;

  @media tablet-portrait {
    grid-template-areas:
      "heading"
      "search"
      "navigation"
      "pagination"
      "content";
  }

  .search {
    top: calc(var(--height-navbar-tablet-portrait) + 24px);
    max-width: 580px;
  }
}

.plays {
  composes: common;
  grid-template-areas:
    "backdrop   backdrop"
    "navigation heading"
    "filter    heading"
    "filter    search"
    "filter    content";
  grid-template-rows: repeat(4, auto) 1fr;

  @media tablet-portrait {
    grid-template-areas:
      "heading"
      "search"
      "navigation"
      "filter"
      "content";
  }

  .search {
    top: calc(var(--height-navbar-tablet-portrait) + 48px);
  }

  .navigation {
    box-sizing: border-box;
    border-bottom: 1px solid var(--coal);

    @media tablet-portrait {
      border: 0;
    }
  }

  .filter {
    @mixin hide-scrollbars;

    position: sticky;
    top: calc(var(--height-navbar-tablet-portrait) + var(--height-library-navigation-menu-tablet-portrait));
    height: calc(100vh - var(--height-navbar-tablet-portrait) - var(--height-library-navigation-menu-tablet-portrait));
    box-sizing: border-box;
    align-self: flex-start;
    padding: 30px 0 30px 30px;
    grid-area: filter;
    overflow-y: auto;

    @media tablet-portrait {
      position: sticky;
      z-index: 1;
      top: 9.8%;
      height: auto;
      padding: 8px 24px;
      background-color: var(--white);
    }
  }

  .content {
    padding-right: 28px;
    margin-top: 56px;

    @media tablet-portrait {
      padding: 0;
      margin-top: 0;
    }
  }
}

.filter-toggler {
  position: fixed;
  z-index: 2;
  top: 32px;
  right: 24px;
  width: 44px;
  height: 44px;
  border: 0;
  background-color: var(--light-green);
  font-size: 0;
}
