.page {
  width: 100%;
  background-color: var(--white);
}

.author {
  max-width: 1440px;
  margin: 0 auto;
}

.personalInfo {
  display: grid;
  border: 1px solid var(--red);
  background-color: var(--beige);
  grid-template-columns: 180px 550px 620px;
  grid-template-rows: auto;
}

.plays {
  padding: 134px 60px;
  background-color: var(--beige);
}

.anotherPlays {
  display: grid;
  padding: 85px 120px;
  grid-template-columns: 448px 748px;
  grid-template-rows: auto;
}

.information {
  display: grid;
  padding: 85px 120px;
  grid-template-columns: 448px 748px;
  grid-template-rows: auto;
}

.request {
  display: grid;
  padding: 64px 77px;
  background-color: var(--beige);
  grid-auto-flow: dense;
  grid-template-columns: repeat(1, 2fr);
  justify-items: end;
}

/* Конец блоков секций */

.button {
  border: 1px solid var(--red);
}

.photo {
  width: 275px;
  height: 355px;
  border: 1px solid var(--red);
}

.info {
  border: 1px solid var(--red);
}

.fullName {
  max-width: 1440px;
  border: 1px solid var(--red);
}

.city {
  border: 1px solid var(--red);
}

.name {
  border: 1px solid var(--red);
}

.quote {
  border: 1px solid var(--red);
}

.overviewBlock {
  border: 1px solid var(--red);
}

.overviewContacts {
  border: 1px solid var(--red);
}

.heading {
  @mixin headline;
  @mixin headline4;

  max-width: 490px;
}

.blocks {
  padding: 0;
  margin: 70px 0 0;
  list-style-type: none;
}

.blocksInfo {
  padding: 0;
  margin: 124px 0 0;
  list-style-type: none;
}

.block {
  display: flex;
  width: 751px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid var(--coal);
}

.downloadButton {
  margin: 15px 0 0;
}

.paragraph {
  @mixin headline;
  @mixin headline6;

  max-width: 500px;
  margin: 16px 0 25px;
}

.anchor {
  @mixin text;
  @mixin textLarge;

  margin: 4px 6px 24px;
  font-feature-settings: 'ss01' on;
  text-decoration: none;
}

.arrowIcon {
  margin: 10px 0 0;
}

.footnote {
  @mixin text;
  @mixin textLarge;

  max-width: 400px;
  font-feature-settings: 'ss01' on;
}

.asterisk {
  margin: 0 -22px 0;
}
