.wrapper {
  position: relative;
  width: 100%;
  height: scale(294px);

  @media (max-width: $tablet-portrait) {
    order: 1;
  }

  @media (max-width: $tablet-portrait) {
    height: scale(367px);
  }
}

.main {
  display: block;

  @media (max-width: $tablet-portrait) {
    display: grid;
    grid-template-areas:
      "firstScreen"
      "title"
      "events"
      "aside"
      "banners"
      "platforms"
      "shortList"
      "archive"
      "partners";
  }
}
