.main {
  display: block;

  @media (max-width: $tablet-portrait) {
    display: grid;
    grid-template-areas:
      "firstScreen"
      "title"
      "events"
      "aside"
      "banners"
      "platforms"
      "shortList"
      "archive"
      "partners";
  }
}
