.marginTop {
  margin-top: calc(-100vh + scale(61px));
  transition: all .8s;

  @media (max-width: $tablet-portrait) {
    margin-top: calc(-100vh + scale(91px));
  }
}

.background {
  @mixin background;

  height: calc(45vh - scale(123px));

  @media (max-width: $tablet-portrait) {
    order: 1;
    height: calc(55vh - scale(126px));
  }
}

.main {
  display: block;

  @media (max-width: $tablet-portrait) {
    display: grid;
    grid-template-areas:
      "firstScreen"
      "title"
      "events"
      "aside"
      "banners"
      "platforms"
      "shortList"
      "archive"
      "partners";
  }
}

.wrapper {
  margin-top: -100vh;
  grid-area: title;

  @media (max-width: $tablet-portrait) {
    margin-top: 0;
  }
}
