.main {
  position: relative;
  display: grid;
  overflow: hidden;
  width: 100%;
  min-width: 414px;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  grid-template-areas:
    "title ."
    "events ."
    "banners ."
    "platforms ."
    "shortList ."
    "archive archive";
  grid-template-columns: minmax(500px, 1108px) 1fr;
  grid-template-rows: repeat(6, max-content);

  @media screen and (max-width: $laptop) {
    grid-template-areas:
      "title"
      "events"
      "aside"
      "banners"
      "platforms"
      "shortList"
      "archive";
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, max-content);
  }
}
