.banner {
  padding: scale(20px 0 50px 56px);

  @media (max-width: $tablet-portrait) {
    padding: scale(16px 0 24px 0);
  }
}

.title {
  @mixin headline;
  @mixin headline6;

  max-width: scale(570px);
  margin-bottom: scale(30px);

  @media (max-width: $tablet-portrait) {
    max-width: scale(350px);
    margin-bottom: scale(16px);
  }
}

.container {
  display: flex;
  max-height: scale(300px);
  justify-content: space-between;
  transition: all .4s ease-out;

  @media (max-width: $tablet-portrait) {
    display: grid;
    max-height: scale(452px);
    transition: all .6s ease-out;
    justify-content: initial;
  }
}

.desc {
  @mixin text;
  @mixin textLarge;

  min-width: scale(318px);
  max-width: scale(384px);
  margin: 0 scale(62px 24px 62px);

  @media (max-width: $tablet-portrait) {
    @mixin textMedium;

    max-width: scale(318px);
    margin: 0;
    margin-bottom: scale(28px);
  }
}

.button {
  margin-bottom: scale(20px);

  @media (max-width: $tablet-portrait) {
    margin: 0 scale(20px 16px) auto;
  }
}

.wrapper {
  position: relative;
  width: scale(468px);
  height: scale(228px);

  @media (max-width: $tablet-portrait) {
    height: scale(156px);
    width: initial;
  }
}

.hideContainer {
  overflow: hidden;
  max-height: 0;
}

.icon > svg {
  width: scale(24px);
  height: scale(24px);
}
