.section {
  display: grid;
  width: clamp(414px, 100%, 420px);
  height: 280px;
  align-items: center;
  justify-content: left;
  background-color: green;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(3, max-content);
}
