.section * {
  max-width: 100%;
  box-sizing: border-box;
}

.section {
  max-width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--light-green);
  color: var(--coal);
}

.container {
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;

  @media (max-width: $tablet-portrait) {
    padding-left: scale(27px);
  }
}

.title {
  @mixin headline;
  @mixin headline2;

  padding: scale(125px) 0 0 50%;
  margin: 0;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    padding: scale(56px) 0 0;
  }
}

.yearsContainer {
  padding-top: scale(46.5px);

  @media (max-width: $tablet-portrait) {
    padding: scale(36.5px) scale(23px) 0;
    margin: 0 auto;
  }
}

.cardContainer {
  display: grid;
  max-width: 1440px;
  box-sizing: border-box;
  padding: scale(54px) scale(210px) 0;
  margin: 0 auto;
  gap: 48px 30px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 180px));
}

.infoBlock {
  position: relative;
  padding-bottom: scale(259px);
  margin: scale(69px) 0 0 scale(213px);

  @media (max-width: $tablet-portrait) {
    padding-bottom: scale(250px);
    margin: scale(69px) scale(22px) 0 0;
  }
}

.asterisk {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.info {
  @mixin text;
  @mixin textLarge;

  position: absolute;
  top: scale(25px);
  left: scale(25px);
  max-width: scale(426px);
  margin: 0;
}

.indent {
  margin: 0 scale(5px);
}
