.selection {
  padding: 54px 60px 45px;
  background-color: #ecebe8;
}

.mainTitle {
  @mixin headline;
  @mixin headline3;

  max-width: 540px;
  margin: 0 180px 56px auto;
}

.list {
  display: grid;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 68px;
  column-gap: 90px;
  grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
  list-style: none;
  row-gap: 64px;
}

.item {
  display: grid;
  align-content: start;
  row-gap: 24px;
}

.number {
  @mixin headline;
  @mixin headline1;
}

.title {
  @mixin headline;
  @mixin headline6;

  min-height: 96px;
}

.desc {
  @mixin text;
  @mixin textSmall;
}

.poster {
  display: grid;
  max-width: 1320px;
  justify-content: space-evenly;
  padding: 0 24px 64px;
  margin: 0 auto;
  background-color: #b7c09d;
  column-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(305px, max-content));
}

.posterTitle {
  @mixin headline;
  @mixin headline6;

  display: flex;
  max-width: 468px;
  flex-direction: column;
  margin-top: 64px;
}

.ampersand {
  @mixin headline;
  @mixin headline1;

  margin-bottom: 16px;
}

.posterDesc {
  @mixin text;
  @mixin textSmall;

  max-width: 485px;
  margin-top: 220px;
  margin-left: auto;
}

@media all and (max-width: 599px) {
  .selection {
    padding: 40px 0 0;
  }

  .mainTitle {
    @mixin headline4;

    padding: 0 24px;
    margin: 0;
    margin-bottom: 24px;
  }

  .list {
    padding: 0 24px;
    margin-bottom: 72px;
    grid-template-columns: none;
  }

  .item {
    row-gap: 0;
  }

  .number {
    @mixin headline4;
  }

  .title {
    min-height: 0;
    margin-bottom: 24px;
  }

  .desc {
    max-width: 280px;
    align-self: right;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-left: auto;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .poster {
    padding-bottom: 72px;
  }

  .posterDesc {
    max-width: 305px;
    margin-top: 24px;
  }
}
