.tag {
  display: inline-block;
  padding: 4px 8px 8px 8px;
  border: 1px solid var(--coal);
  border-top: none;
  margin: 0;
  background: var(--beige);
  color: var(--coal);
  font-family: "Formular", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 23px;
  text-align: left;
  transition: 300ms;
}

.tag:hover {
  border: 1px solid transparent;
  border-top: none;
  background: var(--coal);
  color: var(--white);
}

.tag_active {
  border: 1px solid transparent;
  border-top: none;
  background: var(--coal);
  color: var(--white);
}
