.tag {
  @mixin text;
  @mixin textMedium;

  display: inline-block;
  padding: scale(4px 8px 8px 8px);
  border: scale(1px) solid var(--coal);
  border-top: none;
  text-align: left;
  transition: 300ms;

  &:hover,
  &.active {
    border: scale(1px) solid transparent;
    border-top: none;
    background: var(--coal);
    color: var(--white);
  }
}

.tagIcon {
  display: inline-block;
  border: scale(1px) solid var(--coal);
  border-top: none;
  transition: 300ms;
  white-space: nowrap;

  &:hover,
  &.active {
    border: scale(1px) solid transparent;
    border-top: none;
    background: var(--coal);
    color: var(--white);
  }
}

.tagContainer {
  display: flex;
  align-items: center;
}

.tagText {
  @mixin text;
  @mixin textMedium;

  padding: scale(4px 0 8px 8px);
  text-align: left;

  &:hover,
  &.active {
    color: var(--white);
  }
}

.icon {
  padding-top: scale(4px);
  padding-right: scale(4px);
  cursor: pointer;
}
