.root {
  display: grid;
  align-items: flex-start;
  grid-gap: 100px;
  grid-template-columns: 410px auto;

  @media (max-width: $tablet-portrait) {
    display: block;
    margin: 0 24px 0 86px;
  }
}

.description {
  @mixin text;
  @mixin textLarge;

  margin: 0;

  @media (max-width: $tablet-portrait) {
    margin-bottom: 16px;
  }
}
