@value partners from '../partners/footer-partners.module.css';

.address {
  margin-top: scalesize(50px);
  font-style: normal;
  grid-area: address;
  white-space: pre;

  @media (max-width: $tablet-portrait) {
    @mixin textSmall;

    padding: scalesize(0 55px);
    margin-top: scalesize(33px);
  }

  span {
    @mixin headline;
    @mixin headline7;

    display: block;
    margin-bottom: scalesize(16px);

    @media (max-width: $tablet-portrait) {
      margin-bottom: scalesize(8px);
    }
  }
}

.partners ~ .address {
  margin-top: scalesize(62px);
}
