.projectCooperation {
  display: flex;
  flex-direction: column;
}

.asterisk {
  display: flex;
  width: scalesize(25px);
  height: scalesize(25px);
}

.header {
  @mixin headline;
  @mixin headline5;

  margin: scalesize(0 0 0 27px);

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    margin: scalesize(0 0 0 30px);
  }
}

.text {
  @mixin headline;
  @mixin headline7;

  margin: scalesize(33px 0 0 85px);

  @media (max-width: $tablet-portrait) {
    margin: scalesize(16px 0 0 32px);
  }

  &:last-of-type {
    margin: scalesize(24px 0 0 85px);

    @media (max-width: $tablet-portrait) {
      margin: scalesize(24px 0 0 32px);
    }
  }
}

.link {
  color: inherit;

  &:hover {
    background-color: var(--coal);
    color: var(--beige);
  }
}
