.storiesСontainer {
  width: scalesize(553px);
  margin: scalesize(92px auto 169px 665px);

  @media (max-width: $tablet-portrait) {
    width: scalesize(365px);
    margin: scalesize(50px auto 100px 25px);
  }
}
