.container {
  display: grid;
  box-sizing: border-box;
  padding-top: 123px;
  gap: 51px;

  @media (max-width: $tablet-portrait) {
    padding-top: 34px;
    padding-bottom: 100px;
    padding-left: 24px;
    gap: 33px;
  }
}

.title {
  @mixin headline;
  @mixin headline4;

  position: relative;
  max-width: 21ch;
  margin-right: 35%;
  justify-self: end;

  &::after {
    position: absolute;
    bottom: 100px;
    left: 600px;
    display: block;
    width: 152px;
    height: 152px;
    box-sizing: border-box;
    border: 1px solid var(--coal);
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 100% 100%;
    content: "";
  }

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    max-width: 16ch;
    padding: 0;
    margin: 0;
    grid-row: 2;
    justify-self: auto;

    &::after {
      display: none;
    }
  }
}

.image {
  width: 930px;
  height: 100%;

  @media (max-width: $tablet-portrait) {
    width: 390px;
  }
}
