.error {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 1px;
  margin: 0 auto;
  background: #ecebe8;
  color: #242424;
  font-family: 'Formular', Helvetica, Arial, sans-serif;

  @media (max-width: 768px) {
    padding: 32px 24px;
  }
}

.logo {
  position: absolute;
  top: 28px;
  left: 32px;

  @media (max-width: 700px) {
    position: static;
    margin: 0;
  }
}

.contentContainer {
  display: flex;
  width: 100vw;
  max-width: 720px;
  flex-direction: column;
  margin: 83px 152px 0 auto;

  @media (max-width: 768px) {
    margin: 69px auto 0;
  }
}

.title {
  margin: 0 auto 25px 0;
  font-feature-settings: 'ss01' on;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -.01em;
  line-height: 28px;

  @media (max-width: 768px) {
    margin-bottom: 11px;
  }
}

.subtitle {
  max-width: 720px;
  margin: 0 0 24px 0;
  font-family: 'PP Neue Machina', Helvetica, Arial, sans-serif;
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -.01em;
  line-height: 56px;

  @media (max-width: 768px) {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 38px;
  }
}

.text {
  max-width: 415px;
  margin: 0 0 0 60px;
  font-family: 'PP Neue Machina', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: -.01em;
  line-height: 24px;
}

.list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 40px 0 0 60px;
  list-style-type: none;
  white-space: nowrap;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.listItem {
  @media (max-width: 768px) {
    margin-bottom: 34px;
  }
}

.lines {
  width: 100%;
  height: 100vh;
}

.line {
  position: absolute;
  width: calc(100% + 400px);
  min-width: 920px;
  max-width: 1806px;
}

.line:first-of-type {
  top: 526px;
  left: -146px;
  transform: rotate(17.89deg);

  @media (max-width: 1400px) {
    top: 726px;
    left: -146px;
  }
}

.line:nth-of-type(2n) {
  top: 546px;
  left: -160px;
  transform: rotate(4.24deg);

  @media (max-width: 1400px) {
    top: 706px;
    left: -160px;
  }
}

.link {
  box-sizing: border-box;
  padding-bottom: 10px;
  border-bottom: 1px solid #242424;
  border-left: 1px solid #242424;
  margin-right: 8px;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
}

.lineContainer {
  position: absolute;
  width: 100%;
}
