@value tablet-portrait from "shared/styles/media.module.css";

.tile {
  display: flex;
  min-height: 300px;
  flex-direction: column;
  margin: 0 0 16px;
  background-color: var(--light-green);

  @media tablet-portrait {
    min-height: 340px;
  }
}

.title {
  @mixin headline;
  @mixin headline7;
  @mixin text-truncate-multiline 6;

  margin: 24px 30px auto 24px;

  @media tablet-portrait {
    margin: 16px 46px auto 16px;
  }
}

.actions {
  visibility: hidden;

  .tile:hover & {
    visibility: visible;
  }

  @media tablet-portrait {
    visibility: visible;
  }
}

.action {
  display: block;
  border-top: 1px solid var(--coal);
}

.info {
  display: flex;
  flex-direction: column;
}

.author {
  @mixin headline;
  @mixin headline7;

  display: inline-block;
}

.city {
  @mixin text;
  @mixin textSmall;

  margin: 4px 0 0;

  @media tablet-portrait {
    margin-top: 8px;
  }
}

.year {
  @mixin text;
  @mixin textSmall;

  margin: 0;
}

.semantic-only-note {
  @mixin visually-hidden;
}
