.contacts {
  padding: scale(72px 170px 164px 150px);
  background-color: var(--white);

  @media (max-width: $tablet-portrait) {
    padding: scale(56px 24px 72px);
  }
}

.title {
  @mixin headline;
  @mixin headline5;

  max-width: scale(485px);
  margin-bottom: scale(36px);

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    margin-bottom: scale(34px);
  }
}

.desc {
  @mixin headline;
  @mixin headline6;

  display: flex;
  max-width: scale(610px);
  margin-left: auto;

  @media (max-width: $tablet-portrait) {
    @mixin headline7;
  }
}

.asterisk {
  transform: translateY(scale(-10px));
  width: scale(25px);
  height: scale(25px);
  margin-right: scale(2px);

  @media (max-width: $tablet-portrait) {
    margin-right: scale(6px);
  }
}

.link {
  display: inline;
  color: var(--coal);
}
