.contacts {
  padding: 72px 170px 164px 150px;
  background-color: var(--white);

  @media (max-width: $tablet-portrait) {
    padding: 56px 24px 72px;
  }
}

.title {
  @mixin headline;
  @mixin headline5;

  max-width: 485px;
  margin-bottom: 36px;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    margin-bottom: 34px;
  }
}

.desc {
  @mixin headline;
  @mixin headline6;

  display: flex;
  max-width: 610px;
  margin-left: auto;

  @media (max-width: $tablet-portrait) {
    @mixin headline7;
  }
}

.asterisk {
  width: 25px;
  height: 25px;
  margin-right: 2px;
  transform: translateY(-10px);

  @media (max-width: $tablet-portrait) {
    margin-right: 6px;
  }
}

.link {
  display: inline-flex;
  align-items: flex-end;
  text-decoration-line: underline;

  > svg {
    width: 25px;
    height: 25px;
  }

  @media (max-width: $tablet-portrait) {
    > svg {
      width: 20px;
      height: 20px;
    }
  }
}
