.actionCaption {
  @mixin text;
  @mixin textCaption;

  margin-top: scalesize(24px);

  a {
    color: inherit;
  }

  p {
    white-space: pre-line;

    &:not(:first-child) {
      margin: scalesize(17px 0 0);
    }
  }
}

.shift {
  margin-left: scalesize(30px);
}

.below {
  max-width: scalesize(340px);
  margin-top: scalesize(16px);
}
