.section {
  width: calc(100% - scale(270px));
  grid-area: shortList;
  padding: scale(90px 0 102px 60px);
  box-sizing: border-box;

  @media (max-width: $tablet-portrait) {
    width: 100%;
    max-width: scale(414px);
    padding: scale(40px 0 40px 30px);
  }
}

.title {
  @mixin headline;
  @mixin headline2;

  max-width: scale(682px);
  margin-bottom: scale(50px);

  @media (max-width: $tablet-portrait) {
    margin-bottom: scale(24px);
    @mixin headline7;
  }
}

.plays {
  @mixin hideScrollbar;

  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  display: grid;
  gap: scale(30px);
  padding-right: scale(30px);
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: $tablet-portrait) {
    grid-auto-flow: column;
    grid-template-columns: auto;
  }
}
