.section {
  width: calc(100% - scale(270px));
  box-sizing: border-box;
  padding: scale(90px 0 102px 60px);
  grid-area: shortList;
  overflow-y: hidden;

  @media (max-width: $tablet-portrait) {
    width: 100%;
    padding: scale(40px 0 40px 30px);
  }
}

.title {
  @mixin headline;
  @mixin headline2;

  max-width: scale(682px);
  margin-bottom: scale(50px);

  @media (max-width: $tablet-portrait) {
    margin-bottom: scale(24px);

    @mixin headline4;
  }
}

.plays {
  @mixin hideScrollbar;

  position: relative;
  display: grid;
  overflow: hidden;
  padding-right: scale(30px);
  gap: scale(30px);
  grid-template-columns: repeat(4, 1fr);
  overflow-x: scroll;

  @media (max-width: $tablet-portrait) {
    grid-auto-flow: column;
    grid-template-columns: auto;
  }
}
