$gap: scale(58px);

.item {
  display: block;
  width: calc((100% - 2 * $gap) / 3);
  height: scale(236px);

  &:not(:nth-child(3n)) {
    margin-right: $gap;
  }

  &:last-child {
    margin-right: auto;
  }

  &:first-child {
    margin-left: auto;
  }

  &:nth-child(n+4) {
    margin-top: $gap;
  }

  &:only-child {
    width: scale(716px);
    height: scale(404px);
  }
}
