.content {
  position: relative;
  display: flex;
  max-width: 1440px;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
}

.sidebar {
  position: fixed;
  z-index: 1;
  top: 52px;
  left: auto;
}

.menu {
  box-sizing: border-box;
  padding: 17px 0;
  border-bottom: 1px solid var(--coal);
  margin-bottom: 31px;
}

.section {
  position: relative;
  z-index: 0;
  display: flex;
  width: 1050px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 58px;
  margin-left: auto;
  justify-self: flex-end;
}

.title {
  @mixin headline;
  @mixin headline1;

  z-index: 3;
  margin-bottom: 16px;
}

.search {
  position: sticky;
  position: -webkit-sticky;
  z-index: 3;
  top: 104px;
  width: 100%;
}

.pieces {
  z-index: 1;
  width: 100%;
  margin: 54px auto 0;
}

.pieces::before {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 172px;
  background-color: var(--beige);
  content: '';
}
