@value section, primary from 'section/navbar-section.module.css';
@value logotype from 'logotype/navbar-logotype.module.css';

.common {
  display: flex;
  align-items: flex-start;
}

.regular {
  composes: common;
  padding-left: 30px;

  @media (max-width: $tablet-portrait) {
    padding: 32px 24px 24px;
  }
}

.expanded {
  composes: common;
  padding-left: 25px;
  border: 0;

  @media (max-width: $tablet-portrait) {
    padding: 24px;
  }

  .section {
    &:not(:last-child)::after {
      bottom: 10px;
      height: 40px;
    }
  }

  .primary {
    padding-right: 16px;
  }

  .logotype {
    padding-top: 20px;
    margin-right: 50px;

    @media (max-width: $tablet-portrait) {
      padding-top: 0;
      margin-right: 0;
    }
  }
}

.brand {
  @media (max-width: $tablet-portrait) {
    background-color: var(--light-green);
  }
}
