@value expanded from './../page/header/page-header.module.css';

.navbar {
  display: flex;
  align-items: flex-start;
  padding-left: scale(30px);
  /* margin: 0 auto; */

  @media (max-width: $tablet-portrait) {
    padding: scale(32px 24px 24px);
  }
}

.expanded {
  & .navbar {
    padding-left: scale(25px);

    @media (max-width: $tablet-portrait) {
      padding: scale(24px);
    }
  }
}
