.componentContainer {
  display: flex;
  flex-flow: row nowrap;

  @media (max-width: $tablet-portrait) {
    flex-flow: column nowrap;
  }
}

.header {
  @mixin headline;
  @mixin headline3;

  width: 629px;
  margin: 59px 0 0 120px;
  white-space: pre-wrap;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    width: 367px;
    margin: 11px 0 0 23px;
  }
}

.text {
  @mixin headline;
  @mixin headline6;

  width: 537px;
  padding: 0;
  margin: 54px 0 0 180px;
  white-space: pre-wrap;

  @media (max-width: $tablet-portrait) {
    @mixin headline7;

    width: 304px;
    margin: 24px 0 0 85px;
  }
}
