.content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  justify-content: space-between;
  border-top: 1px solid var(--coal);

  @media (max-width: 1072px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (max-width: $mobile-landscape) {
    justify-content: space-between;
    padding: 0 20px;
  }
}

.content:first-of-type {
  border: none;
}

.imgContainer {
  width: 100%;
  max-width: 151px;
}

.contentNoImage {
  margin-top: -3px;
}

.image {
  max-width: 100%;
  object-fit: contain;
}

.data {
  display: grid;
  max-width: 329px;
  padding-top: 16px;
  padding-left: 10px;
  margin-bottom: 44px;
  gap: 16px;
  grid-template-rows: max-content;

  @media (max-width: $tablet-portrait) {
    padding-left: 0;
    margin-left: 10px;
  }

  @media (max-width: $mobile-landscape) {
    margin-bottom: 0;
    margin-left: 0;
  }
}

.data:nth-of-type(2) {
  @media (max-width: $mobile-landscape) {
    order: -1;
    margin-bottom: 0;
    gap: 0;
  }
}

.data:last-of-type {
  @media (max-width: $mobile-landscape) {
    width: 100%;
  }
}

.time {
  font-size: 28px;
  line-height: 32px;

  @mixin headline @media (max-width: $mobile-landscape) {
    font-size: 20px;
    line-height: 24px;
  }
}

.location {
  font-size: 16px;
  line-height: 22px;

  @mixin text;
}

.title {
  font-size: 28px;
  line-height: 32px;

  @mixin headline;
}

.description {
  font-size: 16px;
  line-height: 22px;

  @mixin text;

  @media (max-width: $tablet-portrait) {
    margin: 0 auto;
  }

  @media (max-width: $mobile-landscape) {
    max-width: 302px;
    margin: 0;
    margin-left: auto;
  }
}

.creators {
  align-self: center;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  list-style: none;

  @mixin text;

  @media (max-width: 1072px) {
    margin: 10px 0;
  }

  @media (max-width: $mobile-landscape) {
    width: 100%;
    margin-top: 24px;
  }
}

.button {
  width: 100%;
  max-width: 154px;
  height: 31px;
  align-self: center;
  margin: 0;

  @media (max-width: 1072px) {
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-landscape) {
    margin-bottom: 25px;
    margin-left: auto;
  }
}
