@value tablet-portrait from "shared/styles/media.module.css";

.root {
  position: sticky;
  z-index: 2;
  top: 0;
  border-bottom: 1px solid var(--coal);
  background-color: var(--beige);

  @media tablet-portrait {
    position: static;
    z-index: auto;
    border: 0;
  }
}
