.root {
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--coal);
  background-color: var(--beige);

  @media (max-width: $tablet-portrait) {
    position: static;
    border: 0;
  }
}
