.inputComponent {
  max-width: 359px;
}

.input {
  width: 100%;
  padding: 0 0 8px 0;
  border: none;
  border-bottom: 1px solid #242424;
  margin: 0;
  background: #ecebe8;
  font-family: "Formular", SansSerif, serif;
  font-size: 16px;
  line-height: 22px;
  outline: none;
}

/* Атрибут placeholder выводит текст внутри поля формы, который исчезает при получении фокуса */
.input:focus::-webkit-input-placeholder {
  color: transparent;
}

.input:focus::-moz-placeholder {
  color: transparent;
}

.input:focus:-ms-input-placeholder {
  color: transparent;
}

.inputError {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  margin: 0 0 4px;
  background: #ecebe8;
  color: rgba(255, 0, 0, 1);
  font-size: 12px;
  line-height: 22px;
  visibility: hidden;
}

.inputError:last-of-type {
  margin-bottom: 0;
}
