.link {
  display: flex;
  text-decoration: none;

  @media (max-width: $tablet-portrait) {
    margin: 0;
  }

  /* &:nth-child(2n) > .card > .imageContainer {
    @media (max-width: $tablet-portrait) {
      justify-content: end;
    }
  }

  &:nth-child(-n+2) > .card > .title {
    padding-top: 0;

    @media (max-width: $tablet-portrait) {
      padding: scale(24px 0 17px 0);
    }
  } */
}

.card {
  flex-flow: column nowrap;

  @media (min-width: $tablet-portrait) {
    display: flex;
    height: scale(500px);
    flex-flow: column wrap;
    margin: 0;
  }
}

.imageContainer {
  display: flex;
  overflow: hidden;
  width: 50%;
  height: 100%;

  @media (max-width: $tablet-portrait) {
    width: 100%;
    height: scale(297px);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .4s cubic-bezier(.6, 0, .5, 1);

  @media (max-width: $tablet-portrait) {
    width: scale(214px);
  }
}

.image:hover {
  transform: scale(1.2);
}

.title {
  @mixin headline;
  @mixin headline4;

  display: flex;
  width: 50%;
  box-sizing: border-box;
  align-items: center;
  padding: scale(55px 80px 0 32px);
  hyphens: auto;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    width: 100%;
    padding: scale(24px 0 17px 0);
  }
}

.titleArrow {
  display: none;

  @media (max-width: $tablet-portrait) {
    display: flex;
    width: scale(25px);
    height: scale(25px);
    margin: scale(0 0 0 8px);
  }
}

.description {
  @mixin headline;
  @mixin headline7;

  width: 50%;
  box-sizing: border-box;
  padding: scale(16px 18px 0 89px);

  @media (max-width: $tablet-portrait) {
    width: 100%;
    padding: scale(0 0 0 62px);
  }
}

.even {
  .imageContainer {
    @media (max-width: $tablet-portrait) {
      justify-content: end;
    }
  }
}
