.link {
  display: flex;
  text-decoration: none;

  @media (max-width: $tablet-portrait) {
    margin: 0;
  }
}

.card {
  width: 100%;
  flex-flow: column nowrap;

  @media (min-width: $tablet-portrait) {
    display: flex;
    height: 500px;
    flex-flow: column wrap;
    margin: 0;
  }
}

.imageContainer {
  display: flex;
  overflow: hidden;
  width: 50%;
  height: 100%;

  @media (max-width: $tablet-portrait) {
    width: 214px;
    height: 295px;
  }
}

.image {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transition: transform .4s cubic-bezier(.6, 0, .5, 1);
}

.image:hover {
  transform: scale(1.2);
}

.title {
  @mixin headline;
  @mixin headline4;

  display: flex;
  width: 50%;
  box-sizing: border-box;
  align-items: center;
  padding: 45px 15px 0 32px;
  hyphens: auto;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    width: 100%;
    padding: 24px 0 17px 0;
  }
}

.titleArrow {
  display: none;

  @media (max-width: $tablet-portrait) {
    display: flex;
    width: 25px;
    height: 25px;
    margin: 0 0 0 8px;
  }
}

.description {
  @mixin headline;
  @mixin headline7;

  width: 50%;
  box-sizing: border-box;
  padding: 16px 18px 0 89px;

  @media (max-width: $tablet-portrait) {
    width: 100%;
    padding: 0 0 0 62px;
  }
}

.even {
  .imageContainer {
    @media (max-width: $tablet-portrait) {
      margin-left: auto;
    }
  }
}
