.root {
  display: flex;
  text-decoration: none;

  @media (max-width: $tablet-portrait) {
    margin: 0;
  }
}

.card {
  display: grid;
  width: 100%;
  height: 500px;
  column-gap: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;

  @media (max-width: $tablet-portrait) {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 295px min-content min-content;
  }
}

.imageContainer {
  display: flex;
  overflow: hidden;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  @media (max-width: $tablet-portrait) {
    width: 214px;
    height: 100%;
    grid-row: 1 / 2;
  }
}

.image {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform .4s cubic-bezier(.6, 0, .5, 1);
}

.image:hover {
  transform: scale(1.2);
}

.title {
  @mixin headline;
  @mixin headline4;

  display: inline-block;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 45px 15px 0 32px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  hyphens: auto;
  text-overflow: ellipsis;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    width: 100%;
    padding: 24px 0 16px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.titleArrow {
  display: none;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    display: inline;
    margin: 0 0 0 8px;
  }
}

.description {
  @mixin headline;
  @mixin headline7;

  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 20px 5px 89px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-overflow: ellipsis;

  @media (max-width: $tablet-portrait) {
    width: 100%;
    padding: 0 0 0 62px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

.even {
  .imageContainer {
    @media (max-width: $tablet-portrait) {
      margin-left: auto;
    }
  }
}
