.descItem {
  padding: scalesize(92px 24px 170px 0);
  background-color: #ecebe8;
  color: var(--beige);
}

.content {
  display: grid;
  column-gap: scalesize(90px);
  grid-template-columns: repeat(auto-fit, minmax(scalesize(440px), max-content));
  row-gap: 24px;
}

.contentReception {
  margin-bottom: scalesize(190px);
  margin-left: scalesize(120px);
}

.container {
  max-width: scalesize(600px);
}

.mainTitle {
  @mixin headline;
  @mixin headline3;

  margin-bottom: scalesize(76px);
}

.title {
  @mixin headline;
  @mixin headline5;

  margin-bottom: scalesize(24px);
}

.desc {
  @mixin text;
  @mixin textLarge;
}

.contentSelected {
  margin-bottom: scalesize(140px);
}

.containerSelected {
  margin-top: scalesize(20px);
}

.imgSelected {
  @mixin img;

  max-width: scalesize(630px);
}

.containerInvite {
  margin-left: scalesize(210px);
}

.imgReception {
  @mixin img;

  max-width: scalesize(450px);
  margin-top: scalesize(14px);
}

@media (max-width: $tablet-portrait) {
  .descItem {
    padding: scalesize(56px 24px 72px 0);
  }

  .contentReception {
    margin-bottom: scalesize(0);
    margin-left: scalesize(24px);
  }

  .contentSelected {
    margin-bottom: scalesize(0);
  }

  .content {
    margin-bottom: scalesize(72px);
    grid-template-columns: repeat(auto-fit, minmax(scalesize(274px), max-content));
  }

  .mainTitle {
    @mixin headline4;

    margin-bottom: scalesize(24px);
  }

  .title {
    @mixin headline6;
  }

  .titleWidth {
    max-width: scalesize(330px);
  }

  .desc {
    @mixin textMedium;
  }

  .imgReception {
    max-width: scalesize(274px);
    margin-top: scalesize(0);
    margin-left: auto;
  }

  .imgSelected {
    grid-row-start: 2;
  }

  .containerSelected {
    margin-left: scalesize(24px);
    grid-row-start: 1;
  }

  .containerInvite {
    margin-left: scalesize(24px);
  }
}
