.container {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  grid-area: partners;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, max-content);
  row-gap: scale(69px);

  @media screen and (max-width: $tablet-portrait) {
    justify-items: center;
    row-gap: scale(72px);
  }
}

.list {
  display: grid;
  width: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
  column-gap: scale(30px);
  grid-auto-rows: minmax(scale(118px), scale(137px));
  grid-template-columns: repeat(auto-fill, minmax(scale(182px), scale(210px)));
  grid-template-rows: repeat(2, minmax(scale(118px), scale(137px)));
  justify-items: center;
  list-style-type: none;
  row-gap: scale(15px);

  @media screen and (max-width: $tablet-portrait) {
    column-gap: 0;
    grid-auto-rows: scale(118px);
    grid-template-columns: repeat(2, scale(182px));
    grid-template-rows: repeat(3, scale(118px));
    row-gap: 0;
  }

  &Element {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: scale(25px 15px);
  }
}

.center {
  justify-content: center;
}

.text {
  padding: scale(15px 0 0 0);

  @mixin text;
  @mixin textPartners;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: opacity .4s linear;

  &:hover {
    opacity: .7;
  }
}

.imageContainer {
  position: relative;
  width: scale(182px);
  height: scale(51px);

  @media screen and (max-width: $tablet-portrait) {
    width: 158px;
    height: 45px;
  }
}
