.container {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  padding: 107px 0 179px calc(60 * var(--vw-size-multiplier));
  background-color: transparent;
  grid-area: partners;
  grid-template-columns: max-content;
  grid-template-rows: repeat(2, max-content);
  row-gap: 69px;

  @media screen and (max-width: $tablet-portrait) {
    padding-left: 24px;
    row-gap: 72px;
  }
}

.list {
  display: grid;
  align-items: center;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(4, 210px);
  grid-template-rows: repeat(2, 137px);
  justify-items: center;
  list-style-type: none;
}

.text {
  padding: 0;
  margin: 0;

  @mixin text;
  @mixin textPartners;
}

.link {
  text-decoration: none;
}
