.container {
  position: relative;
  box-sizing: border-box;
  padding: scale(0 77px);

  @media (max-width: $tablet-portrait) {
    padding: 0;
    text-align: right;
  }
}

.slider {
  @media (max-width: $tablet-portrait) {
    margin-top: scale(19px);
  }
}

.slide {
  position: relative;

  &::before {
    display: block;
    width: 100%;
    padding-top: calc((7 / 11) * 100%);
    content: "";
  }
}

.image {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  width: scale(48px);
  height: scale(48px);
  transform: translateY(-50%);

  @media (max-width: $tablet-portrait) {
    position: static;
    display: inline-block;
    transform: translateY(0);
  }

  &:last-of-type {
    @media (max-width: $tablet-portrait) {
      margin-right: scale(24px);
    }
  }

  &:not(:last-of-type) {
    @media (max-width: $tablet-portrait) {
      margin-right: scale(51px);
    }
  }
}

.arrowLeft {
  left: 0;
}

.arrowRight {
  right: 0;
}

.arrowButton {
  width: 100%;
  height: 100%;
}

.dots {
  margin-top: scale(19px);

  @media (max-width: $tablet-portrait) {
    margin-top: scale(15px);
  }
}
