:root {
  --color: #242424;
}

.container {
  display: flex;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  flex-direction: row;
  padding: 0;
  margin: 0;
  background-color: var(--white);
  cursor: pointer;
}

.container.noFooter:hover {
  filter: invert(100%);
}

.container.infoFooter:hover {
  text-decoration: 1px underline;
}

.container.footer:hover {
  text-decoration: 1px underline;

  @media (max-width: $mobile-landscape) {
    filter: invert(100%);
    text-decoration: none;
  }
}

.container.borderTop {
  width: inherit;
  justify-content: space-between;
}

.container.borderBottomLeft {
  padding-right: 10px;
}

.link {
  z-index: 1;
  width: initial;
  box-sizing: border-box;
  align-self: center;
  padding: 0;
  margin: 0;
  color: var(--color);
  font-family: 'Formular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -1%;
}

.link:hover {
  text-decoration: none;
}

.underline {
  text-decoration: 1px underline;
}

.borderBottomLeft {
  height: 24px;
  border-bottom: 1px solid var(--color);
  border-left: 1px solid var(--color);
}

.borderTop {
  padding-top: 3.79px;
  padding-right: 7px;
  padding-left: 7px;
  border-top: 1px solid var(--color);
}

.placeLeft {
  align-self: center;
}

.placeRight {
  padding-left: 8px;
}

.textDecorationNone {
  text-decoration: none;
}

.xs {
  font-size: 14px;
  line-height: 17px;

  @media (max-width: $mobile-landscape) {
    text-decoration: 1px underline;
  }
}

.xs.infoFooter {
  @media (max-width: $mobile-landscape) {
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
  }
}

.s {
  font-size: 16px;
  line-height: 14px;
}

.m {
  font-size: 16px;
  line-height: 24px;
}

.l {
  font-family: 'PP Neue Machina', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.xl {
  font-size: 20px;
  line-height: 28px;
}

.number {
  font-family: 'PP Neue Machina', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}
