.section {
  display: flex;
  height: calc(var(--scale) * 470);
  align-items: center;
  justify-content: right;
}

.title {
  width: clamp(calc(var(--scale) * 298), 100%, calc(var(--scale) * 542));

  @mixin headline;
  @mixin headline1;
}
