.layout {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  padding-bottom: 180px;

  @media (max-width: $tablet-portrait) {
    display: block;
    padding: 0 24px 150px;
  }
}
