.section {
  width: 100%;
  height: 97px;
  border-bottom: 1px solid var(--coal);
  background: var(--beige);
}

.list {
  display: flex;
  overflow: hidden;
  height: 100%;
  align-items: center;
  margin-left: 50%;
}

@media (max-width: $tablet-portrait) {
  .section {
    height: 88px;
    border-bottom: none;
  }

  .list {
    margin-left: 40px;
  }
}
