.section {
  width: 100%;
  height: 97px;
  border-bottom: 1px solid --coal;
  background: --beige;
}

.list {
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 25px;
  margin-left: 50%;
}

.element {
  @mixin textNeueMachina;
  @mixin textSuperLarge;

  margin-right: 40px;
}
