.section {
  width: 100%;
  height: 97px;
  border-bottom: 1px solid var(--coal);
  background: var(--beige);
}

.list {
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 25px;
  margin-left: 50%;
}

@media (max-width: $tablet-portrait) {
  .section {
    height: 88px;
    border-bottom: none;
  }

  .list {
    padding-top: 26.5px;
    padding-bottom: 21.5px;
    margin-left: 40px;
  }
}
