.item {
  display: block;

  @media (max-width: $tablet-portrait) {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: scalesize(0 15px);
  }

  &:not(:last-child) {
    margin-right: scalesize(28px);

    @media (max-width: $tablet-portrait) {
      margin-right: 0;
    }
  }
}

.logoCanvas {
  position: relative;
  width: scalesize(100px);
  height: scalesize(40px);
}

.logo {
  margin: auto;
}

.hiddenText {
  @mixin visually-hidden;
}
