.common {
  box-sizing: border-box;
}

.title {
  @mixin headline;
  @mixin headline4;

  max-width: 716px;
  margin: 0 auto 48px;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    max-width: 366px;
  }
}

.plays {
  composes: common;

  .title {
    max-width: 450px;
    margin: 0 auto 48px 300px;

    @media (max-width: $tablet-portrait) {
      max-width: 366px;
      margin: 0 auto 22px 24px;
    }
  }
}

.persons {
  composes: common;

  .title {
    max-width: 450px;
    margin: 0 auto 58px 300px;

    @media (max-width: $tablet-portrait) {
      max-width: 366px;
      margin: 0 auto 24px 24px;
    }
  }
}

.partners {
  composes: common;
  padding: 100px 60px 30px;

  @media (max-width: $tablet-portrait) {
    padding: 56px 24px;
  }

  .title {
    @mixin headline;
    @mixin headline6;

    max-width: 334px;
    margin-bottom: 48px;

    @media (max-width: $tablet-portrait) {
      max-width: 255px;
    }
  }
}

.play {
  composes: common;

  .title {
    @mixin visually-hidden;

    @media (max-width: $tablet-portrait) {
      @mixin undo-visually-hidden;

      max-width: 366px;
      margin: 0 auto 32px;
    }
  }
}

.homepage-feed {
  composes: common;
  padding: 60px 56px;

  @media (max-width: $tablet-portrait) {
    padding: 36px 24px;
  }
}

.homepage-teasers {
  composes: common;
  padding: 60px 32px;

  @media (max-width: $tablet-portrait) {
    padding: 36px 24px;
  }
}

.places {
  composes: common;
  padding: 65px 60px 105px 60px;
  background-color: white;

  .title {
    @mixin headline;
    @mixin headline2;

    margin-bottom: 74px;

    @media (max-width: $tablet-portrait) {
      @mixin headline4;

      margin-bottom: 40px;
    }
  }
}

.homepage-shortlist {
  padding: 90px 60px 102px 60px;

  @media (max-width: $tablet-portrait) {
    padding: 40px 30px 40px 30px;
  }

  .title {
    @mixin headline;
    @mixin headline2;

    max-width: 682px;
    margin-bottom: 50px;

    @media (max-width: $tablet-portrait) {
      @mixin headline4;

      margin-bottom: 24px;
    }
  }
}

.author-call-to-email {
  padding: 90px 70px 114px 840px;
  background-color: var(--beige);

  @media (max-width: $tablet-portrait) {
    padding: 80px 24px;
  }
}

.blog-entries {
  padding: 0 90px;

  @media (max-width: $tablet-portrait) {
    padding: 0 24px;
  }
}

.news {
  padding: 0 90px;

  @media (max-width: $tablet-portrait) {
    padding: 0 24px;
  }
}
