.poster {
  display: flex;
  padding: 64px 150px 60px 120px;
  margin: 0 60px 45px;
  background-color: var(--light-green);

  @media (max-width: $tablet-portrait) {
    display: block;
    padding: 56px 24px 72px 24px;
    padding-bottom: 72px;
    margin: 0;
  }
}

.title {
  @mixin headline;
  @mixin headline6;

  max-width: 468px;
}

.ampersand {
  @mixin headline;
  @mixin headline1;

  display: block;
  margin-bottom: 16px;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;
  }
}

.desc {
  @mixin text;
  @mixin textSmall;

  max-width: 485px;
  margin: 156px auto 0;

  @media (max-width: $tablet-portrait) {
    max-width: 305px;
    margin: 24px 0 0 60px;
  }
}
