@keyframes BackgroundColor {
  from {
    background-color: transparent;
  }

  to {
    background-color: #242424;
  }
}

@keyframes Fill {
  from {
    fill: #242424;
  }

  to {
    fill: #fff;
  }
}

.sliderControl {
  position: relative;
  width: 100%;
  max-width: 50px;
  min-height: 50px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.sliderControl:hover {
  animation: BackgroundColor .05s .2s;
  animation-fill-mode: forwards;
}

.sliderControl:hover .secondCircle {
  transform: rotate(315deg);
  transition: transform .3s;
}

.sliderControl:hover .secondCircleLeft {
  transform: rotate(-225deg);
  transition: transform .3s;
}

.sliderControl:active {
  transform: scale(1.1);
}

.arrow {
  position: absolute;
  top: 25%;
  left: 25%;
}

.sliderControl:hover .arrow {
  animation: Fill .05s .2s;
  animation-fill-mode: forwards;
}

.sliderControl:active .arrow {
  transform: scale(.9);
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #242424;
  border-right-color: transparent;
  border-bottom-color: transparent;
  background-color: transparent;
  border-radius: 50%;
  transform: rotate(135deg);
}

.left {
  transform: rotate(-45deg);
}
