@import "../press-release-layout.vars.module";

.root {
  position: relative;
  min-width: calc(720px - $page-margin-smartphone);
  height: 268px;
  margin-right: calc(-1 * $page-margin-tablet-portrait);
  grid-area: cover;

  @media (max-width: $tablet-portrait) {
    min-width: initial;
    margin: 0 -$page-margin-smartphone;
  }
}
