.overview {
  background-color: var(--beige);
}

.personalInfo {
  display: grid;
  grid-template:
    "button photo fullName"
    "button photo city"
    "button photo quote" / 2fr 6fr 9fr;

  @media (max-width: $tablet-portrait) {
    background-color: var(--light-green);
    grid-template:
      "button"
      "photo"
      "fullName"
      "city"
      "quote";
  }
}

.personalInfoNoPhoto {
  display: grid;
  grid-template:
    "button photo fullName"
    "button photo city"
    "button quote empty" / 2fr 6fr 9fr;

  @media (max-width: $tablet-portrait) {
    background-color: var(--light-green);
    grid-template:
      "button"
      "fullName"
      "city"
      "quote";
  }
}

.button {
  margin: 30px;
  grid-area: button;

  @media (max-width: $tablet-portrait) {
    position: absolute;
    top: 7px;
    left: 60px;
  }

  @media (max-width: 500px) {
    top: 3px;
    left: 50px;
  }

  @media (max-width: 370px) {
    top: -3px;
    left: 50px;
  }
}

.photoBox {
  position: relative;
  overflow: hidden;
  width: 275px;
  height: 355px;
  grid-area: photo;
  justify-self: center;

  @media (max-width: $tablet-portrait) {
    margin: 0 0 0 30px;
    justify-self: start;
  }

  @media (max-width: 600px) {
    width: 183px;
    height: 236px;
    margin: 0 0 0 24px;
  }
}

.photo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: inherit;
  height: inherit;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.fullName {
  @mixin headline;
  @mixin headline3;

  width: 100%;
  max-width: 300px;
  margin: 55px 0 10px 30px;
  grid-area: fullName;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    margin: 16px 0 14px 20px;
  }
}

.city {
  @mixin text;
  @mixin textMedium;

  padding: 0 40px;
  margin: 0 0 56px;
  grid-area: city;

  @media (max-width: $tablet-portrait) {
    padding: 0;
    margin: 0 0 0 20px;
  }
}

.quote {
  @mixin headline;
  @mixin headline6;

  display: flex;
  flex-direction: inherit;
  padding: 0 20px 0 0;
  grid-area: quote;

  @media (max-width: $tablet-portrait) {
    @mixin headline7;

    margin: 28px 20px 72px 60px;
    justify-self: start;
  }
}

.quoteText {
  @mixin headline;
  @mixin headline6;

  width: 100%;
  max-width: 600px;
  margin: 0 10px;

  @media (max-width: $tablet-portrait) {
    @mixin headline7;
  }
}

.overviewInfo {
  display: grid;
  padding: 77px 0 0;
  gap: 1rem;
  grid-template-columns: 2fr 5fr 7fr;
  grid-template-rows: auto;
  justify-items: start;

  @media (max-width: $tablet-portrait) {
    display: flex;
    flex-direction: column-reverse;
    padding: 77px 0 0;
    justify-items: start;
  }
}

.descriptionSet {
  @media (max-width: $tablet-portrait) {
    padding: 0 25px 60px;
  }
}

.descriptionWrapper {
  min-width: 90%;
  grid-column: 2/3;

  @media (max-width: $tablet-portrait) {
    padding: 0;
    background-color: var(--white);
    grid-column: auto;
    grid-row: 2/2;
    justify-self: center;
  }
}

.description {
  @mixin text;
  @mixin textLarge;

  overflow: hidden;
  max-width: 479px;
  max-height: 100%;
  margin: 0 0 30px;
  white-space: pre-wrap;

  @media (max-width: $tablet-portrait) {
    padding: 56px 0 0;
  }
}

.descriptionExpanded {
  max-height: 200px;
}

.authorLinks {
  max-width: 479px;
  padding: 80px 0 0;

  @media (max-width: $tablet-portrait) {
    padding: 0 25px 70px;
  }
}

.linkHeading {
  @mixin text;
  @mixin textLarge;

  font-feature-settings: "ss01" on;
}

.link {
  min-width: 25px;
}

.tagLink {
  display: inline-block;
  border-bottom: 1px solid currentColor;
  color: inherit;
  text-decoration: none;
}

.overviewContacts {
  max-width: 610px;
}

.overviewSet {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0;
  justify-self: center;

  @media (max-width: 1130px) {
    max-width: 400px;
  }

  @media (max-width: $tablet-portrait) {
    max-width: 300px;
    padding: 0 25px 100px;
    grid-column: auto;
    grid-row: 1/2;
    justify-self: center;
  }

  @media (max-width: 414px) {
    justify-self: start;
  }
}

.overviewSocialWrapper {
  display: grid;
  justify-content: start;
  margin: 0 0 53px;

  &:last-of-type {
    margin: 0;
  }
}

.overviewTagsBlock {
  margin: 0 0 53px;
}

.overviewSocialLinkBlock {
  width: 100%;
}

.overviewSocialLink {
  display: inline-block;
  margin: 0 8px 8px 0;
}

.overviewSocialLinkHeading {
  @mixin headline;
  @mixin headline7;

  margin: 0 0 20px;
}

.email {
  @mixin headline;
  @mixin headline7;

  margin: 6px 0;
}

.overviewTagsHeading {
  @mixin headline;
  @mixin headline7;

  margin: 0 0 15px;
}

.tagWrapper {
  width: 100%;
}

.tag {
  display: inline-block;
  margin: 0 8px 8px 0;
}
