.overview {
  background-color: var(--beige);
}

.personalInfo {
  display: grid;
  grid-template-areas:
    'button photo fullName'
    'button photo city'
    'button photo quote';
  grid-template-columns: 2fr 6fr 9fr;
  grid-template-rows: auto;

  @media (max-width: $tablet-portrait) {
    background-color: var(--light-green);
    grid-template-areas:
      'button'
      'photo'
      'fullName'
      'city'
      'quote';
    grid-template-columns: 10fr;
  }
}

.personalInfoNoPhoto {
  display: grid;
  grid-template-areas:
    'button photo fullName'
    'button photo city'
    'button quote empty';
  grid-template-columns: 2fr 6fr 9fr;
  grid-template-rows: auto;

  @media (max-width: $tablet-portrait) {
    background-color: var(--light-green);
    grid-template-areas:
      'button'
      'fullName'
      'city'
      'quote';
    grid-template-columns: 10fr;
  }
}

.button {
  margin: calc(var(--scale) * 30);
  grid-area: button;

  @media (max-width: $tablet-portrait) {
    position: absolute;
    top: calc(var(--scale) * 7);
    left: calc(var(--scale) * 60);
  }

  @media (max-width: 500px) {
    top: calc(var(--scale) * 3);
    left: calc(var(--scale) * 50);
  }
}

.photoBox {
  position: relative;
  overflow: hidden;
  width: calc(var(--scale) * 275);
  height: calc(var(--scale) * 355);
  grid-area: photo;
  justify-self: center;

  @media (max-width: $tablet-portrait) {
    margin: 0 0 0 calc(var(--scale) * 30);
    justify-self: start;
  }

  @media (max-width: 600px) {
    width: calc(var(--scale) * 183);
    height: calc(var(--scale) * 236);
    margin: 0 0 0 calc(var(--scale) * 24);
  }
}

.photo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: inherit;
  height: inherit;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.fullName {
  @mixin headline;
  @mixin headline3;

  width: 100%;
  max-width: calc(var(--scale) * 300);
  margin: calc(var(--scale) * 55) 0 calc(var(--scale) * 10) calc(var(--scale) * 30);
  grid-area: fullName;

  @media (max-width: 600px) {
    @mixin headline4;

    margin: calc(var(--scale) * 16) 0 calc(var(--scale) * 14) calc(var(--scale) * 20);
  }
}

.city {
  @mixin text;
  @mixin textMedium;

  padding: 0 calc(var(--scale) * 30) 0;
  margin: 0 0 calc(var(--scale) * 56);
  grid-area: city;
}

.quote {
  @mixin headline;
  @mixin headline6;

  display: flex;
  flex-direction: inherit;
  padding: 0 calc(var(--scale) * 20) 0 0;
  grid-area: quote;
  quotes: "\00ab" "\00bb";

  &::after {
    align-self: end;
  }

  @media (max-width: $tablet-portrait) {
    margin: 0 0 calc(var(--scale) * 72) calc(var(--scale) * 60);
    justify-self: start;
  }

  @media (max-width: 600px) {
    @mixin headline7;

    margin: calc(var(--scale) * 28) calc(var(--scale) * 20) calc(var(--scale) * 72) calc(var(--scale) * 60);
  }
}

.quoteParagraph {
  @mixin headline;
  @mixin headline6;

  width: 100%;
  max-width: calc(var(--scale) * 600);
  margin: 0 calc(var(--scale) * 10);

  @media (max-width: $tablet-portrait) {
    @mixin headline7;
  }
}

.overviewInfo {
  display: grid;
  padding: calc(var(--scale) * 77) 0;
  gap: 1rem;
  grid-template-columns: 2fr 5fr 7fr;
  grid-template-rows: auto;
  justify-items: start;

  @media (max-width: $tablet-portrait) {
    gap: 5rem;
    grid-template-columns: 10fr;
  }

  @media (max-width: 600px) {
    padding: calc(var(--scale) * 56) 0 calc(var(--scale) * 120);
  }
}

.overviewBlock {
  padding: 0 calc(var(--scale) * 25);
  grid-column: 2/3;

  @media (max-width: $tablet-portrait) {
    grid-column: auto;
    grid-row: 2/2;
    justify-self: center;
  }

  @media (max-width: 600px) {
    padding: 0 calc(var(--scale) * 25);
  }
}

.overviewParagraph {
  @mixin text;
  @mixin textLarge;

  overflow: hidden;
  max-width: calc(var(--scale) * 479);
  max-height: 100%;
  margin: 0 0 calc(var(--scale) * 30);
  transition: all 1s linear;
}

.expandButton {
  max-height: calc(var(--scale) * 200);
}

.overviewBlockAuthorInfo {
  max-width: calc(var(--scale) * 479);
  margin: calc(var(--scale) * 80) 0 0;
}

.overviewLinkHeading {
  @mixin text;
  @mixin textLarge;

  font-feature-settings: 'ss01' on;
}

.link {
  min-width: calc(var(--scale) * 25);
}

.overviewContacts {
  max-width: calc(var(--scale) * 610);
}

.overviewSet {
  display: block;
  width: 100%;
  max-width: calc(var(--scale) * 500);
  margin: 0;
  justify-self: center;

  @media (max-width: 1130px) {
    max-width: calc(var(--scale) * 400);
  }

  @media (max-width: $tablet-portrait) {
    max-width: calc(var(--scale) * 300);
    grid-column: auto;
    grid-row: 1/2;
    justify-self: center;
  }

  @media (max-width: 414px) {
    margin: 0 0 0 calc(var(--scale) * 25);
    justify-self: start;
  }
}

.overviewSocialWrapper {
  display: grid;
  justify-content: start;
  margin: calc(var(--scale) * 53) 0 0;
}

.overviewSocialLinkBlock {
  display: grid;
  gap: calc(var(--scale) * 8);
  grid-template-columns: repeat(5, 1fr);
}

.overviewSocialLinkHeading {
  @mixin headline;
  @mixin headline7;

  margin: 0 0 calc(var(--scale) * 20);
}

.email {
  @mixin headline;
  @mixin headline7;

  margin: calc(var(--scale) * 6) 0;
}

.overviewTagsHeading {
  @mixin headline;
  @mixin headline7;

  margin: 0 0 calc(var(--scale) * 15);
}

.tagWrapper {
  width: 100%;
}

.tag {
  display: inline-block;
  margin: 0 calc(var(--scale) * 8) calc(var(--scale) * 8) 0;
}
