@define-mixin separator {
  position: absolute;
  top: min(calc(11 * var(--vw-size-multiplier)), 11px);
  right: -1px;
  bottom: 0;
  border-right: 1px solid var(--black);
  content: '';
}

.navbarSection {
  position: relative;
  display: flex;
  padding: 0 min(calc(17 * var(--vw-size-multiplier)), 17px);
}

.separator {
  &::after {
    @mixin separator;
  }
}

.auto {
  flex: initial;
}

.max {
  flex: 1;
}
