.footer {
  @mixin text;

  display: grid;
  padding: scale(42px 32px 56px);
  font-size: scale(14px);
  grid-template:
    "logo partners partners   partners"
    "logo address  navigation projects"
    "logo footnote footnote   footnote" 1fr / min-content 1fr scale(360px) scale(244px);
  line-height: scale(17px);
}

.logo {
  width: scale(93px);
  height: scale(80px);
  margin-right: scale(82px);
  grid-area: logo;
}

.footnote {
  display: flex;
  margin-top: scale(49px);
  grid-area: footnote;
}

.credits {
  display: flex;
  width: scale(424px);
  margin: 0 0 0 auto;

  dt {
    &::after {
      display: inline;
      content: ' –';
    }
  }

  dd {
    margin: 0;
  }
}

.shishki {
  display: grid;
  margin-right: scale(38px);
  grid-template:
    "logo text"
    "logo text" 1fr / min-content 1fr;

  &::before {
    display: block;
    width: scale(27px);
    height: scale(25px);
    margin-right: scale(4px);
    background-image: url('./footer.assets/shishki.svg');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    grid-area: logo;
  }
}
