.footer {
  display: grid;
  padding: 42px 32px 54px;
  grid-template:
    "logo partners partners   partners"
    "logo address  navigation projects"
    "logo footnote footnote   footnote" 1fr / min-content 1fr 356px 272px;

  @media (max-width: $tablet-portrait) {
    @mixin textMedium;

    padding: 0;
    grid-template:
      "logo"
      "address"
      "navigation"
      "projects"
      "partners"
      "footnote";
  }
}

.logo {
  width: 93px;
  height: 80px;
  margin-right: 82px;
  grid-area: logo;

  @media (max-width: $tablet-portrait) {
    margin: 56px 0 0 58px;
  }
}

.footnote {
  margin-top: 49px;
  grid-area: footnote;

  @media (max-width: $tablet-portrait) {
    border-top: 1px solid black;
    margin-top: 92px;
  }
}
