@import '../performance-layout.vars.module.css';

.root {
  display: inline-block;
  width: $right-column-width-tablet-portrait;
  margin-bottom: 48px;

  @media (max-width: $tablet-portrait) {
    display: block;
    width: auto;
    order: 3;
  }
}

.inner {
  position: relative;
  height: 614px;
  margin-right: -$page-padding-tablet-portrait;

  @media (max-width: $tablet-portrait) {
    height: 450px;
    margin: 0 -$page-padding-smartphone 56px -$page-padding-smartphone;
  }
}
