.section {
  display: grid;
  padding-top: scale(60px);
  justify-items: center;

  @media (max-width: $tablet-portrait) {
    box-sizing: border-box;
    padding: scale(18px 24px 0);
    justify-items: initial;
  }
}

.wrapper {
  max-width: scale(460px);

  @media (max-width: $tablet-portrait) {
    max-width: scale(286px);
  }
}

.width {
  max-width: scale(640px);

  @media (max-width: $tablet-portrait) {
    max-width: scale(286px);
  }
}

.title {
  @mixin headline;
  @mixin headline2;

  display: inline;
  margin-right: scale(15px);

  @media (max-width: $tablet-portrait) {
    @mixin headline4;
  }
}

.buttonContainer {
  display: inline-block;
  max-width: scale(180px);
  margin-top: 4px;
}

.desc {
  @mixin text;
  @mixin textLarge;

  max-width: scale(432px);
  margin-top: scale(10px);

  @media (max-width: $tablet-portrait) {
    display: none;
  }
}

.margin {
  margin: scale(10px auto 0);
}

.icon > svg {
  width: scale(24px);
  height: scale(24px);
}
