.section {
  margin: 0 auto;
  grid-area: title;

  @media (max-width: $tablet-portrait) {
    width: 100%;
  }
}

.wrapper {
  margin-bottom: scale(10px);

  @media (max-width: $tablet-portrait) {
    padding: 0 scale(24px);
    margin-bottom: 0;
  }
}

.title {
  @mixin headline;
  @mixin headline2;

  margin-bottom: scale(14px);
  white-space: pre-wrap;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    max-width: scale(192px);
  }
}

.buttonContainer {
  width: 100%;
  max-width: scale(180px);
}

.button {
  border-color: var(--true-black);
}

.desc {
  @mixin text;
  @mixin textLarge;

  width: 100%;
  max-width: scale(432px);

  @media (max-width: $tablet-portrait) {
    display: none;
  }
}

.icon > svg {
  width: scale(24px);
  height: scale(24px);
}
