.title {
  @mixin headline;
  @mixin headline4;

  max-width: 716px;
  margin: 0 auto 76px;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    max-width: 366px;
  }
}

.list {
  display: flex;
  overflow: hidden; /* TODO: удалить после исправления верстки карточки спектакля */
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  @media (max-width: $tablet-portrait) {
    display: block;
  }
}

.item {
  display: block;
  width: calc((100% - 2 * 56px) / 3);

  @media (max-width: $tablet-portrait) {
    width: 100%;
  }

  &:first-child {
    margin-left: auto;

    @media (max-width: $tablet-portrait) {
      margin-left: unset;
    }
  }

  &:last-child {
    margin-right: auto;

    @media (max-width: $tablet-portrait) {
      margin-right: unset;
    }
  }

  &:nth-child(n+4) {
    margin-top: 56px;

    @media (max-width: $tablet-portrait) {
      margin-top: unset;
    }
  }

  &:first-child:nth-last-child(2) {
    margin-right: 120px;

    &::after {
      right: -60px;
    }
  }

  &:not(:nth-child(3n)):not(:last-child) {
    position: relative;
    margin-right: 56px;

    &::after {
      position: absolute;
      top: 0;
      right: calc(-1 * 28px);
      bottom: 12px;
      display: block;
      width: 1px;
      background-color: var(--coal);
      content: '';

      @media (max-width: $tablet-portrait) {
        content: none;
      }
    }
  }
}

.hasOneChild {
  display: flex;
  justify-content: center;

  .title {
    max-width: 450px;
    margin: 0 60px 0 0;
  }
}
