.wrap {
  position: relative;
}

.topWrap {
  position: absolute;
  z-index: -1;
  top: calc(91px * -1);
  left: 0;
  width: 100%;
  height: 0;

  @media (max-width: $tablet-portrait) {
    height: 90%;
  }
}

.top {
  position: sticky;
  top: 0;
  width: 100%;
  height: 0;
  background-color: var(--white);

  @media (max-width: $tablet-portrait) {
    height: 140px;
  }
}

.content {
  position: relative;
  z-index: 0;
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 58px 0 210px;
  margin: 0 auto;

  @media (max-width: $tablet-portrait) {
    padding: 0 0 100px;
  }
}

.menuWrap {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: calc(100% - 270px);

  @media (max-width: $tablet-portrait) {
    top: 47px;
    left: 0;
    width: 100%;
    height: calc(100% - 166px);
  }
}

.menu {
  position: sticky;
  top: 0;
  left: auto;
  height: 62px;
  box-sizing: border-box;
  align-self: flex-start;
  padding-top: 21px;
  padding-left: 30px;
  background-color: var(--beige);

  @media (max-width: $tablet-portrait) {
    top: calc(9px * -1);
    height: 134px;
    padding-top: 48px;
    padding-left: 24px;
    background-color: var(--white);
  }
}

.title {
  @mixin headline;
  @mixin headline1;

  z-index: 4;
  width: 720px;
  box-sizing: border-box;
  align-self: flex-end;
  padding-right: 108px;
  margin: 0 0 16px;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    width: 298px;
    align-self: flex-start;
    padding-right: 24px;
    margin: 0 0 8px 24px;
  }
}

.search {
  position: sticky;
  z-index: 3;
  top: 30px;
  width: 800px;
  height: 52px;
  box-sizing: border-box;
  padding: 0 80px 20px;
  margin-left: 30px;
  background-color: var(--beige);

  &::before {
    position: absolute;
    z-index: 0;
    top: calc(30px * -1);
    left: 0;
    width: 100%;
    height: 30px;
    background-color: var(--beige);
    content: '';
  }

  @media (max-width: $tablet-portrait) {
    position: static;
    width: 100%;
    height: 32px;
    padding: 0 24px;
    margin-bottom: 77px;
    margin-left: 0;
    background-color: var(--white);

    &::before {
      height: 0;
    }
  }
}

.pagination {
  width: 100%;
  margin-bottom: calc(48px * -1);

  @media (max-width: $tablet-portrait) {
    margin-bottom: 0;
  }
}

.tabLink {
  margin: 0;
  opacity: .2;

  &:hover {
    opacity: 1;
  }
}

.active {
  opacity: 1;
}
