.wrap {
  position: relative;
}

.topWrap {
  position: absolute;
  z-index: -1;
  top: -91px;
  left: 0;
  width: 100%;
  height: 90%;
}

.top {
  position: sticky;
  top: 0;
  width: 100%;
  height: 0;
  background-color: var(--white);

  @media (max-width: $tablet-portrait) {
    height: 140px;
  }
}

.content {
  position: relative;
  z-index: 0;
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 58px scale(35px) 210px;
  margin: 0 auto;

  @media (max-width: $tablet-portrait) {
    padding: 0 0 100px;
  }
}

.menuWrap {
  position: absolute;
  z-index: 1;
  top: 0;
  left: scale(35px);
  height: calc(100% - 270px);

  @media (max-width: $tablet-portrait) {
    top: 81px;
    left: 0;
    width: 100%;
    height: calc(100% - 200px);
  }
}

.menu {
  position: sticky;
  top: 0;
  left: auto;
  height: 62px;
  box-sizing: border-box;
  align-self: flex-start;
  padding-top: 21px;
  background-color: var(--beige);

  @media (max-width: $tablet-portrait) {
    height: 100px;
    padding-top: 16px;
    padding-left: scale(24px);
    background-color: var(--white);
  }
}

.title {
  @mixin headline;
  @mixin headline1;

  z-index: 4;
  width: scale(612px);
  align-self: flex-end;
  margin: 0 0 16px;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    width: scale(298px);
    align-self: flex-start;
    margin: 0 0 8px 24px;
  }
}

.search {
  position: sticky;
  position: -webkit-sticky;
  z-index: 3;
  top: 34px;
  width: scale(610px);
  box-sizing: border-box;
  padding: 0 20px 34px;
  background-color: var(--beige);

  &::before {
    position: absolute;
    z-index: 0;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: var(--beige);
    content: '';
  }

  @media (max-width: $tablet-portrait) {
    position: static;
    width: 100%;
    padding: 0 24px;
    margin-bottom: 77px;
    background-color: var(--white);

    &::before {
      height: 0;
    }
  }
}

.pagination {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 40px;

  @media (max-width: $tablet-portrait) {
    padding-bottom: 0;
  }
}
