.information {
  display: grid;
  padding: 85px 120px;
  grid-template-columns: 1fr 3fr 6fr;
  grid-template-rows: auto;

  @media (max-width: 959px) {
    padding: 85px 100px 85px 0;
  }

  @media (max-width: $tablet-portrait) {
    padding: 56px 25px;
    grid-template-columns: 10fr;
  }
}

.heading {
  @mixin headline;
  @mixin headline4;

  grid-column: 2/3;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    padding: 0;
    grid-column: 1/1;
  }
}

.blocksInfo {
  padding: 0;
  margin: 124px 0 0;

  @media (max-width: $tablet-portrait) {
    margin: 24px 0 0;
  }
}

.anchorHeading {
  @mixin text;
  @mixin textLarge;

  margin: 4px 6px 9px;
  font-feature-settings: "ss01" on;
}

.anchor {
  min-width: 25px;
}
