.information {
  display: grid;
  padding: calc(var(--scale) * 85) calc(var(--scale) * 120);
  grid-template-columns: 1fr 3fr 6fr;
  grid-template-rows: auto;

  @media (max-width: 959px) {
    padding: calc(var(--scale) * 85) calc(var(--scale) * 40) calc(var(--scale) * 85) 0;
  }

  @media (max-width: 728px) {
    padding: calc(var(--scale) * 56) calc(var(--scale) * 25);
    grid-template-columns: 10fr;
  }
}

.heading {
  @mixin headline;
  @mixin headline4;

  max-width: calc(var(--scale) * 490);
  grid-column: 2/3;

  @media (max-width: 728px) {
    @mixin headline6;

    grid-column: 1/1;
  }
}

.blocksInfo {
  padding: 0;
  margin: calc(var(--scale) * 124) 0 0;
  list-style-type: none;

  @media (max-width: 728px) {
    margin: calc(var(--scale) * 24) 0 0;
  }
}

.anchor {
  display: flex;
  width: 100%;
  max-width: calc(var(--scale) * 751);
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  border-top: 1px solid var(--coal);
  text-decoration: none;
}

.anchorHeading {
  @mixin text;
  @mixin textLarge;

  margin: calc(var(--scale) * 4) calc(var(--scale) * 6) calc(var(--scale) * 24);
  font-feature-settings: 'ss01' on;
}

.anchorButton {
  margin: calc(var(--scale) * 10) 0 0;
}
