.container {
  padding: scalesize(79px 511px 120px 360px);
  background-color: var(--light-green);

  @media (max-width: $tablet-portrait) {
    padding: scalesize(55px 0 72px);
  }
}

.title {
  @mixin headline;
  @mixin headline4;

  margin: scalesize(0 0 17px);

  @media (max-width: $tablet-portrait) {
    margin: scalesize(0 24px 17px);
  }
}

.desc {
  @mixin text;
  @mixin textLarge;

  max-width: scalesize(509px);
  margin: 0 0 0 auto;

  @media (max-width: $tablet-portrait) {
    max-width: scalesize(304px);
    margin: scalesize(0 24px 0 auto);
  }
}
