.headline {
  display: grid;
  padding-left: scale(120px);
  grid-column-gap: scale(120px);
  grid-template:
    "title       image"
    "description image" 1fr
    "date    image"
    "actions     image"
    ".           image" scale(57px)
    ".           text" / 1fr scale(720px);

  @media (max-width: $tablet-portrait) {
    padding-left: 0;
    grid-template-areas:
      "title"
      "description"
      "date"
      "actions"
      "image"
      "image"
      "text";
    grid-template-columns: 1fr;
  }
}

.title {
  @mixin headline;
  @mixin headline1;

  margin: scale(62px) 0 0;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    margin: scale(0 24px);
  }
}

.description {
  @mixin headline;
  @mixin headline7;

  padding-left: scale(60px);
  margin-top: scale(36px);

  @media (max-width: $tablet-portrait) {
    padding-left: scale(86px);
    margin-top: scale(16px);
    margin-right: scale(24px);
  }
}

.image {
  position: relative;
  height: scale(614px);
  grid-area: image;

  @media (max-width: $tablet-portrait) {
    height: scale(450px);
  }
}

.text {
  @mixin headline;
  @mixin headline6;

  padding-right: scale(130px);
  margin: scale(48px 0 0);
  grid-area: text;

  @media (max-width: $tablet-portrait) {
    @mixin headline7;

    padding: scale(0 24px);
    margin: scale(56px 0 0);
  }
}

.date {
  @mixin headline;
  @mixin headline6;

  margin: scale(0 0 16px);
  grid-area: date;

  @media (max-width: $tablet-portrait) {
    padding-left: scale(89px);
    margin: scale(31px 0 0);
  }
}

.actions {
  grid-area: actions;

  @media (max-width: $tablet-portrait) {
    padding-left: scale(85px);
    margin-top: scale(16px);
    margin-bottom: scale(38px);
  }
}

.action {
  min-width: scale(240px);
}
