@import '../performance-layout/performance-layout.vars.module.css';

.title {
  @mixin headline;
  @mixin headline2;

  margin: 0 0 36px;
  word-wrap: break-word;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    margin-bottom: 16px;
  }
}

.description {
  @mixin headline;
  @mixin headline7;

  padding-left: 60px;

  @media (max-width: $tablet-portrait) {
    min-height: initial;
  }
}

.text {
  @mixin headline;
  @mixin headline6;

  margin-top: 48px;

  @media (max-width: $tablet-portrait) {
    @mixin headline7;

    margin-top: 56px;
  }
}
