.details {
  @mixin headline;
  @mixin headline6;

  display: flex;
  margin-bottom: scale(18px);
  gap: scale(33px);
  line-height: scale(36px);
}

.ageLimit {
  position: relative;
}

.ageLimit::before {
  position: absolute;
  top: 0;
  left: calc(-1 * scale(16px));
  width: scale(1px);
  height: scale(32px);
  background-color: var(--coal);
  content: '';
}
