.details {
  @mixin headline;
  @mixin headline6;

  display: flex;
  margin-bottom: 18px;
  line-height: 36px;
}

.ageRestriction {
  position: relative;
  margin-left: 33px;
}

.ageRestriction::before {
  position: absolute;
  top: 0;
  left: calc(-1 * 16px);
  width: 1px;
  height: 32px;
  background-color: var(--coal);
  content: "";
}
