.description {
  @mixin headline;
  @mixin headline6;

  max-width: 387px;
  margin-bottom: 30px;

  @media (max-width: $tablet-portrait) {
    @mixin headline7;

    max-width: 305px;
    margin-bottom: 24px;
    margin-left: 62px;
  }
}

.button {
  @media (max-width: $tablet-portrait) {
    margin-left: 62px;
  }
}
