.description {
  @mixin headline;
  @mixin headline6;

  max-width: scale(387px);
  margin-bottom: scale(30px);

  @media (max-width: $tablet-portrait) {
    @mixin headline7;

    max-width: scale(305px);
    margin-bottom: scale(24px);
    margin-left: scale(62px);
  }
}

.button {
  @media (max-width: $tablet-portrait) {
    margin-left: scale(62px);
  }
}
