.root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  padding: 20px 0 20px 60px;
  border-top: 1px solid var(--coal);

  @media (max-width: $tablet-portrait) {
    padding: 16px 0;
  }
}
