.section {
  display: flex;
  flex-direction: column;
  padding: 0 calc(var(--scale) * 32);

  @media (max-width: $tablet-portrait) {
    padding: 0;
  }
}

.sliderContainer {
  margin: scale(10px);
}

.sliderItem {
  width: 50%;
  margin: auto;
  text-align: center;

  /* padding: 0 scale(10px); */
}
