.container {
  display: flex;
  box-sizing: border-box;
  border-left: scale(1px) solid var(--coal);
  transform: translateY(8px);
  transition: transform .1s ease-out;
}

.lower {
  transform: translateY(280px);
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 scale(8px 4px 8px);
  margin: 0;
  column-gap: scale(8px);
  list-style: none;
  row-gap: scale(8px);
}
