.container {
  display: flex;
  box-sizing: border-box;
  border-left: 1px solid var(--coal);
  background-color: var(--beige);
  transform: translateY(8px);
  transition: transform .2s ease-out;
}

.lower {
  transform: translateY(320px);
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px 4px 8px;
  margin: 0;
  column-gap: 8px;
  list-style: none;
  row-gap: 8px;
}
