.root {
  display: flex;

  @media (max-width: $tablet-portrait) {
    box-sizing: border-box;
    padding: 32px 14px 32px 24px;
    border-top: var(--coal) solid 1px;
  }
}

.image {
  position: relative;
  width: 120px;
  height: 160px;
  margin-right: 30px;
  object-fit: cover;

  @media (max-width: $tablet-portrait) {
    width: 92px;
    height: 124px;
  }
}

.info {
  display: flex;
  max-width: 269px;
  flex-direction: column;
  justify-content: space-evenly;

  @media (max-width: $tablet-portrait) {
    max-width: 243px;
  }
}

.date-time {
  @mixin text;
  @mixin textLarge;

  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.date {
  padding: 0;
  margin: 0;
  margin-right: 42px;

  @media (max-width: $tablet-portrait) {
    margin-right: 46px;
  }
}

.title {
  @mixin headline;
  @mixin headline5;

  max-width: 419px;
  margin-bottom: 16px;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    max-width: 243px;
    margin-bottom: 8px;
  }
}

.credits {
  @mixin text;
  @mixin textSmall;

  margin-bottom: 20px;
  margin-left: 30px;

  @media (max-width: $tablet-portrait) {
    margin-bottom: 8px;
    margin-left: 0;
  }
}

.description {
  @mixin text;
  @mixin textSmall;

  margin-bottom: 16px;

  p {
    margin: 0;
  }
}

.action {
  &:not(:last-child) {
    margin-bottom: 16px;

    @media (max-width: $tablet-portrait) {
      margin-right: 26px;
      margin-bottom: 0;
    }
  }
}

.actions {
  @media (max-width: $tablet-portrait) {
    display: flex;
  }
}
