@import '../performance-layout.vars.module.css';

.root {
  grid-area: summary;

  @media (max-width: $tablet-portrait) {
    padding: 58px $page-padding-smartphone 72px;
    margin: 0 -$page-padding-smartphone 24px;
    background-color: var(--white);
  }
}
