.container {
  --padding: 24px;

  padding: 0 var(--padding);
  margin: 0 auto;

  @media (min-width: $tablet-portrait) {
    --padding: 32px;
  }

  @media (min-width: 1440px) {
    padding-right: calc((100% - var(--page-content-max-width) + var(--padding) * 2) / 2);
    padding-left: calc((100% - var(--page-content-max-width) + var(--padding) * 2) / 2);
  }
}
