.overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: var(--beige);
  opacity: 0;
  transition: visibility 100ms, opacity 100ms ease;
  visibility: hidden;
}

.visible {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}
