$page-padding-smartphone: 24px;
$page-padding-tablet-portrait: 120px;
$column-gap-tablet-portrait: 80px;

/* Устанавливаем ширину блоков левой колонки с float: left в 51%, чтобы они не размещались в строку  */
$left-column-width-tablet-portrait: calc(51% - $column-gap-tablet-portrait);
$right-column-width-tablet-portrait: 49%;
