@import url("./performance-layout.vars.module.css");

.root {
  padding: 0 $page-padding-tablet-portrait;

  @media (max-width: $tablet-portrait) {
    display: flex;
    flex-direction: column;
    padding: 40px $page-padding-smartphone 0;
  }
}

.headline {
  width: $left-column-width-tablet-portrait;
  margin: 62px $column-gap-tablet-portrait 100px 0;
  float: left;

  @media (max-width: $tablet-portrait) {
    width: auto;
    order: 1;
    margin: 0 0 30px;
    float: none;
  }
}

.video {
  height: 389px;
  margin-bottom: 66px;

  @media (max-width: $tablet-portrait) {
    height: 206px;
    margin-bottom: 32px;
  }
}

.text {
  margin-bottom: 80px;
}

.card_in_performance {
  max-width: 240px;

  @media (max-width: $tablet-portrait) {
    max-width: 244px;
    margin: 0 auto;
  }
}
