@import './performance-layout.vars.module.css';

.root {
  display: grid;
  padding: 0 $page-padding-tablet-portrait;
  grid-template:
    "headline      headline"
    "summary       content"
    "gallery       gallery"
    "media-reviews media-reviews"
    "reviews       reviews"
    "bottom-image  bottom-image"
    "share         share";

  @media (max-width: $tablet-portrait) {
    display: block;
    padding: 40px $page-padding-smartphone 0;
  }
}

.headline {
  margin-bottom: 68px;
  grid-area: headline;

  @media (max-width: $tablet-portrait) {
    margin-bottom: 100px;
  }
}

.video {
  height: 389px;
  margin-bottom: 66px;

  @media (max-width: $tablet-portrait) {
    height: 206px;
    margin-bottom: 32px;
  }
}

.text {
  margin-bottom: 80px;
}

.play {
  margin-bottom: 144px;
}
