.layout {
  display: grid;
  grid-template:
    "headline      headline"
    "aside         video"
    "aside         text"
    "aside         play"
    "gallery       gallery"
    "critique      critique"
    "review        review"
    "bottom-image  bottom-image"
    "share         share" 1fr / 1fr scale(720px);

  @media (max-width: $tablet-portrait) {
    grid-template:
      "headline"
      "aside"
      "video"
      "text"
      "play"
      "gallery"
      "critique"
      "review"
      "bottom-image"
      "share" 1fr;
  }
}
