.default {
  display: flex;
  width: 210px;
  height: 137px;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-bottom: 16px;

  @media (max-width: $tablet-portrait) {
    width: 182.52px;
    height: 118.5px;
    margin-right: 0;
    margin-bottom: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.compact {
  display: block;

  @media (max-width: $tablet-portrait) {
    display: flex;
    width: 50%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
  }

  &:not(:last-child) {
    margin-right: 28px;

    @media (max-width: $tablet-portrait) {
      margin-right: 0;
    }
  }
}

.logo-canvas {
  position: relative;
  width: 100px;
  height: 40px;
}

.logo {
  margin: auto;
}

.hidden-text {
  @mixin visually-hidden;
}
