.logotype {
  display: flex;
  align-self: center;
  place-content: center;

  @media (min-width: $tablet-portrait) {
    margin-right: calc(var(--vw-multiplier-tablet-portrait) * 33);
  }

  @media (min-width: 1440px) {
    margin-right: 33px;
  }
}
