.section {
  display: grid;
  padding: calc(var(--scale) * 66) 0 calc(var(--scale) * 166);
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $tablet-portrait) {
    display: flex;
    flex-direction: column;
    padding: 0 0 calc(var(--scale) * 100) 0;
  }
}

.event {
  padding: 0 calc(var(--scale) * 30) calc(var(--scale) * 72);
  border-right: 1px solid var(--coal);

  &&:nth-last-child(-n+3) {
    padding-bottom: 0;
  }

  &&:nth-child(3n) {
    padding-right: 0;
    border-right: none;
  }

  @media (max-width: $tablet-portrait) {
    width: inherit;
    padding: calc(var(--scale) * 32) calc(var(--scale) * 27);
    border-top: 1px solid var(--coal);
    border-right: none;
    margin-bottom: 0;

    &&:nth-last-child(-n+3) {
      padding-bottom: calc(var(--scale) * 32);
    }

    &&:nth-child(3n) {
      padding-right: calc(var(--scale) * 27);
    }

    &&:last-of-type {
      border-bottom: 1px solid var(--coal);
    }
  }
}
