.section {
  display: grid;
  padding: 66px 0 166px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $tablet-portrait) {
    display: flex;
    flex-direction: column;
    padding: 0 0 100px 0;
  }
}

.event {
  padding: 0 30px 72px;
  border-right: 1px solid var(--coal);

  &&:nth-last-child(-n+3) {
    padding-bottom: 0;
  }

  &&:nth-child(3n) {
    padding-right: 0;
    border-right: none;
  }

  @media (max-width: $tablet-portrait) {
    width: inherit;
    padding: 32px 27px;
    border-right: none;
    margin-bottom: 0;

    &&:nth-last-child(-n+3) {
      padding-bottom: 32px;
    }

    &&:nth-child(3n) {
      padding-right: 27px;
    }

    &&:last-of-type {
      border-bottom: 1px solid var(--coal);
    }
  }
}

.spinner {
  width: 64px;
  margin: 0 auto;
}
