.container {
  position: relative;
  box-sizing: border-box;
  padding: scale(0 77px);

  @media (max-width: $tablet-portrait) {
    padding: 0;
    text-align: right;
  }
}

.containerSlides {
  width: 70%;
  margin: auto;
}

.slider {
  @media (max-width: $tablet-portrait) {
    margin-top: scale(19px);
  }
}

.slide {
  position: relative;

  &::before {
    display: block;
    width: 100%;
    padding-top: calc((7 / 11) * 100%);
    content: "";
  }
}

.arrow {
  position: absolute;
  top: 50%;
  width: scale(48px);
  height: scale(48px);
  transform: translateY(-50%);
}

.arrowLeft {
  left: 0;
}

.arrowRight {
  right: 0;
}

.arrowButton {
  width: 100%;
  height: 100%;
}
