.partners {
  grid-area: partners;

  @media (max-width: $tablet-portrait) {
    margin-top: 84px;
  }
}

.title {
  @mixin text;
  @mixin textCaption;

  display: block;
  max-width: 100px;
  margin-bottom: 28px;
  color: var(--coal);

  @media (max-width: $tablet-portrait) {
    display: none;
  }
}
