.card {
  width: scale(420px);
  list-style-type: none;

  @media (max-width: $tablet-portrait) {
    border-top: var(--coal) solid 1px;
  }
}

.container {
  display: flex;

  @media (max-width: $tablet-portrait) {
    width: scale(414px);
    padding: scale(32px 14px 32px 24px);
  }
}

.cover {
  /* position: relative; */
  width: scale(120px);
  height: scale(161px);
  margin-right: scale(31px);
  object-fit: cover;

  @media (max-width: $tablet-portrait) {
    width: scale(92px);
    height: scale(123px);
    margin-right: scale(29px);
  }
}

.info {
  display: flex;
  width: scale(269px);
  flex-direction: column;
  justify-content: space-evenly;

  @media (max-width: $tablet-portrait) {
    width: scale(243px);
  }
}

.dateInfo {
  @mixin text;
  @mixin textLarge;

  display: flex;
  flex-direction: row;
}

.date {
  padding: 0;
  margin: 0;
  margin-right: scale(44px);

  @media (max-width: $tablet-portrait) {
    margin-right: scale(46px);
  }
}

.time {
  padding: 0;
  margin: 0;
}

.title {
  @mixin headline;
  @mixin headline5;

  max-width: scale(419px);
  margin-top: scale(4px);
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    max-width: scale(243px);
    margin-top: scale(16px);
  }
}

.titleNoCover {
  margin-top: scale(16px);
}

.credits {
  @mixin text;
  @mixin textSmall;

  display: flex;
  max-width: scale(240px);
  flex-direction: column;
  margin: scale(16px 0 0 30px);

  @media (max-width: $tablet-portrait) {
    max-width: scale(243px);
    margin: scale(8px 0 0 0);
  }
}

.creditsEntry {
  display: block;
  padding: 0;
  margin: 0;
}

.eventDescription {
  @mixin text;
  @mixin textSmall;

  width: scale(359px);
  margin: scale(16px 0 0 30px);

  @media (max-width: $tablet-portrait) {
    margin-left: 0;
  }
}

.description {
  @mixin text;
  @mixin textCaption;

  width: scale(150px);
  padding-top: scale(20px);
  margin: 0;

  @media (max-width: $tablet-portrait) {
    padding-top: scale(8px);
  }
}

.button {
  display: grid;
  width: scale(154px);
  margin-bottom: scale(16px);
  grid-template-columns: scale(21px) max-content;

  @media (max-width: $tablet-portrait) {
    margin-right: scale(26px);
    margin-bottom: 0;
  }
}

.button > svg {
  width: scale(25px);
  height: scale(25px);
}

.button:last-child {
  margin-bottom: 0;
}

.buttonContainer {
  margin-top: scale(16px);

  @media (max-width: $tablet-portrait) {
    display: flex;
    width: scale(380px);
    flex-direction: row;
  }
}

.buttonContainerCoverExists {
  @media (max-width: $tablet-portrait) {
    margin-top: scale(48px);
    margin-left: calc(var(--scale) * -123);
  }
}

.buttonContainerNoCover {
  @media (max-width: $tablet-portrait) {
    margin-left: 0;
  }
}
