.cardEvents {
  display: flex;
  width: 419px;
  flex-direction: row;
  font-family: 'Formular', 'PP Neue Machina', Helvetica, Arial, sans-serif;
  list-style-type: none;

  @media (max-width: $mobile-landscape) {
    padding: 32px 0;
    border-top: var(--coal) solid 1px;
  }
}

.cardEvents:last-child {
  @media (max-width: $mobile-landscape) {
    border-bottom: var(--coal) solid 1px;
  }
}

.coverEvents {
  width: 120px;
  height: 161px;
  padding-right: 31px;
  object-fit: cover;

  @media (max-width: $mobile-landscape) {
    width: 92px;
    height: 123px;
  }
}

.infoEvents {
  display: flex;
  width: 269px;
  flex-direction: column;
  justify-content: space-evenly;
}

.dateInfo {
  display: flex;
  flex-direction: row;
}

.bodyText {
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}

.date {
  padding: 0;
  margin: 0;
  margin-right: 44px;

  @media (max-width: $mobile-landscape) {
    margin-right: 46px;
  }
}

.timeEvents {
  padding: 0;
  margin: 0;
}

.title {
  margin-top: 16px;
}

.h5 {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 38px;
}

.h6 {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
}

.credits {
  display: flex;
  width: 254px;
  flex-direction: column;
  margin: 16px 0 0 30px;

  @media (max-width: $mobile-landscape) {
    margin-left: 0;
  }
}

.creditsEntry {
  display: inline;
  padding: 0;
  margin: 0;
}

.description {
  width: 150px;
  padding-top: 20px;
  margin: 0;
}

.caption {
  font-size: 14px;
  font-weight: 300px;
  line-height: 17px;
}

.buttonEvents {
  width: 154px;
  justify-content: flex-start;
  margin-bottom: 16px;

  @media (max-width: $mobile-landscape) {
    margin-right: 26px;
    margin-bottom: 0;
  }
}

.buttonEvents:last-child {
  margin-bottom: 0;
}

.buttonEventsContainer {
  margin-top: 16px;

  @media (max-width: $mobile-landscape) {
    display: flex;
    flex-direction: row;
  }
}

.buttonEventsContainerTwoLinks {
  @media (max-width: $mobile-landscape) {
    margin-left: -121px;
  }
}

.buttonEventsContainerOneLink {
  @media (max-width: $mobile-landscape) {
    margin-left: 0;
  }
}

.smalltext {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.cardFestival {
  display: flex;
  max-width: 1200px;
  flex-direction: row;
  border-top: var(--coal) solid 1px;
  font-family: 'Formular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  list-style-type: none;

  @media (max-width: $tablet-portrait) {
    position: relative;
    max-width: 414px;
    flex-direction: column;
    padding: 0 23px 48px 24px;
  }
}

.cardFestival:last-child {
  border-bottom: var(--coal) solid 1px;
}

.coverFestival {
  width: 151px;
  height: 191px;
  padding-right: 28px;
  object-fit: cover;

  @media (max-width: $tablet-landscape) {
    width: 127px;
    height: 161px;
  }

  @media (max-width: $tablet-portrait) {
    position: absolute;
    top: 0;
    right: 23px;
    padding: 0;
  }
}

.infoFestival {
  display: flex;
  max-width: 150px;
  flex-direction: column;
  padding-right: 53px;

  @media (max-width: $tablet-landscape) {
    padding-right: 32px;
  }
}

.timeFestival {
  padding-top: 16px;
  margin: 0;

  @media (max-width: $tablet-portrait) {
    padding-top: 20px;
  }
}

.location {
  padding-top: 16px;
  margin: 0;

  @media (max-width: $tablet-portrait) {
    padding-top: 0;
  }
}

.infoPlay {
  max-width: 329px;
  padding-right: 32px;

  @media (max-width: $tablet-landscape) {
    max-width: 229px;
    padding-right: 28px;
  }

  @media (max-width: $tablet-portrait) {
    max-width: 381px;
    padding-right: 8px;
  }
}

.titleFestival {
  padding-top: 16px;

  @media (max-width: $tablet-portrait) {
    padding-top: 111px;
  }
}

.synopsis {
  padding-top: 16px;
  margin: 0;

  @media (max-width: $tablet-portrait) {
    margin-left: 88px;
  }
}

.creditsFestival {
  display: flex;
  max-width: 229px;
  flex-direction: column;
  padding-top: 67px;
  padding-right: 32px;

  @media (max-width: $tablet-landscape) {
    padding-right: 28px;
  }

  @media (max-width: $tablet-portrait) {
    max-width: 318px;
    padding-top: 24px;
  }
}

.buttonFestivalContainer {
  width: 154px;
  margin-top: 67px;

  @media (max-width: $tablet-portrait) {
    align-self: flex-end;
    margin-top: 16px;
  }
}
