.page {
  width: 100%;
  background-color: var(--white);
}

.author {
  max-width: 1440px;
  margin: 0 auto;
}

.overview {
  background-color: var(--beige);
}

.plays {
  padding: 134px 0;
  background-color: var(--beige);
}

.anotherPlays {
  display: grid;
  padding: 85px 120px;
  grid-template-columns: 1fr 3fr 6fr;
  grid-template-rows: auto;

  @media (max-width: 959px) {
    padding: 85px 40px 85px 0;
  }

  @media (max-width: 768px) {
    padding: 56px 25px;
    grid-template-columns: 10fr;
  }
}

.information {
  display: grid;
  padding: 85px 120px;
  grid-template-columns: 1fr 3fr 6fr;
  grid-template-rows: auto;

  @media (max-width: 959px) {
    padding: 85px 40px 85px 0;
  }

  @media (max-width: 768px) {
    padding: 56px 25px;
    grid-template-columns: 10fr;
  }
}

.request {
  display: grid;
  padding: 64px 77px;
  background-color: var(--beige);
  grid-auto-flow: dense;
  grid-template-columns: repeat(1, 2fr);
  justify-items: end;
}

/* Конец блоков секций */

.personalInfo {
  display: grid;
  grid-template-columns: 2fr 6fr 9fr;
  grid-template-rows: auto;

  @media (max-width: 959px) {
    background-color: var(--light-green);
    grid-template-columns: 10fr;
  }
}

.overviewInfo {
  display: grid;
  padding: 77px 0;
  gap: 1rem;
  grid-template-columns: 2fr 5fr 7fr;
  grid-template-rows: auto;
  justify-items: start;

  @media (max-width: 768px) {
    gap: 5rem;
    grid-template-columns: 10fr;
  }

  @media (max-width: 414px) {
    padding: 56px 0 120px;
  }
}

.button {
  margin: 30px;

  @media (max-width: 959px) {
    margin: 30px 100px 30px;
    justify-self: start;
  }

  @media (max-width: 600px) {
    margin: 41px 0 30px 24px;
  }
}

.set {
  display: flex;
  flex-direction: column;
}

.photo {
  width: 275px;
  height: 355px;
  border: 1px solid var(--red);
  justify-self: center;

  @media (max-width: 959px) {
    margin: 0 0 0 100px;
    justify-self: start;
  }

  @media (max-width: 600px) {
    width: 183px;
    height: 236px;
    margin: 0 0 0 24px;
  }
}

.info {
  padding: 0 80px 0 0;

  @media (max-width: 959px) {
    margin: 0 0 0 75px;
  }

  @media (max-width: 600px) {
    margin: 0;
  }
}

.fullName {
  @mixin headline;
  @mixin headline3;

  width: 100%;
  max-width: 440px;
  margin: 55px 0 10px 20px;
  grid-column-end: five;
  grid-column-start: 3;
  grid-row-end: 1;
  grid-row-start: row1-start;

  @media (max-width: 600px) {
    @mixin headline4;

    margin: 16px 0 0 20px;
  }
}

.city {
  @mixin text;
  @mixin textMedium;

  padding: 0 20px 0;
  margin: 0 0 56px;
  grid-column-end: six;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-row-start: row2-start;

  @media (max-width: 414px) {
    margin: 14px 0 0;
  }
}

.quote {
  @mixin headline;
  @mixin headline6;

  display: flex;
  flex-direction: inherit;
  grid-column-end: seven;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-row-start: row3-start;
  quotes: "\00ab" "\00bb";

  &::after {
    align-self: end;
  }

  @media (max-width: 959px) {
    margin: 0 0 72px 60px;
    justify-self: center;
  }

  @media (max-width: 727px) {
    @mixin headline7;

    margin: 28px 0 72px 60px;
  }
}

.quoteParagraph {
  @mixin headline;
  @mixin headline6;

  width: 100%;
  max-width: 600px;
  margin: 0 10px;

  @media (max-width: 768px) {
    @mixin headline7;
  }
}

.overviewBlock {
  grid-column: 2/3;

  @media (max-width: 768px) {
    grid-column: auto;
    grid-row: 2/2;
    justify-self: center;
  }

  @media (max-width: 414px) {
    padding: 0 25px;
  }
}

.overviewButton {
  width: 480px;
}

.overviewParagraph {
  @mixin text;
  @mixin textLarge;

  max-width: 479px;
}

.overviewContacts {
  max-width: 610px;
}

.tag {
  height: 35px;

  &:nth-child(1n) {
    margin: 0 0 6px;
  }
}

.overviewSet {
  justify-self: center;

  @media (max-width: 768px) {
    grid-column: auto;
    grid-row: 1/2;
    justify-self: center;
  }

  @media (max-width: 414px) {
    margin: 0 0 0 25px;
    justify-self: start;
  }
}

.overviewTagsHeading {
  @mixin headline;
  @mixin headline7;

  margin: 0 0 15px;
}

.emailHeading {
  @mixin text;
  @mixin textLarge;
}

.email {
  @mixin headline;
  @mixin headline7;
}

.heading {
  @mixin headline;
  @mixin headline4;

  max-width: 490px;
  grid-column: 2/3;

  @media (max-width: 768px) {
    @mixin headline6;

    grid-column: 1/1;
  }
}

.blocks {
  padding: 0;
  margin: 70px 0 0;
  list-style-type: none;

  @media (max-width: 768px) {
    margin: 24px 0 0;
  }
}

.blocksInfo {
  padding: 0;
  margin: 124px 0 0;
  list-style-type: none;

  @media (max-width: 768px) {
    margin: 24px 0 0;
  }
}

.downloadButton {
  margin: 15px 0 0;
}

.paragraph {
  @mixin headline;
  @mixin headline6;

  max-width: 500px;
  margin: 16px 0 25px;

  @media (max-width: 768px) {
    @mixin headline7;
  }
}

.block {
  display: flex;
  width: 100%;
  max-width: 751px;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  border-top: 1px solid var(--coal);
}

.anchor {
  display: flex;
  width: 100%;
  max-width: 751px;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  border-top: 1px solid var(--coal);
  text-decoration: none;
}

.anchorHeading {
  @mixin text;
  @mixin textLarge;

  margin: 4px 6px 24px;
  font-feature-settings: 'ss01' on;
}

.anchorButton {
  margin: 10px 0 0;
}

.footnoteInfo {
  max-width: 400px;

  @media (max-width: 414px) {
    max-width: 335px;
  }
}

.footnote {
  @mixin text;
  @mixin textLarge;

  font-feature-settings: 'ss01' on;
}

.footnoteAnchor {
  color: var(--black);
}

.asterisk {
  margin: 0 -22px 0;
}
