$border-width: 1px;

.common {
  position: relative;
  z-index: 0;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  border: $border-width solid;
  background-color: transparent;
  cursor: pointer;
  isolation: isolate;
  text-decoration: none;
}

.animation-slide {
  &::before {
    position: absolute;
    z-index: -1;
    top: -$border-width;
    left: -$border-width;
    width: 0;
    height: calc(100% + $border-width * 2);
    background-color: var(--coal);
    content: "";
    transition: width .2s ease-in;
  }

  &:hover {
    color: var(--white);

    &::before {
      width: calc(100% + $border-width * 2);
    }
  }
}

.animation-bottomLine {
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--coal);
    content: "";
    transition: width .5s ease-in;
  }

  &:hover::after {
    width: 100%;
  }
}

.animation-invert {
  transition: background-color .2s ease-in, color .2s ease-in;

  &:hover {
    background-color: var(--coal);
    color: var(--white);
  }
}

.icon-position-left {
  padding: 2px 14px 5px 0;
}

.icon-position-right {
  padding: 2px 0 5px 14px;
}

.icon {
  display: block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  font-size: 0;
  line-height: 0;
}

.icon-left {
  composes: icon;
}

.icon-right {
  composes: icon;
  order: 1;
}

.text {
  @mixin text;
  @mixin text-truncate;

  color: var(--coal);
}

.xs {
  composes: common;

  .text {
    font-size: 14px;
    line-height: 16px;
  }
}

.s {
  composes: common;
  padding: 10px 8px;

  .icon-left:not(:only-child) {
    margin-right: 8px;
  }

  .icon-right:not(:only-child) {
    margin-left: 8px;
  }

  .text {
    font-size: 16px;
    line-height: 20px;
  }
}

.sm {
  composes: common;
  padding: 4px 8px 8px;

  .text {
    font-size: 18px;
    line-height: 23px;
  }
}

.m {
  composes: common;
  padding: 8px;

  .icon-left:not(:only-child) {
    margin-right: 8px;
  }

  .icon-right:not(:only-child) {
    margin-left: 8px;
  }

  .text {
    font-size: 20px;
    line-height: 28px;
  }
}

.l {
  composes: common;
  padding: 16px;

  .icon-left:not(:only-child) {
    margin-right: 16px;
  }

  .icon-right:not(:only-child) {
    margin-left: 16px;
  }

  .text {
    font-size: 16px;
    line-height: 22px;
  }
}

.xxl {
  composes: common;
  padding: 0;

  .icon-right:not(:only-child) {
    margin-bottom: 8px;
    margin-left: 8px;
  }

  .text {
    @mixin headline4;

    font-family: "PP Neue Machina", Arial, sans-serif;
    font-weight: 400;
    letter-spacing: -.01em;
  }
}

.common.border-none {
  border-color: transparent;
}

.common.border-full {
  border-color: var(--coal);
}

.common.border-right-bottom-left {
  border-color: var(--coal);
  border-top-color: transparent;
}

.common.border-bottom-left {
  border-color: var(--coal);
  border-top-color: transparent;
  border-right-color: transparent;
}

.common.border-right-bottom {
  border-color: var(--coal);
  border-top-color: transparent;
  border-left-color: transparent;
}

.common.border-top-left {
  border-color: var(--coal);
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.common.border-top {
  border-color: var(--coal);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.common.border-bottom {
  border-color: var(--coal);
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.common.full-width {
  width: 100%;
}

.common.upper-case {
  .text {
    text-transform: uppercase;
  }
}

.common.disabled {
  border-color: var(--gray);
  color: var(--gray);
  pointer-events: none;
}

.common.pressed {
  background-color: var(--coal);
  color: var(--white);
}
