$border-width: 1px;

.common {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  border: $border-width solid;
  background: 0;
  color: inherit;
  isolation: isolate;
  text-decoration: none;

  &:hover {
    border-color: transparent;
    color: var(--white);

    &::before {
      position: absolute;
      z-index: -1;
      top: -$border-width;
      left: -$border-width;
      display: block;
      width: calc(100% + $border-width);
      height: calc(100% + $border-width);
      animation: .3s background-slide ease;
      background-color: var(--coal);
      content: '';
      transform-origin: left;
    }
  }
}

.icon {
  display: block;
  width: scale(20px);
  height: scale(20px);
  flex-shrink: 0;
  font-size: 0;
  line-height: 0;
}

.icon-left {
  composes: icon;
}

.icon-right {
  composes: icon;
  order: 1;
}

.text {
  @mixin text;
}

.s {
  composes: common;
  padding: scale(10px 8px);

  .icon-left:not(:only-child) {
    margin-right: scale(8px);
  }

  .icon-right:not(:only-child) {
    margin-left: scale(8px);
  }

  .text {
    font-size: scale(16px);
    line-height: scale(20px);
  }
}

.m {
  composes: common;
  padding: scale(8px);

  .icon-left:not(:only-child) {
    margin-right: scale(8px);
  }

  .icon-right:not(:only-child) {
    margin-left: scale(8px);
  }

  .text {
    font-size: scale(20px);
    line-height: scale(28px);
  }
}

.l {
  composes: common;
  padding: scale(16px);

  .icon-left:not(:only-child) {
    margin-right: scale(16px);
  }

  .icon-right:not(:only-child) {
    margin-left: scale(16px);
  }

  .text {
    font-size: scale(16px);
    line-height: scale(22px);
  }
}

.common.border-none {
  border-color: transparent;
}

.common.common.border-full {
  border-color: var(--coal);
}

.common.border-right-bottom-left {
  border-color: var(--coal);
  border-top-color: transparent;
}

.common.border-bottom-left {
  border-top-color: transparent;
  border-right-color: transparent;
}

.common.border-right-bottom {
  border-top-color: transparent;
  border-left-color: transparent;
}

.common.full-width {
  width: 100%;
}

.common.upper-case {
  .text {
    text-transform: uppercase;
  }
}

@keyframes background-slide {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
