.section {
  display: flex;
  background: var(--beige);
}

.image {
  width: 45.83vw;
  height: 612px;
  margin-right: 4.17vw;
  object-fit: cover;
}

.content {
  display: flex;
  width: 50vw;
  flex-direction: column;
}

.dataSubtitle {
  @mixin textVerySuperLarge;
  @mixin textNeueMachina;

  padding-top: 57px;
  margin-bottom: 17px;
  text-align: left;
}

.datatext {
  @mixin textLarge;
  @mixin text;

  max-width: 28.96vw;
  margin-bottom: 80px;
  text-align: left;
}

.gridcontent {
  display: grid;
  margin-bottom: 38px;
  column-gap: 4.51vw;
  grid-template-columns: repeat(auto-fit, minmax(142px, 1fr));
  row-gap: 66px;
}

.card {
  display: flex;
  flex-direction: column;
}

.element {
  @mixin textSmall;
  @mixin text;

  max-width: 142px;
  margin-top: 20px;
}

.button.link.title {
  @mixin textVerySuperLarge;
  @mixin textNeueMachina;

  padding: 0;

  &:hover {
    color: var(--white);
  }
}

.links {
  display: grid;
  justify-content: center;
  margin-right: 6.39vw;
  margin-bottom: 141px;
  grid-template-columns: repeat(auto-fit, minmax(298px, 1fr));
}

.subsection {
  display: flex;
  flex-direction: column;
}

.subtitle {
  @mixin textVerySuperLarge;
  @mixin textNeueMachina;

  padding-top: 58px;
  margin-bottom: 35px;
}
