.wrap {
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  padding: 103px 24px 56px;
  background-color: var(--beige);
  opacity: 0;
  transition: visibility .5s, opacity .5s linear;
  visibility: hidden;
}

.isOpen {
  z-index: 1;
  opacity: 1;
  transition: visibility .5s, opacity .5s linear;
  visibility: visible;
}
