.wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  padding: scale(103px) scale(24px) scale(56px);
  background-color: var(--beige);
}

.buttons {
  display: flex;
  margin-top: scale(80px);
}
