.slider {
  display: flex;
  box-sizing: border-box;
  flex-wrap: nowrap;
  padding-left: 50%;

  @media (max-width: $tablet-portrait) {
    padding-left: 0;
  }
}

.slide {
  @mixin headline;
  @mixin headline6;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--coal);
  cursor: pointer;
}

.slide.active,
.slide:hover {
  &::before,
  &::after {
    display: block;
    width: .6em;
    height: 1.6em;
    box-sizing: border-box;
    border: scale(1px) solid currentColor;
    content: "";

    @media (min-width: 1440px) {
      width: scale(16px);
      height: scale(41px);
    }
  }

  &::before {
    border-right: 0;
    border-bottom-left-radius: 200% 100%;
    border-top-left-radius: 200% 100%;
  }

  &::after {
    border-left: 0;
    border-bottom-right-radius: 200% 100%;
    border-top-right-radius: 200% 100%;
  }
}
