.creatorList {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.title {
  @mixin text;
  @mixin textSmall;

  margin-top: scale(24px);

  &:first-of-type {
    margin-top: 0;
  }
}

.description {
  @mixin text;
  @mixin textLarge;

  margin-left: scale(28px);

  &:last-of-type {
    width: scale(420px);

    @media (max-width: $tablet-portrait) {
      width: scale(337px);
    }
  }
}
