.link {
  @mixin text;

  width: intrinsic;
  width: max-content;
  width: max-content;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  letter-spacing: -.01em;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.invert {
  transition: background-color .5s ease-in, color .5s ease-in;

  &:hover {
    background-color: var(--coal);
    color: var(--beige);
  }
}

.bottomLine {
  position: relative;
  line-height: 1;
  text-decoration: none;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--coal);
    content: "";
    transition: width .5s ease-in;
  }

  &:hover::after {
    width: 100%;
  }
}

.bottomLineAndInvert {
  position: relative;
  line-height: 1;
  text-decoration: none;
  transition: background-color .5s ease-in, color .5s ease-in;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--coal);
    content: "";
    transition: width .5s ease-in;
  }

  &:hover::after {
    width: 100%;
  }

  @media (max-width: $tablet-portrait) {
    &::after {
      width: 100%;
    }

    &:hover {
      background-color: var(--coal);
      color: var(--beige);
    }

    &:hover::after {
      width: 0%;
    }
  }
}

.textDecorationNone {
  text-decoration: none;
}

.underline {
  position: relative;
  line-height: 1;
  text-decoration: none;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--coal);
    content: "";
    transition: width .5s ease-in;
  }

  &:hover::after {
    width: 0%;
    filter: invert(100%);
  }
}

.uppercase {
  text-transform: uppercase;
}

.borderBottomLeft {
  height: 24px;
  padding-right: 9px;
  border-bottom: 1px solid var(--coal);
  border-left: 1px solid var(--coal);
}

.borderTop {
  width: inherit;
  justify-content: space-between;
  padding: 4px 7px;
  border-top: 1px solid var(--coal);
}

.label.right {
  padding-right: 8px;
}

.xs {
  @mixin textCaption;
}

.s {
  @mixin textSmallButton;
}

.m {
  @mixin textHistorySmall;
}

.l {
  @mixin headline;
  @mixin headline7;
}

.xl {
  @mixin textLarge;
}

.number {
  @mixin headline;
  @mixin headline4;
}
