.link {
  display: flex;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: inherit;
  cursor: pointer;
  letter-spacing: -.01em;

  @mixin text;
}

.invert {
  transition: background-color .5s ease-in, color .5s ease-in;

  &:hover {
    background-color: var(--coal);
    color: var(--beige);
  }
}

.link.bottomLine {
  position: relative;
  line-height: 1;
  text-decoration: none;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--coal);
    content: "";
    transition: width .5s ease-in;
  }

  &:hover::after {
    width: 100%;
  }
}

.link.bottomLineAndInvert {
  position: relative;
  line-height: 1;
  text-decoration: none;
  transition: background-color .5s ease-in, color .5s ease-in;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--coal);
    content: "";
    transition: width .5s ease-in;
  }

  &:hover::after {
    width: 100%;
  }

  @media (max-width: 576px) {
    &::after {
      width: 100%;
    }

    &:hover {
      background-color: var(--coal);
      color: var(--beige);
    }

    &:hover::after {
      width: 0%;
    }
  }
}

.textDecorationNone {
  text-decoration: none;
}

.underline {
  position: relative;
  line-height: 1;
  text-decoration: none;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--coal);
    content: "";
    transition: width .5s ease-in;
  }

  &:hover::after {
    width: 0%;
    filter: invert(100%);
  }
}

.borderBottomLeft {
  height: 24px;
  padding-right: 9px;
  border-bottom: 1px solid var(--coal);
  border-left: 1px solid var(--coal);
}

.borderTop {
  width: inherit;
  justify-content: space-between;
  padding-top: 4px;
  padding-right: 7px;
  padding-left: 7px;
  border-top: 1px solid var(--coal);
}

.label.right {
  padding-right: 8px;
}

.xs {
  @mixin textCaption;

  @media (max-width: 576px) {
    text-decoration: 1px underline;
  }
}

.xs.bottomLine {
  @media (max-width: 576px) {
    @mixin textMedium;

    text-decoration: none;
  }
}

.s {
  font-size: 16px;
  line-height: 14px;
}

.m {
  font-size: 16px;
  line-height: 24px;
}

.l {
  @mixin headline;
  @mixin headline7;
}

.xl {
  font-size: 20px;
  line-height: 28px;
}

.number {
  @mixin headline;
  @mixin headline4;
}

.container {
  display: flex;
  width: max-content;
  flex-direction: row;
  color: inherit;

  & a:nth-child(2) {
    margin: 0 8px;
  }
}
