@value tablet-portrait from "shared/styles/media.module.css";

$item-width: 240px;

.common {
  padding: 0;
  margin: 0;
  gap: 24px;
}

.scrollable {
  composes: common;
  display: flex;

  @media (max-width: $tablet-portrait) {
    @mixin hide-scrollbars;

    padding: 0 24px;
    margin: 0 -24px;
    overflow-y: auto;
  }
}

.regular {
  composes: common;
  display: flex;
}

.item {
  display: block;
  width: $item-width;

  @media (max-width: $tablet-portrait) {
    position: relative;
    min-width: 302px;
    border-top: 0;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}

.common.processing {
  opacity: .2;
}
