.common {
  display: grid;
  padding: 0;
  margin: 0;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.scrollable {
  composes: common;

  @media (max-width: $tablet-portrait) {
    @mixin hide-scrollbars;

    grid-auto-flow: column;
    grid-template-columns: auto;
    overflow-x: scroll;
  }
}

.regular {
  composes: common;

  @media (max-width: $tablet-portrait) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
