.section {
  display: grid;
  padding: calc(var(--scale) * 58) 0 calc(var(--scale) * 112);
  grid-template-areas: '. title''discussion entrance';
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: calc(var(--scale) * 7);

  @media (max-width: $tablet-portrait) {
    padding: 0 calc(var(--scale) * 24) calc(var(--scale) * 30);
    grid-template-areas: 'title''entrance''discussion';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: calc(var(--scale) * 24);
  }
}

.title {
  @mixin headline;
  @mixin headline1;

  max-width: calc(var(--scale) * 542);
  grid-area: title;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    max-width: calc(var(--scale) * 298);
  }
}

.discussionInfo {
  display: flex;
  flex-direction: column;
  padding-left: calc(var(--scale) * 125);
  grid-area: discussion;

  @media (max-width: $tablet-portrait) {
    max-width: calc(var(--scale) * 261);
    padding-left: 0;
  }
}

.discussion {
  @mixin text;
  @mixin textSmall;

  max-width: calc(var(--scale) * 325);
  padding-left: calc(var(--scale) * 25);

  @media (max-width: $tablet-portrait) {
    padding-left: calc(var(--scale) * 20);
  }
}

.info {
  @mixin text;
  @mixin textLarge;

  @media (max-width: $tablet-portrait) {
    @mixin textSmall;
  }
}

.entranceInfo {
  display: flex;
  max-width: calc(var(--scale) * 477);
  flex-direction: column;
  padding: calc(var(--scale) * 25) 0 0 calc(var(--scale) * 65);
  gap: calc(var(--scale) * 16);
  grid-area: entrance;

  @media (max-width: $tablet-portrait) {
    max-width: calc(var(--scale) * 255);
    padding: 0;
    gap: 0;
    justify-self: flex-end;
  }
}
