.addFile {
  display: flex;
  width: 100%;
  max-width: 222px;
  flex-direction: column;
}

.conteiner {
  display: flex;
  min-height: 32px;
  margin-bottom: 6px;
  background-color: var(--coal);
}

.delete {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.iconDelete {
  margin-right: 3px;
}

.name {
  @mixin textLarge;
  @mixin text;

  overflow: hidden;
  margin-right: 9px;
  color: var(--beige);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.message {
  @mixin textCaption;
  @mixin text;

  margin-bottom: 14px;
  color: #eb5757;
}

.input {
  display: none;
}

.add {
  @mixin text;

  display: flex;
  width: 100%;
  max-width: 182px;
  max-height: 31px;
  align-items: center;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--coal);
  border-left: 1px solid var(--coal);
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  line-height: 14px;
  text-transform: uppercase;
}

.iconPlus {
  width: 25px;
  height: 25px;
  margin-right: 3px;
}
