.card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: scale(32px 30px 24px);
  background-color: var(--white);

  @media (max-width: $tablet-portrait) {
    padding: scale(72px 28px 100px);
  }
}

.text {
  @mixin text;
  @mixin textLarge;

  margin-bottom: auto;
}

.info {
  padding: 0;
  margin: scale(56px 0 0);
}

.author {
  @mixin headline;
  @mixin headline7;
}

.hiddenText {
  @mixin visually-hidden;
}
