.partnersContainer {
  background-color: var(--beige);
}

.partners {
  padding: scale(70px 210px 138px 210px);

  @media (max-width: $tablet-portrait) {
    padding: scale(80px 24px 100px 24px);
  }
}
