$gap-tablet-portrait: scale(60px);
$column-count-tablet-portrait: 4;

:export {
  /* stylelint-disable property-no-unknown */
  column-count-tablet-portrait: $column-count-tablet-portrait;
  gap-tablet-portrait: $gap-tablet-portrait;
  /* stylelint-enable */
}
