@import url("./blog-entry-list.vars.module");

.root {
  display: grid;
  padding: 0;
  margin: 0;
  grid-gap: $gap-tablet-portrait;
  grid-template-columns: repeat($column-count-tablet-portrait, 1fr);

  @media (max-width: $tablet-portrait) {
    display: block;
  }
}

.column {
  min-width: 0;
}
