.container {
  display: grid;
  background-color: var(--beige);
  gap: 0 120px;
  grid-template-areas:
    ".     title"
    "intro image";
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $tablet-portrait) {
    grid-template-areas:
      "title"
      "intro"
      "image";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content) 450px;
  }
}

.title {
  @mixin headline;
  @mixin headline1;

  margin: 0 30px 63px 0;
  grid-area: title;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    margin: 0 24px 22px;
  }
}

.intro {
  @mixin headline;
  @mixin headline6;

  max-width: 420px;
  margin: 0 0 0 auto;
  font-weight: 300;
  grid-area: intro;

  @media (max-width: $tablet-portrait) {
    @mixin headline7;

    max-width: 304px;
    margin: 0 24px 36px auto;
  }
}

.image {
  position: relative;
  height: 445px;
  grid-area: image;

  @media (max-width: $tablet-portrait) {
    height: 100%;
  }
}
