.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  scroll-snap-align: start;

  @media (max-width: $tablet-portrait) {
    min-height: 0;
  }
}

.cover {
  position: relative;
  min-height: 280px;
  flex: 2 1 40vh;

  @media (max-width: $tablet-portrait) {
    height: 360px;
  }
}

.title {
  @mixin headline;
  @mixin headline1;

  margin-bottom: 16px;
  color: var(--coal);

  @media (max-width: $tablet-portrait) {
    @mixin headline4;

    margin-bottom: 12px;
  }
}

.content {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  justify-content: center;
  padding: 66px 80px 66px 460px;

  @media (max-width: $tablet-portrait) {
    padding: 32px 24px;
  }
}

.actions {
  margin-top: 16px;
}

.action {
  min-width: 360px;

  @media (max-width: $tablet-portrait) {
    min-width: 244px;
    max-width: 100%;
  }
}

.navbar {
  flex: 0 0;

  @media (max-width: $tablet-portrait) {
    order: -1;
  }

  &.pinned {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--coal);
    animation: navbar .1s linear;
    background-color: var(--beige);
    will-change: transform;

    @media (max-width: $tablet-portrait) {
      position: static;
      border: 0;
    }
  }

  &.pinned + .content {
    margin-top: var(--height-navbar-tablet-portrait);
  }
}

@keyframes navbar {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: none;
  }
}
