.root {
  position: relative;
}

.logo-canvas {
  position: relative;
  padding-bottom: 35%;
}

.link {
  color: inherit;
  text-decoration: none;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
  }
}

.title {
  @mixin visually-hidden;
}

.description {
  @mixin text;

  display: block;
  margin: 10px 0 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.compact {
  .description {
    @mixin visually-hidden;
  }
}
