.personsList * {
  box-sizing: border-box;
}

.personsList img {
  max-width: 100%;
}

.personsList {
  display: flex;
  max-width: max-content;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  row-gap: 60px;

  @media (max-width: $tablet-portrait) {
    overflow: auto;
    flex-wrap: nowrap;
    gap: 30px;
  }
}

.personsListItem {
  max-width: 210px;
}

.linear {
  margin: 0 -20px;

  .personsListItem {
    margin: 0 30px;
  }
}

.five .personsListItem {
  margin: 0 30px;
}

.four .personsListItem {
  margin: 0 15px;
}

.three .personsListItem {
  margin: 0 30px;
}

.three {
  margin: 0 -40px;

  .personsListItem:nth-child(3n+1) {
    margin-left: auto;
  }
}

.four {
  margin: 0 -20px;

  .personsListItem:nth-child(8n-4) {
    margin-left: 210px;
  }

  .personsListItem:nth-child(8n-3) {
    margin-right: 208px;
    margin-left: 256px;
  }
}

.five {
  margin: 0 -40px;

  .personsListItem:first-child {
    margin-left: 180px;
  }

  .personsListItem:last-child {
    margin-right: 180px;
  }

  .personsListItem:nth-child(3n+1) {
    margin-left: auto;
  }
}
