.regular {
  flex: 1;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.caption {
  @mixin text;

  display: block;
  margin-bottom: 16px;

  @media (max-width: $tablet-portrait) {
    max-width: 220px;
    margin-right: 16px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
  }
}

.label {
  @media (max-width: $tablet-portrait) {
    display: flex;
    justify-content: space-between;
  }
}

.hidden-caption {
  composes: regular;

  .caption {
    @mixin visually-hidden;
  }

  .control {
    @media (max-width: $tablet-portrait) {
      flex-grow: 1;
    }
  }
}
