.container {
  position: relative;
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: scale(127px) scale(70px) scale(165px);
  margin: 0 auto;

  @media (max-width: $tablet-portrait) {
    align-items: flex-start;
    padding: scale(237px) scale(24px) scale(100px);
  }
}

.picture {
  position: absolute;
  top: scale(268px);
  left: 0;
  overflow: hidden;
  width: scale(630px);
  height: scale(330px);
  object-fit: cover;

  @media (max-width: $tablet-portrait) {
    top: 0;
    width: scale(392px);
    height: scale(200px);
  }
}

.section {
  background-color: var(--beige);

  &:nth-of-type(2n) {
    background-color: var(--white);

    & .container {
      padding: scale(93px) scale(70px) scale(267px);

      @media (max-width: $tablet-portrait) {
        padding: scale(228px) scale(24px) scale(150px);
      }
    }

    & .list {
      align-self: flex-start;
    }

    & .picture {
      top: scale(277px);
      right: 0;
      left: unset;

      @media (max-width: $tablet-portrait) {
        top: 0;
      }
    }
  }
}

.title {
  @mixin headline;
  @mixin headline2;

  @media (max-width: $tablet-portrait) {
    @mixin headline4;
  }
}

.titleBox {
  width: scale(448px);
  margin: 0 0 scale(51px) scale(12px);

  @media (max-width: $tablet-portrait) {
    width: scale(323px);
    margin: 0 0 scale(24px);
  }
}

.paragraph {
  @mixin text;
  @mixin textLarge;
}

.paragraphText {
  margin-top: scale(36px);
  text-indent: scale(23px);

  &:first-of-type {
    margin-top: 0;
    text-indent: 0;
  }
}

.numberBox {
  box-sizing: border-box;

  @media (max-width: $tablet-portrait) {
    padding: 0 0 scale(16px) scale(36px);
  }
}
