.video-gallery {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding: scale(0 31px);
  margin: 0;

  @media (max-width: $tablet-portrait) {
    padding: 0;
  }
}

.video_items {
  @mixin hideScrollbar;

  display: grid;
  justify-content: center;
  gap: scale(59px);
  grid-template-columns: repeat(auto-fill, minmax(scale(299px), scale(420px)));

  @media (max-width: $tablet-portrait) {
    overflow: auto;
    justify-content: start;
    gap: scale(30px);
    grid-auto-flow: column;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
}
