.video-gallery {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding: scale(0 32px);
  margin: 0;

  @media (max-width: $tablet-portrait) {
    padding: 0;
  }
}

.video_items {
  @mixin hideScrollbar;

  display: grid;
  overflow: auto;
  box-sizing: border-box;
  justify-content: center;
  gap: scale(59px);
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  @media (max-width: $tablet-portrait) {
    justify-content: start;
    gap: scale(30px);
  }
}
