.article {
  display: flex;
  width: 587px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 72px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $tablet-portrait) {
    width: 366px;
  }
}

.title {
  width: 100%;

  @mixin headline;
  @mixin headline4;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;
  }
}

.paragraph {
  @mixin text;
  @mixin textLarge;
}

.textBox {
  width: 100%;
  box-sizing: border-box;
  padding: 16px 17px 0 61px;

  @media (max-width: $tablet-portrait) {
    padding: 16px 0 0;
  }
}

.numberBox {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 16px 61px;

  @media (max-width: $tablet-portrait) {
    padding: 0 0 16px 33px;
  }
}
