.article {
  display: flex;
  width: scale(587px);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: scale(109px);

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $tablet-portrait) {
    width: scale(366px);
    margin-bottom: scale(72px);
  }
}

.title {
  width: 100%;

  @mixin headline;
  @mixin headline4;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;
  }
}

.paragraph {
  @mixin text;
  @mixin textLarge;
}

.textBox {
  width: 100%;
  box-sizing: border-box;
  padding: scale(16px) scale(17px) 0 scale(61px);

  @media (max-width: $tablet-portrait) {
    padding: scale(16px) 0 0;
  }
}

.numberBox {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 scale(16px) scale(61px);

  @media (max-width: $tablet-portrait) {
    padding: 0 0 scale(16px) scale(33px);
  }
}
