.reportContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  padding: 213px 0 204px;

  @media (max-width: $tablet-portrait) {
    padding: 150px 0 100px;
  }
}

.reportText {
  width: 873px;

  @mixin headline;
  @mixin headline5;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;

    width: 364px;
  }
}

.reportEmail {
  @mixin headline;
  @mixin headline5;

  @media (max-width: $tablet-portrait) {
    @mixin headline6;
  }
}
